/* BLOG ARCHIVE
-------------------------------------------------- */

.arxius {
  background-color: $alt-color;
  padding-bottom: 50px;

  h1 {
    font-size: 3em;
    color: $secondary;
  }

  .blog-post {
    font-weight: bold;
    text-decoration: none;
    color: #337ab7;
  }

  .blog-date {
    background-color: $primary;
    border: 1px solid $secondary;
  }

}

/* SINGLE POSTS
-------------------------------------------------- */
.post {
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: $alt-color;

  h1 {
    color: darken($secondary, 50%);
  }

  h3 {
    font-size: small;
  }

  p {
    color: black;
    padding-right: 5%;
  }

  .comment-author {
    padding-top: 5px;
    text-align: right;
  }
}
