@import "variables";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../bower_components/fontawesome/scss/font-awesome.scss";

/* GLOBAL STYLES
-------------------------------------------------- */

body {
  padding-top: 90px;
  padding-bottom: 20px;
  color: $secondary-color;
  background-color: $primary-color;
}


/* NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;


  .container {
    padding-right: 0;
    padding-left: 0;
    font-weight: bold;
  }

  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }


  .navbar-header {
    a {
      color: $alt-color;
      font-weight: bold;
      font-size: small;

      &:hover {
        color: $alt-color;
        text-decoration: none;
      }
    }

  }

  .navbar-links {
    padding-top: 1.5%;
    ul li a{
      &:hover {
        background-color: darken($primary-color, 5%);
      }
    }
  }
}


.navbar-header img {
  padding-top: 5px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}


/* CAROUSEL
-------------------------------------------------- */

.carousel {
  height: 500px;
  margin-bottom: 60px;

  .item {
    height: 500px;
    background-color: $secondary-color;
  }
}

.carousel-caption {
  z-index: 10;
}

.fletxeta {
  margin-top: 150%;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;

    .container {
      padding-right: 15px;
      padding-left: 15px;
    }

    .navbar {
      padding-right: 0;
      padding-left: 0;
      border-radius: 4px;
    }
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}


/* BLOG ARCHIVE
-------------------------------------------------- */

.arxius {
  background-color: $alt-color;
  padding-bottom: 50px;

  h1 {
    font-size: 3em;
    color: $secondary-color;
  }

  .blog-post {
    font-weight: bold;
  }

  .blog-date {
    background-color: $primary-color;
    border: 1px solid $secondary-color;
  }

}

/* SINGLE POSTS
-------------------------------------------------- */
.post {
  margin-top: 10px;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: $alt-color;

  h1 {
    color: darken($secondary-color, 50%);
  }

  h3 {
    font-size: small;
  }

  p {
    color: black;
    padding-right: 5%;
  }

  .comment-author {
    padding-top: 5px;
    text-align: right;
  }
}


/* TRADUCCIO
-------------------------------------------------- */

.traduccio {
  background-color: $alt-color;
}