@import "variables";
@import "blog";
@import "traduccio";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../bower_components/fontawesome/scss/font-awesome.scss";

/* GLOBAL STYLES
-------------------------------------------------- */

body {
  padding-top: 87px;
  @media (max-width: $screen-sm-max) {
    padding-top: 50px;
  }
  padding-bottom: 20px;
  color: $secondary-color;
  background-color: $primary-color;
}


/* NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;


  .container {
    padding-right: 0;
    padding-left: 0;
    font-weight: bold;
  }

  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }


  .navbar-header {
    a {
      color: $alt-color;
      font-weight: bold;
      font-size: small;

      &:hover {
        color: $alt-color;
        text-decoration: none;
      }
    }

  }

  .navbar-links {
    padding-top: 1.5%;
    ul li a{
      &:hover {
        background-color: darken($primary-color, 5%);
      }
    }
  }
}


.navbar-header img {
  padding-top: 5px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}


/* CAROUSEL
-------------------------------------------------- */

.carousel {
  //min-height: 600px;

  .item {
    min-height: 600px;
    @media (max-width: $screen-md-max) {
      min-height: 400px;
    }
    background-color: $secondary-color;
  }

  .first-slide {
    background: url('/images/Slider1.jpg') no-repeat center;
    background-size: cover;
  }
  .second-slide {
    background: url('/images/Slider2.png') no-repeat center;
    background-size: cover;
  }
  .third-slide {
    background: url('/images/Slider3.jpg') no-repeat center;
    background-size: cover;
  }
  .last-slide {
    background: url('/images/Slider4.png') no-repeat center;
    background-size: cover;
  }

}

.carousel-caption {
  z-index: 10;
}

.titol-portada {
  background-color: rgba(0, 0, 0, 0.7);
}

.fletxeta {
  margin-top: 150%;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 500px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: $screen-md-min) {
  .navbar-wrapper {
    margin-top: 20px;

    .container {
      padding-right: 15px;
      padding-left: 15px;
    }

    .navbar {
      padding-right: 0;
      padding-left: 0;
      border-radius: 4px;
    }
  }

  .carousel-caption p {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 1.4;
  }

}




