{% extends 'base.html' %}

{% block content %}
<div class="container-fluid traduccio">
    <h1>Contactar</h1>

    <p>A Catux ens agrada ajudar i és per això que hem habilitat diversos canals per poder contactar amb nosaltres:</p>

    <ul>
    	<li><h3>Llista de correu</h3> <a href="https://llistes.catux.org/cgi-bin/mailman/listinfo">https://llistes.catux.org/cgi-bin/mailman/listinfo</a></li>
    	<li><h3>Informació</h3> <p><a href="mailto:info@catux.org">info@catux.org</a></p></li>
    	<li><h3>Telegram</h3></li>
    </ul>

	<hr>
</div>


{% endblock %}
