{% extends 'base.html' %}

{% block content %}
    <div id="homepage-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#homepage-carousel" data-slide-to="1"></li>
            <li data-target="#homepage-carousel" data-slide-to="2"></li>
            <li data-target="#homepage-carousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slide -->
        <div class="carousel-inner" role="listbox">
            <div class="item active first-slide">
                <div class="container">
                    <div class="carousel-caption titol-portada">
                        <p>Activa des del 2003, l'associació ha potenciat l'ús de Programari Lliure per tota Catalunya mitjançant xerrades, Install Parties, stands d'informació, ...</p>
                    </div>
                </div>
            </div>
            <div class="item second-slide">
                <div class="container">
                    <div class="carousel-caption titol-portada">
                        <h1>Traduccions</h1>
                        <p>Contribuïm a la comunitat realitzant traduccions al Català de diverses aplicaciones de Programari Lliure. </p>
                    </div>
                </div>
            </div>
            <div class="item third-slide">

                <div class="container">
                    <div class="carousel-caption titol-portada">
                        <h1>Catux-USB</h1>
                        <p>Pioners en l'ús de distribucions "live" per a pendrives que poden desar el seu estat a disc. </p>
                    </div>
                </div>
            </div>
            <div class="item last-slide">
                <div class="container">
                    <div class="carousel-caption titol-portada">
                        <h1>Més coses!</h1>
                        <p>Disposem de una llista de distribució per xerrar sobre programari lliure, muntem una aula d'informàtica utilitzant només programari lliure per la Universitat Catalana d'Estiu, fem una trobada per sopar cada nadal i moltes altres coses!</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carousel controls -->
        <a class="left carousel-control" href="#homepage-carousel" role="button" data-slide="prev">
            <i class="fletxeta fas fa-chevron-left" aria-hidden="true"></i>
            <span class="sr-only">Prèvia</span>
        </a>

        <a class="right carousel-control" href="#homepage-carousel" role="button" data-slide="next">
            <i class="fletxeta fas fa-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">Següent</span>
        </a>

    </div> <!-- ./carousel -->

{% endblock %}
