{% extends 'base.html' %}

{% block content %}
    <div id="homepage-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#homepage-carousel" data-slide-to="1"></li>
            <li data-target="#homepage-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slide -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="{{ homepage }}/images/Slider1.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Traduccions</h1>
                        <p>Pupita se calle ustée pecador a peich. Me cago en tus muelas te va a hasé pupitaa por la gloria de mi madre. </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="{{ homepage }}/images/Slider2.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Catux-USB</h1>
                        <p>Mamaar se calle ustée se calle ustée se calle ustée te voy a borrar el cerito. </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="{{ homepage }}/images/Slider3.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Llistes</h1>
                        <p>Lorem fistrum ahorarr por la gloria de mi madre me cago en tus muelas fistro. </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carousel controls -->
        <a class="left carousel-control" href="#homepage-carousel" role="button" data-slide="prev">
            <i class="fletxeta fa fa-chevron-left" aria-hidden="true"></i>
            <span class="sr-only">Prèvia</span>
        </a>

        <a class="right carousel-control" href="#homepage-carousel" role="button" data-slide="next">
            <i class="fletxeta fa fa-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">Següent</span>
        </a>

    </div> <!-- ./carousel -->

{% endblock %}