{% extends 'base.html' %}


{% block content %}
    <div class="container-fluid">

        <div class="post">
            <a href="{{ homepage }}post_list.html">
                <i class="fas fa-chevron-left"></i>
                Arxius
            </a>

            <h1>
                {% block title %}
                    Default title
                {% endblock %}
            </h1>

            <h3>
                Escrit al
                {% block post_date %}
                Indefinit
                {% endblock %}
                per
                {% block author %}
                Anónim
                {% endblock %}
            </h3>

            <p>
                {% block post %}
                    Sense contingut
                {% endblock %}
            </p>

            <h3>
                Categories:
                {% block categories %}
                    Default categories
                {% endblock %}
            </h3>

            <hr />
            <h1>Comentaris</h1>
            <ul class="list-group">
                {% block comments %}
                    Sense Comentaris
                {% endblock %}
            </ul>


            <a href="{{ homepage }}post_list.html">
                <i class="fas fa-chevron-left"></i>
                Arxius
            </a>
        </div>

    </div>

{% endblock %}
