{% extends 'base.html' %}

{% block content %}
<div class="container-fluid traduccio">
    <h1>Traduccions de Catux</h1>

    <p>Intro al que fem i tal ...</p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="holder.js/300x300">
                <h4>Pydance</h4>
                <p>
                    Pim Pam mola i tal
                </p>
                <p>
                    <a href="#">Enllaç</a>
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="holder.js/300x300">
                <h4>Pydance</h4>
                <p>
                    Pim Pam mola i tal
                </p>
                <p>
                    <a href="#">Enllaç</a>
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="holder.js/300x300">
                <h4>Pydance</h4>
                <p>
                    Pim Pam mola i tal
                </p>
                <p>
                    <a href="#">Enllaç</a>
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="holder.js/300x300">
                <h4>Pydance</h4>
                <p>
                    Pim Pam mola i tal
                </p>
                <p>
                    <a href="#">Enllaç</a>
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="holder.js/300x300">
                <h4>Pydance</h4>
                <p>
                    Pim Pam mola i tal
                </p>
                <p>
                    <a href="#">Enllaç</a>
                </p>
            </div>
        </div>
    </div>


</div>
{% endblock %}