{% extends 'base.html' %}

{% block content %}
<div class="container-fluid traduccio">
    <h1>Traduccions de Catux</h1>

    <p>A Catux col·laborem a més amb el món del programari lliure traduint algunes aplicacions al català.</p>

    <p>La selecció de programes que traduïm, com podeu veure, és molt diversa i eclèctica.
        El sistema d'elecció depèn directament dels traductors, però s'accepten els vostres suggeriments!</p>

    <p>Per la traducció emprem diferents recursos, com ara:</p>

    <ul>
        <li>
            Els recursos dels companys de <a href="https://softcatala.org">Softcatalà</a> particularment la
            <a href="https://www.softcatala.org/wiki/Guia_d%27estil/Guia_2010">guia d'estil</a>
            i el <a href="https://www.softcatala.org/recursos/terminologia.html"> glossari</a>.
        </li>
        <li>Els serveis del termcat, com el <a href="http://www.termcat.cat/ca/Cercaterm/">cercaterm</a>.</li>
        <li>Diccionaris bilingües com ara <a href="http://www.wordreference.com/">wordreference</a>.</li>
        <li>Diccionaris de català com ara el <a href="http://dlc.iec.cat/"> diec</a>.</li>
    </ul>


    <p>El procés de traducció comença amb la selecció del programa a traduir.
        Mirem quins fitxers cal traduir, si ja hi ha algú treballant en la traducció
        al català i ens posem en contacte amb els desenvolupadors per comunicar-los
        que volem traduir el seu programa i si els sembla correcte.</p>

    <p>Habitualment els programes font usen un format estàndard de traducció basat en fitxers de tipus
        «po» que es diu «gettext» (https://ca.wikipedia.org/wiki/Gettext). Per tractar aquests fitxers de manera amigable, usem els programes:</p>

    <ul>
        <li><a href="https://poedit.net/">poedit</a></li>
        <li><a href="https://wiki.gnome.org/Apps/Gtranslator">gtranslator</a></li>
    </ul>

    <p>A mida que es va fent la traducció, una segona persona revisa la traducció
        i es discuteixen els desacords. Per coordinar-ho tot plegat disposem d'una llista de correu.
        Us hi podeu donar d'alta a <a href="http://catux.org/mailman/listinfo/traduccio">http://catux.org/mailman/listinfo/traduccio</a>.
    </p>

    <hr />

    <h2>Llista de programes que hem traduït fins ara per odre alfabètic</h2>
    <br >

    <div class="modal fade" id="thumbnail-modal" tabindex="-1" role="dialog" aria-labelledby="thumbnail-modal-label" aria-hidden="true">
          <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-body">
                      </div>
                </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="row">

        {% for traduccio in traduccions %}
            <div class="col-sm-6 col-md-3 miniatura">
                <div class="thumbnail">
                    <img src="{{ homepage }}images/traduccio-screens/{{ traduccio.imatge }}" width="255">
                    <div class="caption">
                        <h4>{{ traduccio.nom }}</h4>
                        <p>
                            {{ traduccio.descripcio }}
                        </p>
                        <p>
                            <a role="button" class="btn btn-primary" href="{{ traduccio.link }}">Enllaç <i class="fa fa-external-link"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>


</div>


<script language="JavaScript">
$(document).ready(function(){
   $('.thumbnail img').on('click',function(){
        var src = $(this).attr('src');
        var img = '<img src="' + src + '" class="img-responsive"/>';
        $('#thumbnail-modal').modal();
        $('#thumbnail-modal').on('shown.bs.modal', function(){
            $('#thumbnail-modal .modal-body').html(img);
        });
        $('#thumbnail-modal').on('hidden.bs.modal', function(){
            $('#thumbnail-modal .modal-body').html('');
        });
   });
})
</script>
{% endblock %}