
    {% extends 'post_template.html' %}

    {% block title %}
        El pare de Linux a València
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-04-04 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Doncs sembla ser, que el proper mes de maig, Linus Torvalds visitar&agrave; Val&egrave;ncia i visitar&agrave; el Congr&eacute;s de Programari Lliure, que es celebrar&agrave; en aquesta mateixa ciutat. <br /> <br /> A m&eacute;s a m&eacute;s de Linus Torvalds tamb&eacute; s&#39;ha convidat a Ian Murdock i Richard Stallman.<br /> <br /> Pot ser una bona excursi&oacute; pels dies 6, 7 i 8 de maig ;)<br /> <br /> Not&iacute;cia arribada al correu i contrastada amb <a href="http://www.upseros.net/noticias/noticias.php?c=linux&amp;n=260">http://www.upseros.net/noticias/noticias.php?c=linux&amp;n=260</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Jornades a Manresa Algu sap si per les jornades de programari lliure que es faran a Manresa, vindrà algó famós del mon de GNU/Linux<p class="comment-author">Escrit al 2006-12-25 21:38:45 per Reguitzell</p></li><li class="list-group-item comment">RE: Jornades a Manresa 
Dons segons ens van comentar a la reunió, van dir que volien portar algun desenvolupador actiu del kernel.

Aviam a qui ens porten :)<p class="comment-author">Escrit al 2006-12-25 21:42:01 per whats_up</p></li>
    {% endblock %}

    