
    {% extends 'post_template.html' %}

    {% block title %}
        Agilitzant els menús de Gnome
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2006-12-11 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Despr&eacute;s de pensar que el retard d&#39;aparici&oacute; dels men&uacute;s del Gnome era culpa meva, descobreixo que no, que no &eacute;s res m&eacute;s que un par&agrave;metre a la configuraci&oacute; del GTK.<br /> <br /> Creem un document de nom .gtkrc-2.0 i hi escrivim el seg&uuml;ent par&agrave;metre: gtk-menu-popup-delay = 0<br /> Reiniciem Gnome i els men&uacute;s surten a la velocitat de la llum!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    