
    {% extends 'post_template.html' %}

    {% block title %}
        aMSN Plus! 1.1
    {% endblock %}

    {% block author %}
        mark
    {% endblock %}

    {% block post_date %}
        2004-11-18 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui he alliberat aMSN Plus! 1.1, que &eacute;s un plugin per l&#39;aMSN que intenta oferir les possibilitats del MSN Plus! per l&#39;aMSN i, amb aquesta nova versi&oacute; hi ha un bug corregit.<br /> A m&eacute;s, amb la seg&uuml;ent versi&oacute; de l&#39;aMSN (0.95) els plugins vindran traduits i si us poseu la cvs de l&#39;aMSN i l&#39;aMSN Plus! veureu el plugin en catal&agrave; (si &eacute;s que ho teniu configurat aix&iacute;).<br /> Espero que us agradi.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: aMSN Plus! 1.1 WoW
Moltes gràcies :-)
De totes formes hi ha novetats a la cvs que, de moment, no són compatibles amb la versió 0.94 (només amb la cvs), cosa que espero arreglar tant aviat com pugui ;-)<p class="comment-author">Escrit al 2006-12-28 16:17:45 per mark</p></li>
    {% endblock %}

    