
    {% extends 'post_template.html' %}

    {% block title %}
        Apreneu a despullar persones utilitzant el GIMP
    {% endblock %}

    {% block author %}
        tutoricat
    {% endblock %}

    {% block post_date %}
        2006-04-20 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">A Tutoricat (<a href="http://www.tutoricat.rescat.net/">www.tutoricat.rescat.net</a>) hem creat un tutorial per a despullar per GIMP. Aquesta &eacute;s nom&eacute;s la primera part, per&ograve; m&eacute;s tard incorporarem la segona. En aquesta part hem despullat els pits, i estem fent la regi&oacute; p&uacute;bica per a la segona part.<br /> Les desc&agrave;rregues s&oacute;n disponibles als usuaris registrats.<br /> <br /> <a href="http://tutoricat.rescat.net/index.php?option=com_mtree&amp;task=viewlink&amp;link_id=38&amp;Itemid=99999999">Enlla&ccedil; a la p&agrave;gina de detalls&quot;</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    