
    {% extends 'post_template.html' %}

    {% block title %}
        Aquest diumenge no hi ha Catux
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-04-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui, 23-04-2006 no hi haur&agrave; trobada Catux ja que la majoria de membres estan a la IPARTY8.<br /> <br /> Ah, i feli&ccedil; Sant Jordi!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    