
    {% extends 'post_template.html' %}

    {% block title %}
        Aquesta nit Richard M. Stallman al Canal 33
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-04-29 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aquesta nit, RMS ser&agrave; entrevistat al programa <a href="http://www.tvcatalunya.com/ptvcatalunya/tvcPrograma.jsp?seccio=tvcat&amp;idint=126213162">&laquo;La nit al dia&raquo; </a> del Canal 33 per M&ograve;nica Terribas. Ser&agrave; a las 23:30.<br /> <br /> Aix&iacute; que ja sabeu, per fi fan alguna cosa bona per la TV :D</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Recuperant l'entrevista.... M'han passat aquest link, pot ser us interessarà, si us vau perdre l'entrevista de l'Stallman.

http://www.iua.upf.es/~mdeboer/rsnitdia.avi

bon profit<p class="comment-author">Escrit al 2006-12-25 23:09:08 per Anònim</p></li><li class="list-group-item comment">RE: Recuperant l'entrevista... Ueee!!!! Com t'ho has currat nanu!, ens acaves de donar una alegria a mi i a tots els k ens hem de llevar super dora al matí.
:)<p class="comment-author">Escrit al 2006-12-25 23:09:41 per whats_up</p></li>
    {% endblock %}

    