
    {% extends 'post_template.html' %}

    {% block title %}
        Asterisk a Catux
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2008-04-18 19:02:10
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Aquest diumenge ens trobarem a les 18h al C/ Dr. Tarrés 24 de St. Joan de Vilatorrada com és habitual.</p><p>Si ens va bé a tots (si no va bé actualitzarem la notícia) farem proves amb Asterisk: instal·lar el programari (fàcil), esperem que registrar algun telèfon IP o bé softphones, fer trucades entre nosaltres i també fer trucades a telèfons mòbils des d'Internet. </p><p>Qui ens vulgui conèixer o saber-ne una mica més serà benvingut. És un tema molt divertit i visual. </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    