
    {% extends 'post_template.html' %}

    {% block title %}
        Avui comença la Campus Party
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-07-26 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Doncs avui ha comen&ccedil;at la <a href="http://web4.campus-party.org/">VII Campus Party</a>, esperem que el pinux l&#39;aprofiti for&ccedil;a! (no mostris el teu potencial amb el typespeed :P).<br /> Al febrer ens haurem de plantejar si apuntar-nos-hi i anar-hi l&#39;any que v&eacute;, no? <br /> No estaria malament &quot;Catux a la campus!&quot; ^^</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">pozí 
A la zona on estic i més trossos fins ara no hi ha hagut Internet, primer post des de Catux i acció meva amb internet

recordssss!!!!<p class="comment-author">Escrit al 2006-12-28 13:07:19 per cpina</p></li>
    {% endblock %}

    