
    {% extends 'post_template.html' %}

    {% block title %}
        Avui diumenge
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2006-12-03 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui tenim horari de Catux &#39;standard&#39;. &Eacute;s a dir, de 6 a 9. I qu&egrave; hi farem? Doncs acabar el que tenim pendent i alguna coseta m&eacute;s.<br /> <br /> - Instal&middot;laci&oacute; d&#39;Ubuntus massiva<br /> - Configuraci&oacute; de l&#39;acceleraci&oacute; gr&agrave;fica (crec que les targes que hi han en tenen)<br /> - Comentar la proposta del hacklab (incl&ograve;s el tema de la clau GNUPG)<br /> <br /> Els que no pugueu venir, potser estaria be que en parl&eacute;ssim per missatgeria instant&agrave;nia!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Avui diumenge 
Crec que heu oblidat dir on ens podem comunicar per missatgeria instantània :-)

Crec que el millor seria a IRC (FreeNode, no?) a algun canal (Catux?)<p class="comment-author">Escrit al 2006-12-29 17:01:49 per cpina</p></li><li class="list-group-item comment">Re: Avui diumenge 
al final, servidor freenode canal catux :-)<p class="comment-author">Escrit al 2006-12-29 17:02:38 per cpina</p></li>
    {% endblock %}

    