
    {% extends 'post_template.html' %}

    {% block title %}
        Barcelona, ciutat candidata per a la GUADEC 2006
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2005-02-09 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">S&#39;est&agrave; preparant la candidatura de <a href="http://www.bcn.es/">Barcelona</a> per a acollir la <a href="http://www.guadec.org/">GUADEC</a> 2006, la trobada europea d&#39;usuaris i desenvolupadors de <a href="http://gnome.org/">GNOME</a>. La <a href="http://foundation.gnome.org/">GNOME Foundation</a> calcula que un miler de persones participaran en aquest esdeveniment.<br /> <br /> Cal tenir un dossier preparat d&#39;aqu&iacute; a un mes. Podeu col&middot;laborar sobretot amb adhesions, idees i el que se us acudeixi.<br /> <br /> M&eacute;s informaci&oacute;: <a href="http://www.lafarga.org/node/view/257">http://www.lafarga.org/node/view/257</a><br /> <br /> Adhesions: <a href="http://guadec.rinho.net/suports.php">http://guadec.rinho.net/suports.php</a><br /> <br /> [Extret de la llista de distribuci&oacute; de <a href="http://lists.debian.org/debian-user-catalan">debian-user-catalan</a>]</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    