
    {% extends 'post_template.html' %}

    {% block title %}
        Bon Nadal i feliç any 2005!
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-12-24 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Primer de tot, <strong>Bon Nadal i Feli&ccedil; Any Nou</strong> a tots els lectors i lectores de la Web!<br /> <br /> <img src="http://www.catux.org/arxius/nadal2004.jpg" alt="Postal de Nadal 2004" /><br /> <br /> Per posar una vesant m&eacute;s formal, podeu <a href="http://www.etnocat.org/festa/nadal/tio/index.html">llegir</a> una mica m&eacute;s de la hist&ograve;ria de Nadal. I a <a href="http://www.totnadal.com/tradicions.html">aquesta p&agrave;gina</a> hi ha una mica de variat de les tradicions Nadalenques per casa nostra.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">ven a folar ome una mica de educació aixo esta pasat de moda home.
Osigi aixo es de l\'any 2005 i ara quasi ja som a l\'any 2008 avera si una altre dia quant enti a aquesta pagina web trobi una postal de nadal mes bonica i que sigui de l\'any 2008 no de fa 4 anys endarrera<p class="comment-author">Escrit al 2007-12-04 14:13:55 per nawal</p></li>
    {% endblock %}

    