
    {% extends 'post_template.html' %}

    {% block title %}
        Bug Party - Clean code party
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-08-15 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aquesta tarda de 18:00 a 22:00 comen&ccedil;a la bug party i la clean code party de la nostre web. En ella intentarem arreglar tots els possibles errors que puguin haver a la web, i netejar i endre&ccedil;ar el m&agrave;xim possible el codi font. Si esteu interessats a participar virtualment envieu-nos un correu a catux@catux.org. Tenim participants f&iacute;sics i virtuals, per tant no hi ha excusa :)<br /> &Eacute;s possible que trobeu molt moviment i que apareguin/desapareguin coses, etc., no us espanteu ;)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    