
    {% extends 'post_template.html' %}

    {% block title %}
        Caminada al Collbaix
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2008-05-24 12:15:57
    {% endblock %}

    {% block categories %}
        Informació general, Nosaltres
    {% endblock %}

    {% block post %}
        <p>Tal i com es va <a href="pipermail/llista/2008-May/003975.html">comentar</a> a la <a href="cgi-bin/mailman/listinfo">llista de Catux</a>, el diumenge passat uns quants (pocs) vem pujar al Collbaix. La ruta va ser Manresa - St. Joan de Vilatorrada (local de Catux) - Collbaix - Manresa, i vem caminar unes 3 hores 30 min. aprox. amb les respectives parades per berenar, fotos, descansar, etc.<br /><br />Recordeu que part del moviment del dia a dia de Catux succeeix a la llista i que us hi podeu apuntar fàcilment des de la <a href="cgi-bin/mailman/listinfo">seva pàgina Web.</a> Un cop apuntats rebreu els mails del què anem xerrant i també en podreu contestar, etc.<br /> </p><img src="images/stories/webp1150610.jpg" border="0" /><br /><br /><br /><img src="images/stories/webp1150620.jpg" border="0" /><br /><br /><img src="images/stories/webp1150607.jpg" border="0" /><br />
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    