
    {% extends 'post_template.html' %}

    {% block title %}
        Campionat pydance
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2008-10-25 20:26:40
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Catux ja ha organitzat el concurs de Pydance a Can Gallifa. Després d'engegar una mica lentament (la gent costava que s'hi animés), el campionat ha estat un èxit absolut amb una nombrosa participació juvenil.<br /><br />Després del campionat hi ha hagut una breu participació de Catux a Ràdio St. Joan.</p><p>Felicitats als dos mestres de cerimònia: Fran i Pinucset! Han portat el muntatge perfectament. </p><p>Properament posarem algunes fotos.</p><p>Hem preparat un petit document PDF amb algunes explicacions del pydance i el Programari Lliure que demà diumenge també repartirem. </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    