
    {% extends 'post_template.html' %}

    {% block title %}
        Campanya de Microsoft per desprestigiar Linux
    {% endblock %}

    {% block author %}
        Crade
    {% endblock %}

    {% block post_date %}
        2004-04-20 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Microsoft ha preparat un pla de dos anys per estudiar i conv&egrave;ncer al mercat que Linux ni &eacute;s m&eacute;s barat, ni m&eacute;s segur davant dels virus i dels intrusos, ni m&eacute;s innovador que Windows. </span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">No hi ha com tenir diners... Jo pensava que GNU/Linux era l'única "cosa" que es podia enfrontar amb Microsoft, ja que era l'unica "cosa" que no podien comprar.

Tot i així, no em fa gaire gràcia que M$ intenti menjar l'olla a la gent, ja que per desgràcia la majoria de gent d'aquest planeta, és MOLT influenciada per el que surt per la TV.<p class="comment-author">Escrit al 2006-12-25 22:52:48 per whats_up</p></li><li class="list-group-item comment">Re: No hi ha com tenir diners. 
Whats_up, els espais també són caràcters especials, i també hi hauries de ficar "\" ;)
No només no pot comprar GNU/Linux... Si ja ho saps!!!
(Pensa que sóc corrector i et puc censurar el què em responguis.... :S Encara que tu també em pots borrar... jejeejje PAU AL MÓN! I A CATUX TAMBÉ)<p class="comment-author">Escrit al 2006-12-25 22:53:42 per Anònim</p></li><li class="list-group-item comment">Re: Re: No hi ha com tenir din Ospes, me'n adono que no és que t'hagis equivocat, sinó que al ficar cometes simples o dobles, es deu barrejar amb el codi de la pàgina i surten sols... :S Disculpes... ;___(<p class="comment-author">Escrit al 2006-12-25 22:54:08 per Anònim</p></li><li class="list-group-item comment">Re: Re: No hi ha com tenir din Ets un desastre.... , sempre t'ho he dit... :)<p class="comment-author">Escrit al 2006-12-25 22:54:48 per whats_up</p></li>
    {% endblock %}

    