
    {% extends 'post_template.html' %}

    {% block title %}
        Canet de Fals
    {% endblock %}

    {% block author %}
        admin
    {% endblock %}

    {% block post_date %}
        2006-12-29 17:53:09
    {% endblock %}

    {% block categories %}
        Els nostres pobles, Nosaltres
    {% endblock %}

    {% block post %}
        <p>Canet de Fals &eacute;s un ve&iuml;nat de Fonollosa.</p><p>&nbsp;</p><p>&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Canet de Fals Canet de Fals  
El nucli urbà de Canet de Fals està situat a la zona oriental del municipi de Fonollosa, enmig del terme de Fals, de camí cap a Sant Joan de Vilatorrada. Aquesta urbanització, que tradicionalment havia estat de segona residència, cada vegada s’està confirmant més com a primera. Aquest fet l’indiquen les dades de població, que han passat de poc mes de 200 habitants fa deu anys a 559, a l’actualitat.

Compta amb unes vuit-centes parcel·les, de les quals, aproximadament cinc-centes ja estan edificades. És la típica manifestació de l’ocupació il·legal del sòl i edificació sense suport legal del planejament, que realitzaren tant i tants promotors al nostre país, sense dotar-la dels serveis més bàsics com clavegueram. Va iniciar-se a principis dels anys seixanta, i  va conèixer la seva màxima expansió a la dècada dels setanta.

El nom del nucli urbà li ve donar pel seu promotor, Lluís Canet i Foix, i pel terme on es va aixecar, Fals. Està dividida en dos sectors, l’anomenat sector 1 o Canet de baix, i el conegut com el Pla de la Vila; el primer situat cap al fons de la vall i l’altre a l’altiplà. 

Compta amb dos recintes esportius dotats de piscines, pistes de tennis i de futbol, i està en uns moments de canvi. Recentment, ha finalitzat un llarg procés de reparcel·lació, està a punt d’iniciar-se un projecte d’urbanització que ha de dotar al nucli de tots els serveis urbanístics, i s’està planificant la construcció del consultori mèdic. Tots aquests serveis, així com la seva situació, donaran al nucli de Canet d’una qualitat de vida envejable. 
 
Font: http://canetdefals.cat<p class="comment-author">Escrit al 2007-12-18 12:21:32 per canetenc</p></li>
    {% endblock %}

    