
    {% extends 'post_template.html' %}

    {% block title %}
        Canvi en la numeració del kernel de linux: 2.6.x.y
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-10-30 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Segons <a href="http://kerneltrap.org/node/view/4100">llegeixo</a> sembla que els programadors del nucli Linux, estan pensant de fer canvis en la numeraci&oacute; de les versions del kernel.<br /> <br /> La idea &eacute;s afegir les noves funcionalitats a la versi&oacute; 2.6.10, i anar estabilitzant la versi&oacute; 2.6.9 i anar fent versions com 2.6.9.1, 2.6.9.2, ....<br /> <br /> Un cop sort&iacute;s la 2.6.10, anirien estabilitzant-la i afegir&iacute;em les seves funcionalitats noves a la 2.6.11.<br /> <br /> Personalment em sembla que m&#39;agradava m&eacute;s quan hi havia les versions parells i senars :P</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    