
    {% extends 'post_template.html' %}

    {% block title %}
        Catix, distribució GNU/Linux totalment en Català
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-06-18 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ha sortit una nova distribuci&oacute; de GNU/Linux basada en Knoppix i totalment en catal&agrave;. Podeu llegir-ne m&eacute;s <a href="http://www.softcatala.org/noticies/18062004119.htm">aqu&iacute;</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    