
    {% extends 'post_template.html' %}

    {% block title %}
        Catux a la Fiberparty
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2008-01-26 16:42:48
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Els dies 29 de febrer, 1 i 2 de març tindrà lloc la <a href="http://www.fiberparty.org/">Fiberparty 2008</a> al  Poliesportiu del Campus Nord de la UPC de Barcelona.</p><p>&nbsp;</p><p>Catux hi te de nou un destacament. Si esteu interessats a venir amb nosaltres, feu-nos-ho saber o apunteu-vos directament al grup «catux».</p><p>&nbsp;</p><p>I si no us voleu afegir al nostre grup però passeu per allà, veniu a saludar-nos! </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Del 29 de març al 2 de febrer? ;-)<p class="comment-author">Escrit al 2008-01-27 11:16:45 per None</p></li><li class="list-group-item comment">correcció Uo! Ja he corregit els mesos. Gràcies Anònim!<p class="comment-author">Escrit al 2008-02-07 07:40:05 per Mecatxis</p></li>
    {% endblock %}

    