
    {% extends 'post_template.html' %}

    {% block title %}
        Catux a la UCE 2008
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2008-08-15 14:47:37
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Ja és el tercer any que Catux participa a la <a href="uce.cat">UCE</a> gestionant l'aula d'informàtica.</p><p>Aquest és l'aspecte que te l'aula aquest any: </p><div style="text-align: center"><a href="fotos/pictures/DSC00614_medium.JPG"><img src="fotos/pictures/DSC00614_medium.JPG" border="0" alt="L'aula i els primers usuaris" width="268" height="201" /></a></div> <p>Si voleu veure la resta de fotos, les trobareu com sempre a <a href="fotos/index.php?list=34">catux.org/fotos</a> </p><p>&nbsp;</p>  <p>&nbsp;</p> <div style="text-align: center"> </div><div style="text-align: center">  <br /></div><div style="text-align: center"> </div><p>&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    