
    {% extends 'post_template.html' %}

    {% block title %}
        CaTuX-USB
    {% endblock %}

    {% block author %}
        Pachu
    {% endblock %}

    {% block post_date %}
        2004-07-09 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Coincidint amb la pon&egrave;ncia que realitzarem dissabte a les 10 del mat&iacute; a les jornades de programari lliure, des de Catux, anunciem el llan&ccedil;ament de la distribuci&oacute; que s&#39;ha creat a la nostra associaci&oacute;.<br /> <br /> El seu nom &eacute;s Catux-USB, una distribuci&oacute; pensada per a dispositius USB (amb arrancada des d&#39;el mateix USB) basada, en un principi, en Knoppix (basada al mateix temps en Debian), per&ograve; modificada de tal manera que ens ofereix les prestacions d&#39;una distribuci&oacute; completa, amb l&#39;eina apt-get totalment operativa amb la peculiaritat de poder escriure en tot el sistema. A part d&#39;altres propietats que ja veureu ;)<br /> <br /> En resum, un sistema port&agrave;til i complet.<br /> <br /> Ja us comunicarem d&#39;on la podreu descarregar.<br /> <br /> Esperem que la testejeu i envieu els vostres comentaris i els possibles bugs que pogueu trobar. :)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Llocs de descàrrega En aquest moment ja es pot baixar dels següents llocs:

http://catux.org/distribucions/catux/<p class="comment-author">Escrit al 2006-12-26 01:18:33 per jvprat</p></li><li class="list-group-item comment">Felicitats Avui he vist com funciona a les III Jornades de Programari Lliure i m'ha agradat molt, sobretot el sistema de fitxers e2compr.

Felicitat i endavant<p class="comment-author">Escrit al 2006-12-26 01:19:12 per toni</p></li>
    {% endblock %}

    
