
    {% extends 'post_template.html' %}

    {% block title %}
        Catux a Deb a Day
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2007-08-14 21:27:50
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Ja vam comentar que ajudar&iacute;em (fent traduccions de l&#39;angl&egrave;s al catal&agrave; per nosaltres, o fent articles originals) a la Web <a href="http://debaday.debian.net">Deb a Day</a> . </p><p>&nbsp;</p><p>Un enlla&ccedil; a la primera col&middot;laboraci&oacute;: <a href="http://debaday.debian.net/2007/08/12/xdiskusage-where-is-the-space/&quot;">xdiskusage</a>.</p><p>Ben aviat estar&agrave; disponible en catal&agrave; aqu&iacute;.&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    