
    {% extends 'post_template.html' %}

    {% block title %}
        Catux surt anomenada al diari presència
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2007-05-14 15:11:54
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        Per tots aquells que llegiu algun di&agrave;ri catal&agrave;, &eacute;s provable que hagueu vist que aquest dissabte Catux va sortir anomenat al suplement pres&egrave;ncia que ve amb uns quants diaris. Visca Catux! :)
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    