
    {% extends 'post_template.html' %}

    {% block title %}
        Catux a Linux Format
    {% endblock %}

    {% block author %}
        baixominho
    {% endblock %}

    {% block post_date %}
        2004-10-24 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Acabo de comprar la &quot;Linux Format&quot; (www.linuxformat.co.uk) de Novembre de 2004 i veig que al DVD hi ha la Catux. &Eacute;s clar que segurament ja ho sabeu, per&ograve; us ho dic perqu&egrave; suposo que us far&agrave; gr&agrave;cia. <br /> <br /> L&#39;enhorabona per la vostra feina.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Catux a Linux Format Ostres gràcies!!

Jo personalment no ho sabia!

I hi ha algun escrit a la revista? o "només" hi ha la Catux-USB dins el DVD?

Intentaré aconseguir-la, la Linux Format en versió anglesa o hi ha versió castellana?

On l'has comprat?<p class="comment-author">Escrit al 2006-12-28 16:02:27 per cpina</p></li><li class="list-group-item comment">Re: Catux a Linux Format No es mereixen.
Només m'he pogut mirar per sobre la revista, però em fa l'efecte que, efectivamente, "només" hi ha la Catux i un parell de referències, a la descripció del DVD (p. 119, és un simples llistat de soft) i a l'índex (p.5, hi diu "Catux-USB Bootable and executable Linux USB distribution: get portable!"). Al DVD hi ha una secció de distros, amb la Catux, la Damn Small i la Mepis (al número anterior, sembla que hi havien ficat la Gentoo i ara volen deixar respirar el personal ;-)
La revista l'he comprat a Viana do Castelo (em temo que et queda una mica lluny), una vila del nord de Portugal. Jo visc a Tui i hi vaig tot sovint, perquè tenen premsa internacional i és un autèntic plaer poder comprar-te la "Linux Pratique" (francesa), la mateixa "Linux Format" (anglesa) i alguna brasilera (aquestes arriben amb retard, això sí: l'última que tenen porta la Fedora 1). Paradoxalment, a Portugal hi ha poc moviment Linux (amb execepcions lloables, com la Paipix i la CaixaMágica).<p class="comment-author">Escrit al 2006-12-28 16:03:08 per Anònim</p></li>
    {% endblock %}

    