
    {% extends 'post_template.html' %}

    {% block title %}
        Catux a la Fira Festa a St. Joan de Vilatorrada
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2009-10-23 19:31:19
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Dissabte 24 d'octubre a la tarda i diumenge 25 d'octubre se celebra la Fira Festa a St. Joan de Vilatorrada.</p>
<p> </p>
<p>Un any més Catux hi participarà: concurs de Pydance en català (amb premis!) i qualsevol persona que ens vulgui conèixer es pot apropar per comentar-nos el què calgui, dubtes de GNU/Linux, portar-nos amics que volen introduir-se al món, ballar una estona amb nosaltres, etc.</p>
<p> </p>
<p>La Web amb una mica d'informació de l'event es pot <a href="http://www.santjoanv.org/noticia.php?nId=488169019&Titol=Fira++Festa+Tardor++2009+Sant+Joan++de+Vilatorrada&cRef=%2Findex.php%3F">trobar aquí.</a></p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    