
    {% extends 'post_template.html' %}

    {% block title %}
        Catux a la iparty9
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2007-04-13 00:41:49
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Aquest cap de setmana es celebra la <a href="http://iparty9.aditel.org/">iparty9</a>     a la <a href="http://www.uji.es">Universitat Jaume I  </a> de Castell&oacute; de l Plana.</p><p>&nbsp;</p><p>Com les dues edicions anteriors, Catux hi te representaci&oacute;. enguany en les persones de jvprat i mecatxis.&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">iparty9 Ostres quina enveja us tinc!!! jo també hi volia anar ja que aquest any el programa és molt interessant, fins i tot hi ha LinuxShow!!<p class="comment-author">Escrit al 2007-04-13 12:14:10 per franhp</p></li>
    {% endblock %}

    