
    {% extends 'post_template.html' %}

    {% block title %}
        Catux al aKademy 2006
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-03-05 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p><span class="noticia">Avui, tres membres de Catux (Pinux, Pinucset y G&yacute;rux) han assistit al aKademy 2006, event a Barcelona que reuneix empaquetadors, releasers, traductors, programadors i usuaris de KDE.<br /> <br /> Han parlat persones tant rellevants en el m&oacute;n de KDE com Antonio Larrosa i Albert Astals, entre d&#39;altres.<br /> <br /> El primer ens ha mostrat varies aplicacions del KDE (com Amarok, Kioslave, Kontact o Kmail) mostrant-nos els detalls m&eacute;s profunds i l&#39;Albert ens ha explicat qu&egrave; &eacute;s KDE de varies maneres, a mode d&#39;introducci&oacute;.<br /> <br /> Dir que quan el Larrosa comen&ccedil;ava a explicar m&eacute;todes de desenvolupament del KDE hem hagut de marxar.</span></p><p><span class="noticia"><br /> Tot i aix&iacute; han estat unes jornades molt productives.</span></p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    