
    {% extends 'post_template.html' %}

    {% block title %}
        Catux al Fosdem
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2009-01-31 11:59:18
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>El proper cap de setmana tres components de Catux (Mecatxis, Mario i jo mateix) anem al Fosdem, a Bruseles.</p><p>Si algun amic de Catux deixa algun comentari podem saludar-nos per allà o podeu deixar un comentari. O bé ja ens veurem sobre la marxa: camiseta de Catux.</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    