
    {% extends 'post_template.html' %}

    {% block title %}
        Catux a Fira Festa
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2008-10-25 09:52:31
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Catux ja ha preparat la paradeta per Fira Festa, a St. Joan de Vilatorrada, Can Gallifa (entrar per la carretera pel pont blau i anar cap a la dreta, hi ha una fira infantil just davant de l'edifici de Can Gallifa).</p><p>Si algú ens vol conèixer hi és benvingut. Dissabte 25 a la tarda es farà el concurs de Pydance, i diumenge 26 cap a les 18h la reunió de Catux. Les altres hores podem ajudar a instal·lar GNU/Linux, fer petar la xerrada, ensenyar l'Asus EEEPC amb Linux, etc. </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    