
    {% extends 'post_template.html' %}

    {% block title %}
        Catux al Periodico de Catalunya
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-09-29 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Encara no he pogut confirmar la not&iacute;cia, per&ograve; avui quan anava cap a la feina, m&#39;he trobat un amic que m&#39;ha dit que ens ha vist a El Periodico de Catalunya. Resulta que ell estava al bar de la uni, quan ha vist la nostra foto. <br /> La mala not&iacute;cia &eacute;s que jo no hi sortia. Ser&agrave; dif&iacute;cil, per&ograve; ho superar&eacute; ;)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Ja sé on M'acabo de comprar el Periódico de Catalunya un dia després (he comprat el d'ahir).

Estem a un apartat que posa "e-notici@s" (sembla una especie de suplement tecnològic, però va tot grapat) a la pàgina 3 del suplement aquest.

A la foto es veu la presentació, diapositiva 1 (la de títol), hi ha el Sachiel i el Jordi!!
També es veu una camiseta al revés, un tros de pancarta (posa "CA") i una persona més a primer pla mirant llibres de l'stand de l'UPC.

Amb perdó: QUINA RÀBIA :-D sabia que el Dissabte tarda o Diumenge al matí que va ser quan no hi vaig ser passaria alguna cosa així!!!! :-))
Felicitats als famosos :-)

A més, sota el monitor es llegeix perfecte "Catux" amb el full que teniem (es veuque no som Catix), i fan una entrevista a Jaume Oliveras, de l'ajuntament.<p class="comment-author">Escrit al 2006-12-28 15:30:37 per cpina</p></li><li class="list-group-item comment">Re: Catux al Periodico de Cata Ueeeee! Si us plau, porta'l aquest diumenge a Catux, que em fa ilu veure'm! *^_^*<p class="comment-author">Escrit al 2006-12-28 15:32:51 per Sachiel</p></li>
    {% endblock %}

    