
    {% extends 'post_template.html' %}

    {% block title %}
        Catux a Firafesta, St. Joan de Vilatorrada
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-10-27 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aquest cap de setmana &eacute;s la Firafesta a St. Joan de Vilatorrada (a un parell de Km. de Manresa). Aqu&iacute; en podeu <a href="http://www.santjoanv.org/acte.php?nId=930870727&amp;cTitol=FIRA-FESTA+TARDOR+2006+%28veure+programa+apart%29&amp;cRef=%2Findex.php%3F">llegir m&eacute;s informaci&oacute;.</a><br /> <br /> Catux, igual que en edicions anteriors, tindr&agrave; la seva paradeta amb informaci&oacute; sobre Programari Lliure, CD&#39;s... Per suposat estarem disponibles per resoldre dubtes i ensenyar-vos com funciona GNU/Linux instal&middot;lat a alguns port&agrave;tils, etc.<br /> <br /> No dubteu en visitar-nos o enviar-hi familiars i amics interessats amb el tema.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    