
    {% extends 'post_template.html' %}

    {% block title %}
        Catux a la Fiberparty (3): Victòria!
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2008-03-08 13:21:44
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Del pas de Catux per la Fiberparty en quede sobretot, tres coses:</p><p>&nbsp;</p><p>- El trofeu de primers classificats del concurs de seguretat</p><p>&nbsp;</p><p>- El trofeu de primer classificat de concurs de programació freak</p><p>&nbsp;</p><p>- El mini-reportatge que van fer a RAC1 on es pot escoltar un dels nostres membres (jo mateix) :)</p><p>&nbsp;</p><p><a href="fotos/index.php?id=2567">Aquí</a>  teniu la foto dels trofeus</p><p>&nbsp;</p><p><a href="arxius/Fiberparty2008.ogg">Aquí</a>  el mini-reportatge </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    