
    {% extends 'post_template.html' %}

    {% block title %}
        Catux-USB a la Sólo Linux
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-09-06 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Per fi es pot trobar als quioscos la revista <strong>S&oacute;lo Linux</strong>, que aquest mes porta un reportatge (partit en dues parts) de la <a href="http://www.catux.org/catux-usb">Catux USB</a>.<br /> <br /> El reportatge inclou una part d&#39;explicaci&oacute; te&ograve;rica amb captures de pantalla, i una part pr&agrave;ctica de com instal&middot;lar-la al Pendrive. En total 5 p&agrave;gines amb tot detallat pas a pas.<br /> <br /> El mes que v&eacute; publicarem aquest article aqu&iacute;, mentrestant es pot comprar la revista, no desaprofitis aquesta ocasi&oacute;!! </span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">RE: Catux-USB a la Sólo Linux Molt xula, aviam si akesta tarda m'en puc agafar una, pq akest matí he anat a 2 quioscos i no n'h havien... :_

Visca Catux!<p class="comment-author">Escrit al 2006-12-28 14:55:12 per whats_up</p></li><li class="list-group-item comment">Un apunt Només volia indicar que hi ha un punt de l'article on es diu que només es pot utilitzar el kernel 2.4.x degut al e2compr

Doncs informo que des del 25/08/2004 hi ha una alpha per el kernel 2.6.8.1<p class="comment-author">Escrit al 2006-12-28 14:55:52 per Anònim</p></li>
    {% endblock %}

    