
    {% extends 'post_template.html' %}

    {% block title %}
        Catux a la Fiberparty (2)
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2008-03-01 12:33:44
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Doncs ja hi som!</p><p>&nbsp;</p><p>Com podeu veure a <a href="fotos/index.php?id=2554">aquesta</a>  foto, els companys de Catux ja som a la Fiberparty, concretament a la fila G, entrant a la dreta. Busqueu el TUX!</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    