
    {% extends 'post_template.html' %}

    {% block title %}
        Cedega: O com jugar als jocs de Windows a GNU/Linux
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-05-26 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia"><a href="http://www.transgaming.com/">Cedega</a> &eacute;s una aplicaci&oacute; que permet jugar a jocs nom&eacute;s suportats a l&#39;entorn Windows a GNU/Linux d&#39;una manera molt f&agrave;cil i la majoria de vegades transparent.<br /> <br /> T&eacute; una interf&iacute;cie anomenada Point2Play en la qual tot &eacute;s molt f&agrave;cil, s&#39;instal&middot;len els jocs seleccionant el Setup.exe del CD del joc i s&#39;executa fent clic a una icona que ell crea.<br /> <br /> TransGaming (empresa que s&#39;encarrega de Cedega) permet que els usuaris votin per escollir quin joc volen que sigui suportat i tamb&eacute; ofereix servei t&egrave;cnic.<br /> <br /> Malauradament &eacute;s una aplicaci&oacute; privativa i que s&#39;ha de pagar una quota mensual de 5 euros, compilar de CVS (dif&iacute;cil) o baixar-se la demo (15 dies) per tal de poder-la usar.<br /> <br /> Completament recomenable per jugar des de GNU/Linux.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Cedega: O com jugar als jo hola

no entenc, es privativa i permet que te baixes el codi font del cvs? al cvs no hi ha el codi font? Privativa no implica codi tancat? potser no seria més aviat un programa open source de pagament?

L'altra cosa, perque no poseu algun enllaç cap a la web de cedega? ja sabem tots buscar al google, pero si se parla sobre un tema es documenta una mica la noticia, no creieu?


salutacions :PP<p class="comment-author">Escrit al 2006-12-29 16:23:45 per Anònim</p></li>
    {% endblock %}

    