
    {% extends 'post_template.html' %}

    {% block title %}
        Com allargar la vida de les bateries
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2005-12-24 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p><span class="noticia">Tot i que aix&ograve; no &eacute;s ni una not&iacute;cia ni una novetat, he decidit posar-ho a la web, ja que segur que com jo, a molts de vosaltres us ser&agrave; de gran servei.<br /> <br /> Ja portava messos amb ganes de buscar un bon article on expliqu&eacute;s quines s&oacute;n les recomanacions a seguir per tal d&#39;allargar la vida de les bateries de port&agrave;tils, mobils, i altres gadgets.<br /> <br /> M&#39;he sorpr&eacute;s molt al veure que les costums que seguia per tal d&#39;allargar la vida de les meves bateries, realment no tenen aquest afecte.<br /> <br /> Espero que el trobeu tant interessant com jo.<br /> <br /> <a href="http://www.batteryuniversity.com/parttwo-34.htm">http://www.batteryuniversity.com/parttwo-34.htm</a></span><br />&nbsp;</p><span class="noticia"><a href="http://www.batteryuniversity.com/parttwo-34.htm"></a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Com allargar la vida de le 
Bon document, sí senyor.

Almenys tindrem alguna cosa per explicar als dinars/sopars de nadal... xD<p class="comment-author">Escrit al 2006-12-29 15:46:45 per Anònim</p></li>
    {% endblock %}

    