
    {% extends 'post_template.html' %}

    {% block title %}
        Com canviar els botons de les finestres a GNOME
    {% endblock %}

    {% block author %}
        Pachu
    {% endblock %}

    {% block post_date %}
        2005-05-25 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">A vegades, ens pot interesar canviar l&#39;ordre dels botons de minimitzar, maximitzar, tancar i opcions a les finestres.<br /> Doncs en GNOME &eacute;s molt senzill de fer.<br /> <br /> Hem d&#39;anar al men&uacute; del quadre:<br /> <br /> Aplicacions-&gt;Sistema-&gt;Editor de la configuraci&oacute;<br /> <br /> Un cop all&agrave;, anirem a apps-&gt;metacity i veurem que si despleguem metacity i seleccionem general, apareix l&#39;opci&oacute; button_layout.<br /> <br /> El valor de button_layout &eacute;s:<br /> <br /> menu:minimize,maximize,close<br /> <br /> Doncs nom&eacute;s haurem de canviar-los, on els dos punts separa la dreta de l&#39;esquerra.<br /> <br /> Aix&iacute; ser&agrave; f&agrave;cil emular les finestres d&#39;un MacOSX</span>.
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">XFCE! M'ha sobtat que diguessis que és molt senzill de fer, comparant-ho amb com ho tenim a XFCE (de bon rotllo! ;)<p class="comment-author">Escrit al 2006-12-29 01:24:22 per jvprat</p></li>
    {% endblock %}

    