
    {% extends 'post_template.html' %}

    {% block title %}
        Com posar la data a la catalana a Kubuntu
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-07-19 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">En una instal&middot;laci&oacute; per defecte de Kubuntu 6.06 la data queda en format no catal&agrave; (any/mes/dia), i aix&ograve; pot resultar un inconvenient per a molta gent. <br /> Per tant fem clic dret al rellotge, anem a &quot;Format del dia&quot; i hora i a la pestanya &quot;Hora i Dates&quot; i a &quot;Format de data curta&quot; canviem l&#39;ordre ficant DD-MM-YYYY.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Com posar la data a la cat AAAAMMDD és format ANSI<p class="comment-author">Escrit al 2006-12-29 16:40:18 per Anònim</p></li><li class="list-group-item comment">Re: Com posar la data a la cat a gnome ja ve posat bé per defecte :P<p class="comment-author">Escrit al 2006-12-29 16:41:24 per grap</p></li><li class="list-group-item comment">Re: Com posar la data a la cat Any/mes/dia no es el format japones?

Pensava que el format anges era mes/dia/any.<p class="comment-author">Escrit al 2006-12-29 16:42:39 per Sachiel</p></li>
    {% endblock %}

    