
    {% extends 'post_template.html' %}

    {% block title %}
        Com desactivar Snap Shot
    {% endblock %}

    {% block author %}
        admin
    {% endblock %}

    {% block post_date %}
        2008-01-21 22:07:55
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Moltes vegades ens voldriem desempallegar d&#39;aquestes &quot;molestes&quot; finestretes que surten amb una previsualitzaci&oacute; de la web cada cop que passem per sobre d&#39;un enlla&ccedil;. La soluci&oacute; &eacute;s molt senzilla!</p><p>&nbsp;</p><p>Nom&eacute;s haurem d&#39;escriure &quot;javascript:toggleSPA(false)&quot; (sense les cometes) a la barra d&#39;adre&ccedil;es del nostre navegador i posteriorment haurem de buidar la nostre mem&ograve;ria cau i recarregar la p&agrave;gina. Alternativament podeu fer click <a href="javascript:toggleSPA(false)">aqu&iacute;</a> .</p><p>&nbsp;</p><p>Recordeu que aquesta soluci&oacute; afecta a les galetes i si les borrem, perdrem el que acabem de fer.&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">jo ho he fet diferent :) Jo només he fet clic a l\'enllaç i he recarregat la pàgina (prement F5) i ja no m\'han sortit les finestres. Crec que el toggleSPA és una variable que es desa a la galeta i, per tant,  si després les buides et quedes com estaves.<p class="comment-author">Escrit al 2008-01-22 12:23:50 per Mecatxis</p></li><li class="list-group-item comment">Gràcies Gràcies per l'apunt  :)<p class="comment-author">Escrit al 2008-03-12 11:03:43 per franhp</p></li>
    {% endblock %}

    