
    {% extends 'post_template.html' %}

    {% block title %}
        Com fer que Ubuntu sigui estèticament igual a Mac OSX
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-06-29 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Molta gent usa Ubuntu perqu&egrave; &eacute;s programari lliure, per&ograve; potser est&egrave;ticament prefereix Mac OS X.<br /> <br /> <a href="http://users.utu.fi/ljtaim/ubuntuosx.php">Aquesta guia</a> &eacute;s pels que, sense voler renunciar a les llibertats del programari lliure volen tenir una Ubuntu est&egrave;ticament igual a un Mac OS X.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Com fer que Ubuntu sigui e Dos punts en contra d'aquesta guia.
Primer, en referencia a la barra de les aplicacions tipus mac OS X, existeix un projecte anomenat engage que ho feia bastant be.
Segon, en referencia a tenir que utilitzar el xcompmgr, es pot arribar a superar aixó amb XGL, ara que esta la cosa més estable.
PD: Per cert, xcompmgr es un projecte casi desert ara, només va ser un experiment.<p class="comment-author">Escrit al 2006-12-29 16:38:34 per grap</p></li>
    {% endblock %}

    