
    {% extends 'post_template.html' %}

    {% block title %}
        Comanda Ubuntus o Kubuntus
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-06-15 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Hola,<br /> <br /> com hem fet varies vegades a Catux farem un pedido conjunt d&#39;Ubuntus i Kubuntus a Canonical, els quals envien el n&uacute;mero de CDs que volguem gratis.<br /> <br /> Si alg&uacute; vol que n&#39;hi demanem expressament per ell ho pot dir aqu&iacute; i qualsevol diumenge les pot venir a buscar.<br /> <br /> PD: Mentrestant el preu del nou Windows Vista PRO es mant&eacute; a 650 euros...</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Comanda Ubuntus o Kubuntus El preu d'una cosa que no es ven (es ven el Windows Vista?) és car. Però hi ha una cosa pitjor: NO ÉS LLIURE! (trucar si canvies el maquinari, no pots veure què fa el teu ordinador, etc. etc. etc.)<p class="comment-author">Escrit al 2006-12-29 16:27:04 per cpina</p></li>
    {% endblock %}

    