
    {% extends 'post_template.html' %}

    {% block title %}
        Compatibilitat Windows - Linux
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-04-10 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ja ha sortit la versi&oacute; beta de &quot;Windows Services for Unix 3.5&quot; (actualitzada a 8 d&#39;abril), que &eacute;s una col&middot;lecci&oacute; d&#39;eines pels administradors de xarxes Windows pensades per facilitar-ne la integraci&oacute; dins d&#39;entorns heterogenis. Entre d&#39;altres caracter&iacute;stiques permet la sincronitzaci&oacute; de contrasenyes entre entorns Unix (Solaris, HP-UX, AIX i Linux) i Windows (2000 Professional, 2000 Server, XP i Server 2003).<br /> La podeu baixar de la p&agrave;gina de M$ clicant <a href="http://www.microsoft.com/downloads/details.aspx?familyid=896c9688-601b-44f1-81a4-02878ff11778&amp;displaylang=en">aqu&iacute;</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    