
    {% extends 'post_template.html' %}

    {% block title %}
        Concurs per posar veu a pydance
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2008-05-04 18:39:05
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Una de les parts més importants del pydance és el disc joquei que ens va dient el que pot mentre ballem, és per això que necessitem traduir-les al català. Entre jo i en mecatxis hem començat a gravar-ne unes quantes i ens agradaria saber que us semblen, si en faríeu més, consells, ... tots els comentaris són benvinguts! </p><p>Hem pujat totes les nostres gravacions a la següent adreça: </p><p><a href="arxius/announcer/">http://catux.org/arxius/announcer/</a></p><p>Comenteu! </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    