
    {% extends 'post_template.html' %}

    {% block title %}
        Configurar mozilla (about:config)
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2005-04-11 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aquest <a href="http://www.linuxjournal.com/article/8004">article</a>, explica alguns trucs per tal de poder tunejar el nostre Mozilla. A Catux ja va apar&egrave;ixer anteriorment una <a href="http://www.catux.org/index.php?num=256">not&iacute;cia</a> per l&#39;estil, per&ograve; aquest petit article, ho amplia una mica.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    