
    {% extends 'post_template.html' %}

    {% block title %}
        Consola "Linux Powered"
    {% endblock %}

    {% block author %}
        Sachiel
    {% endblock %}

    {% block post_date %}
        2005-09-19 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Segur que la majoria heu sentit a parlar de la Nintendo DS i de la PSP, per&ograve; heu de saber que no s&oacute;n les &uacute;niques consoles port&agrave;tils que podeu trobar al mercat. La <a href="http://www.gbax.com/">GP2X</a> n&#39;&eacute;s una d&#39;elles, que tot i no tenir al darrere tanta publicitat, cont&eacute; un Linux en el seu interior, oferint moltes possibilitats extres a part de jugar. I la seva relaci&oacute; calitat-preu segurament tamb&eacute; est&agrave; m&eacute;s ajustada.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Consola "Linux Powered" 
També s'hauria de destacar que disposarà d'un SDK lliure (la seva anterior versió ja en disposava GP32), però es limitarà als jocs en 2D degut a les seves especificacions tecniques. Una llàstima, encara que el seu preu serà molt més competitiu i disposarem d'un ampli homebrew com va succeir a la GP32.<p class="comment-author">Escrit al 2006-12-29 02:04:59 per Anònim</p></li>
    {% endblock %}

    