
    {% extends 'post_template.html' %}

    {% block title %}
        Creative Commons en Català
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-09-29 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Finalment, i despr&eacute;s d&#39;esperar for&ccedil;a, el proper Divendres es presentar&agrave; a la <a href="http://www.ub.es/">Universitat de Barcelona</a> la llic&egrave;ncia <a href="http://creativecommons.org/projects/international/es-ca/">Creative Commons en catal&agrave;</a>. Aquesta llic&egrave;ncia &eacute;s la que fem servir pels continguts de la nostra Web.<br /> Aqu&iacute; <a href="http://lists.ibiblio.org/pipermail/cc-cat/2004-September/000008.html">teniu un missatge</a> convidant a assistir-hi. Hi pot anar tothom qui vulgui.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    