
    {% extends 'post_template.html' %}

    {% block title %}
        Crida a tots els traductors
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2005-11-29 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Feia temps que el projecte de traducci&oacute; no es movia i hem decidit tornar-lo a reprendre.<br /> Traduirem Gallery, programa que es pot veure a l&#39;enlla&ccedil; <a href="http://catux.org/fotos">Fotos</a>, que encara no t&eacute; projecte en catal&agrave;.<br /> Aquest cop utilitzarem el wiki en comptes del Kartouche, amb una nova normativa, que es pot trobar <a href="http://www.catux.org/wiki/index.php/Manual">aqu&iacute;</a>.<br /> Si es volen plantejar nous projectes nom&eacute;s heu que proposar-ho a la <a href="http://catux.org/cgi-bin/mailman/listinfo/traduccio">llista de traducci&oacute;.</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    