
    {% extends 'post_template.html' %}

    {% block title %}
        Curs de MySQL: documentació
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-05-30 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui s&#39;ha acabat el primer curs de varis cursos/tallers que es faran a Catux.<br /> <br /> Deixo la documentaci&oacute; del curs al &quot;repositori&quot; de cursos, <a href="http://catux.org/cursos/cursos/mysql-catux.tar.gz">aqu&iacute;</a>. Est&agrave; en format de presentaci&oacute; del OpenOffice i consisteix dels varis fitxers dels temes. <br /> <br /> Dono les gr&agrave;cies als que hi heu assistit i espero que us ho hagueu passat tan b&eacute; com jo fent-ho, tot i anar una mica curts de temps al final de la darrera sessi&oacute;.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    