
    {% extends 'post_template.html' %}

    {% block title %}
        Curs de MySQL. Sessió 2
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-05-19 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Es recorda que aquest Diumenge hi ha la segona part del curs de MySQL.<br /> <br /> Ser&agrave; al FORMAT (Av. Torrent del Canig&oacute; n&ordm; 54, <a href="http://www.santjoanv.org/">St. Joan de Vilatorrada</a>).<br /> <br /> Seria convenient que els assistents us apuntareu al <a href="http://catux.org/wiki/index.php?pagename=Cursos&amp;action=edit">Wiki.</a><br /> <br /> Tracterem els temes d&#39;&iacute;ndexs, Normalitzaci&oacute; de BBDD (aix&ograve; &eacute;s molt curt, merament orientatiu), Tipus de Taules de MySQL que inclou taules InnoDB amb transaccions, claus for&agrave;nies, etc.<br /> <br /> Els assistents s&#39;els facilitar&agrave; documentaci&oacute; i qualsevol persona hi pot assistir.<br /> <br /> Es prega puntualitat, el curs comen&ccedil;a a les 18h, acabant-se entre les 20:20h i 20:30h.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Curs de MySQL. Sessió 2 I aquesta documentació la fareu accesible via web/ftp??
No estaria malament, oi?

Salutacions i felicitats per la vostra iniciativa.<p class="comment-author">Escrit al 2006-12-29 01:03:47 per Anònim</p></li>
    {% endblock %}

    