
    {% extends 'post_template.html' %}

    {% block title %}
        Curset aquest diumenge
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2005-08-20 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">El proper diumenge dia 21 a les 18h, a la nostra <a href="http://www.catux.org/index.php?contingut=articles&amp;num=73">seu</a> es realitzar&agrave; un curset sobre an&agrave;lisis forenses en sistemes Linux i *BSD. Tot i que comen&ccedil;ar&agrave; a nivell b&agrave;sic, s&#39;arribar&agrave; a aprofundir i a aplicar aquesta teoria amb exemples reals.<br /> <br /> Aquest curset entra en els cursos subvencionats pel Departament d&#39;Universitats, Recerca i Societat de la Informaci&oacute;.<br /> <br /> Per venir no cal fer inscripci&oacute;, i no cal dir que el curset &eacute;s gratu&iuml;t :)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Curset aquest diumenge La veritat és que ja el tenim mitg preparat, i pinta mooolt bé. Per fer les proves usarem una imatge real d'una partició en la que un hacker va "treballar-hi", i recuperarem arxius, i veurem que va arrivar a fer, fins i tot podrem arrivar a executar arxius que va baixar feia una setmana!!! :)

Us hi esperem!<p class="comment-author">Escrit al 2006-12-29 01:54:16 per whats_up</p></li><li class="list-group-item comment">Re: Curset aquest diumenge 
penjareu alguna cosa, es que no hi podre assistir !!!<p class="comment-author">Escrit al 2006-12-29 01:56:03 per Anònim</p></li><li class="list-group-item comment">Re: Curset aquest diumenge 
Jo tampoc hi podré assistir, espero que pogueu penjar algunes coses! :-)<p class="comment-author">Escrit al 2006-12-29 01:56:50 per cpina</p></li><li class="list-group-item comment">Re: Curset aquest diumenge 
Doncs si, almenys les transparències. :)

PD: Per la llista s'havia proposat de grabar l'audio. No se si al final algú ho acavarà fent.<p class="comment-author">Escrit al 2006-12-29 01:57:50 per whats_up</p></li>
    {% endblock %}

    