
    {% extends 'post_template.html' %}

    {% block title %}
        Curs MySQL. Sessió 3 i última.
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-05-28 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Dem&agrave; Diumenge es far&agrave; a la seu de Catux (al Format) l&#39;&uacute;ltima part de MySQL.<br /> <br /> Consistir&agrave; en uns selects m&eacute;s avan&ccedil;at i una introducci&oacute; a l&#39;administraci&oacute; de MySQL (usuaris, logs binaris, variables de MySQL, etc.) Com sempre ser&agrave; de les 18h fins cap a les 20:20 aprox.<br /> <br /> Mes informaci&oacute; a les dues not&iacute;cies anteriors, de la <a href="http://www.catux.org/index.php?num=303">segona sessi&oacute;</a> i <a href="http://www.catux.org/index.php?num=300">primera sessi&oacute;.</a><br /> <br /> No cal dir que el curs tot i ser l&#39;&uacute;ltima classe est&agrave; obert a tothom qui vulgui i pugui venir.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    