
    {% extends 'post_template.html' %}

    {% block title %}
        Curs de LaTeX/LyX
    {% endblock %}

    {% block author %}
        Sachiel
    {% endblock %}

    {% block post_date %}
        2005-08-21 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">El dimarts i el dimecres es far&agrave; un curs sobre LaTeX i LyX. Ser&agrave; un curs molt pr&agrave;ctic, enfocat a aprendre com funcionen aquestes eines per poder comen&ccedil;ar a practicar-hi inmediatament. Fins i tot s&#39;ensenyar&agrave; com utilitzar l&#39;editor emacs per realitzar documents en LaTeX, afegint-hi funcionalitats especials.<br /> <br /> El curs es repartir&agrave; en dos dies, el dimarts de 5 a 8 i el dimecres de 5 a 7, amb un total de 5 hores. Tots els interessats apunteu-vos al <a href="http://www.catux.org/wiki/index.php?pagename=CursLatex">wiki</a>.<br /> <br /> NOTA: Com que el dimarts vam fer 4 hores, la clase de dimecres es prosposa fins a nou av&iacute;s.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Curs de LaTeX/LyX HOla voldria sapiguer si hi ha slides disponibles.
Gràcies<p class="comment-author">Escrit al 2006-12-29 01:58:28 per Anònim</p></li>
    {% endblock %}

    