
    {% extends 'post_template.html' %}

    {% block title %}
        Deb a Day: un altre article de Catux
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2008-01-19 16:53:21
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>S&#39;ha publicat un altre article de Catux a la p&agrave;gina Web <a href="http://debaday.debian.net/">Debian Package of the Day</a>.</p><p>&nbsp;</p><p><a href="http://debaday.debian.net/2008/01/16/synergy-sharing-the-keyboard-and-mouse/&quot;">L&#39;article</a> tracte sobre <a href="http://synergy2.sourceforge.net/">Synergy</a>, un sistema per compartir teclat i ratol&iacute; entre ordinadors.</p><p>&nbsp;</p><p>Properament tindrem una traducci&oacute; de l&#39;article al catal&agrave; aqu&iacute; mateix.&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">l\'enllaç no va ep! l\'enllaç a l\'artícle no funciona!<p class="comment-author">Escrit al 2008-01-23 21:08:06 per Mecatxis</p></li>
    {% endblock %}

    