
    {% extends 'post_template.html' %}

    {% block title %}
        Debian fa anys altre cop
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-08-06 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">El dia 16 d&#39;Agost Debian far&agrave; 11 anys. Aix&iacute; que falten uns 10 dies pel seu aniversari.<br /> <br /> <a href="http://www.debian.org/doc/manuals/project-history/index.en.html#contents">Aqu&iacute;</a> podem veure la hist&ograve;ria de Debian. La data inicial va ser <a href="http://www.debian.org/doc/manuals/project-history/ch-intro.en.html">16 d&#39;Agost de 1993</a>, amb el <a href="http://groups.google.com/groups?selm=CBusDD.MIK%40unix.portal.com&amp;output=gplain">missatge </a>, a les news de <a href="http://catux.org/fotos/FOTOS-3JPL/tn/webp1010066.jpg.html">Ian Murdock</a> (la foto &eacute;s de les Jornades passades), i moltes de les coses que va comentar segueixen vigents avui dia.<br /> <br /> Pels curiosos, <a href="http://www.jeepster.org.uk/history.html">aqu&iacute; </a> podem veure la hist&ograve;ria de Slackware, s&oacute;n m&eacute;s o menys contempor&agrave;nies.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Felicitats! Com a regal d'aniversari... potser tocaria fer la bug-party que portem temps comentant? :P

Encara que sembla que coincidirà amb la 2ª game-party que tenim prevista :(<p class="comment-author">Escrit al 2006-12-28 14:02:04 per jvprat</p></li><li class="list-group-item comment">no sé 
No sé si estaré aquell Diumenge, potser només em puc passar una estona... (és que m'agradaria participar-hi :-) )<p class="comment-author">Escrit al 2006-12-28 14:03:03 per cpina</p></li>
    {% endblock %}

    