
    {% extends 'post_template.html' %}

    {% block title %}
        Debian Sarge!
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-06-06 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">No veig l&#39;anunci oficial per&ograve; estar&agrave; al caure (i jo no estar&eacute; a casa). Sabeu qu&egrave; hi ha <a href="http://cdimage.debian.org/debian-cd/current/i386/iso-cd/">aqu&iacute;</a>? Segurament s&#39;estan fent les c&ograve;pies pel m&oacute;n...<br /> <br /> Nota: s&eacute; que la not&iacute;cia no ser&agrave; original, per&ograve; crec que s&#39;ha de posar!<br /> Nota2: no s&eacute; perqu&egrave; ha desaparegut la not&iacute;cia unes hores, ja tenia comentaris. La torno a posar.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Debian Sarge! Si serveix de més indicació, el nombre de RC bugs s'està tornant a disparar, tant en el compte oficial com en d'altres. Suposo que això confirma que han tancat el congelador.<p class="comment-author">Escrit al 2006-12-29 01:26:08 per Anònim</p></li><li class="list-group-item comment">Re: Debian Sarge! Si serveix de més indicació, el nombre de RC bugs s'està tornant a disparar, tant en el compte oficial com en d'altres. Suposo que això confirma que han tancat el congelador.<p class="comment-author">Escrit al 2006-12-29 01:26:44 per Anònim</p></li>
    {% endblock %}

    