
    {% extends 'post_template.html' %}

    {% block title %}
        Debian i NON-FREE
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-04-10 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Finalment i despr&eacute;s de molta pol&egrave;mica, s&#39;ha decidit sota votaci&oacute; que s&iacute; que s&#39;oferir&agrave; suport pel repositori non-free.<br /> <br /> Non-free no compleix la DFSG (Debian Free Software Guidelines) i per aix&ograve; no forma part de la distribuci&oacute;, per&ograve; tot i aix&iacute; es mant&eacute; degut a la 5&ordf; cl&agrave;usula del contracte social de Debian.<br /> <br /> Me n&#39;alegro!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    