
    {% extends 'post_template.html' %}

    {% block title %}
        Demà no hi ha Catux
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2006-10-21 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Dem&agrave; no farem la trobada de Catuxers. Si ten&iacute;eu pensat venir, espereu-vos a la setmana vinent, que serem a la FiraFesta de Tardor!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    