
    {% extends 'post_template.html' %}

    {% block title %}
        Demà esmorzar Catux a les 10!!!!
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-12-24 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Vista la dificultat de fer un sopar de Catux degut a obligacions familiars i empresarials dem&agrave; farem el &quot;I Esmorzar de Nadal Catux&quot;!<br /> <br /> Si voleu venir a esmorzar amb nosaltres hem quedat a les 10 del mat&iacute; al bar Miami.<br /> <br /> Ens veiem!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    