
    {% extends 'post_template.html' %}

    {% block title %}
        Dia Mundial del Firefox!!!
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-07-17 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Just avui ha sortit <a href="http://www.worldfirefoxday.com/es/">una iniciativa molt interessant</a>, consisteix en migrar una persona al navegador lliure Firefox per&ograve;... no nom&eacute;s aix&ograve;! sino que si ho aconsegueixes sortir&agrave; el teu nom/nick al Firefox 2.0 i en un gran poster que realitzaran al sortir el Firefox 2.0!<br /> <br /> Una gran oportunitat per migrar el teu millor amic a Firefox!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    