
    {% extends 'post_template.html' %}

    {% block title %}
        Dia del Programari Lliure 2009
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2009-09-13 10:26:19
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Aviat hi haurà el «Dia del Programari Lliure».</p>
<p>Caliu està preparant algunes activitats a Barcelona, s'en pot llegir més a <a href="http://wiki.caliu.cat/index.php/DLP2009">la seva Web.</a></p>
<p>Tothom hi pot anar, participar, xerrar, etc. És a Barcelona, però potser a altres poblacions es fan altres activitats.</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    