
    {% extends 'post_template.html' %}

    {% block title %}
        Dia de la Llibertat del Programari
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2008-09-16 21:01:11
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Com cada any per aquestes dates, se celebra el "Dia de la Llibertat del Programari".</p><p>&nbsp;</p><p>Per exemple, els companys de <a href="http://caliu.cat">Caliu</a> organitzen a Barcelona una paradeta al Carrer Bergara/Plaça Catalunya a la sortida de l'FNAC.</p><p>&nbsp;</p><p>Podeu llegir-ne més informació <a href="http://dlp.caliu.cat">a la Web.</a>També podeu veure <a href="http://flickr.com/photos/alexm/sets/72157602040518843/">fotos de l'any passat</a>, o fins i tot llegir el lloc internacional: <a href="http://softwarefreedomday.org/">Software Freedom Day.</a></p><p>&nbsp;</p><p>Com sempre dic, tothom hi és benvingut. I si coneixeu a gent que no utilitza (encara) el PL, pot visitar la paradeta que se li donarà informació (informació escrita, merchandasing, demos, etc.)</p><p>&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    