
    {% extends 'post_template.html' %}

    {% block title %}
        Diapositives utilitzades a Ripoll
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-09-21 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Tal com es va comentar als assistents de la <a href="http://www.xarxa-omnia.org/ripoll/mambo/">Jornada de Programari Lliure de Ripoll</a> es facilita aqu&iacute; el material utilitzat:<br /> <a href="http://catux.org/cursos/cursos/mysql-catux.tar.gz"></a></p><p><a href="http://catux.org/cursos/cursos/mysql-catux.tar.gz">El curs de Mysql</a>. Del qual es van veure alguns temes saltejats sobre la marxa<a href="http://catux.org/cursos/cursos/Introduccio-Postits.sxi"></a></p><p><a href="http://catux.org/cursos/cursos/Introduccio-Postits.sxi">Les 6 diapositives</a> de l&#39;introducci&oacute; de la din&agrave;mica de grup de la tarda (els Postits, per entendre&#39;ns)</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    