
    {% extends 'post_template.html' %}

    {% block title %}
        Digues quina distribució utilitzes i et diré qui ets!!!!
    {% endblock %}

    {% block author %}
        TherTux
    {% endblock %}

    {% block post_date %}
        2004-11-19 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">He trobat un article curi&oacute;s en aquesta p&agrave;gina. Podeu consultar la versi&oacute; en English o la versi&oacute; tradu&iuml;da. Totes dues sens dubte curioses i potser fins i tot per a tema de debat.<br /> <br /> <li>English: <a href="http://www.newsforge.com/article.pl?sid=04/10/30/1322227"> http://www.newsforge.com/article.pl?sid=04/10/30/1322227</a></li> <br /> <li>Castell&agrave;: <a href="http://www.somoslibres.org/modules.php?name=News&amp;file=article&amp;sid=326">http://www.somoslibres.org/modules.php?name=News&amp;file=article&amp;sid=326</a></li></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Digues quina distribució u Felicitats per la teva primera notícia ther!, realment les descripcions són molt curioses :)<p class="comment-author">Escrit al 2006-12-28 16:18:59 per whats_up</p></li>
    {% endblock %}

    