
    {% extends 'post_template.html' %}

    {% block title %}
        Disponible la descàrrega del KDE 3.4 Beta1
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2005-01-15 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Fa uns dies, aqu&iacute; a <a href="http://www.catux.org/">Catux</a>, <a href="http://www.catux.org/index.php?num=238">es deia</a> que ja hi havien <a href="http://osdir.com/Article2722.phtml">imatges disponibles</a>.<br /> <br /> Ara, el <a href="http://www.kde.org/">grup de KDE</a>, <a href="http://www.kde.org/announcements/announce-3.4beta1.php">ha anunciat</a> que ja est&agrave; disponible per a la seva <a href="http://developer.kde.org/source/index.html">desc&agrave;rrega</a>.<br /> <br /> Jo m&#39;esperar&eacute; una mica  =)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    