
    {% extends 'post_template.html' %}

    {% block title %}
        Disseny guanyador carnet de soci
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-12-31 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ja ha arribat l&#39;hora indicada per saber el guanyador.<br /> <br /> El guanyador &eacute;s el <a href="http://www.catux.org/index.php?contingut=articles&amp;num=77#2">Disseny 2</a>, podeu veure els altres dissenys a la mateixa p&agrave;gina (ara amb els autors)<br /> <br /> MOLTES FELICITATS AL GUANYADOR, i als altres participants tamb&eacute;! Un altre cop ser&agrave;.<br /> <br /> Tamb&eacute;, GR&Agrave;CIES a tots els votants i Molt Bon Any 2005 que comen&ccedil;a aviat.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Disseny guanyador carnet d I per quan el carnet?
mmm ja hi ha 100 socis...<p class="comment-author">Escrit al 2006-12-28 17:30:19 per Anònim</p></li><li class="list-group-item comment">Re: Disseny guanyador carnet d Sento decepcionar-te, però els socis pròpiament són la gent que paga una quota anual per donar suport a Catux ;)

Pel què fa a "per quan"... queda molt a fer: acabar de polir el disseny, mirar quines alternatives hi ha per imprimir-lo/plastificar-lo, etc...

Seguirem informant :P<p class="comment-author">Escrit al 2006-12-28 17:30:56 per Anònim</p></li>
    {% endblock %}

    