
    {% extends 'post_template.html' %}

    {% block title %}
        Diumenge 17, trobada a la UPC de Manresa
    {% endblock %}

    {% block author %}
        jvprat
    {% endblock %}

    {% block post_date %}
        2005-07-16 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui dissabte 16, s&#39;ha realitzat la primera &quot;jornada wireless&quot; de la comunitat <a href="http://guifi.catux.org/">Guifi Bages</a>, en la que Catux est&agrave; implicada.<br /> <br /> Aquest dilluns es fa el muntatge del primer supernode, i encara no hem polit el firmware que han de portar els routers. &Eacute;s per aix&ograve; que els 4 representants de Catux que erem a la trobada hem decidit que dem&agrave; a la tarda aniriem a fer feina per avan&ccedil;ar en aquesta tasca, per tenir-ho tot a punt per dilluns.<br /> <br /> Per aix&ograve; hem decidit canviar el lloc de la trobada presencial d&#39;aquest diumenge a la UPC de Manresa, i hi serem a partir de les 3. Segurament no es tractaran els temes habituals (ni podrem estar gaire per solucionar problemes), per&ograve; ser&agrave; una experi&egrave;ncia enriquidora.<br /> <br /> Ens veiem a la UPC!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    