
    {% extends 'post_template.html' %}

    {% block title %}
        Diumenge 25/11/2006
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2006-11-25 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aquest diumenge tindrem horari especial a Catux:<br /> <br /> Al mat&iacute; de 11.00 a 13.30. A la tarda no hi serem.<br /> <br /> I que farem?<br /> <br /> - Instalaci&oacute; d&#39;ubntus massiva als Pc&#39;s del Format.<br /> - Compilaci&oacute; del controlador propietari Nvidia per port ethernet (farem un <br /> mini tutorial per posar-lo al web).<br /> - Configuraci&oacute; de l&#39;acceleraci&oacute; gr&agrave;fica (crec que les targes que hi han en tenen.<br /> - Revisi&oacute; final de la instal&middot;laci&oacute; del PC de la Cori per que el Massana el pugui recollir finalment.<br /> </span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    