
    {% extends 'post_template.html' %}

    {% block title %}
        Diumenge vinent: LTSP
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-11-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aquest diumenge vinent a Catux farem una xerrada de caire totalment il&middot;lustratiu, on mostrarem de que tracta el projecte <a href="http://www.ltsp.org/">LTSP</a>.<br /> <br /> La xerrada intentar&agrave; ser un taller pr&agrave;ctic. Provarem de muntar-ne un i configurar-lo aix&iacute; com veure el gran ventall de possibilitats que ens ofereix.<br /> <br /> Per la gent que encara no heu vingut cap diumenge, podeu veure com arribar-hi a la secci&oacute; <a href="http://www.catux.org/index.php?contingut=articles&amp;num=73"> Informaci&oacute; general </a><br /> <br /> Us hi esperem!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    