
    {% extends 'post_template.html' %}

    {% block title %}
        Diumenge: Asterisk segona part
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2008-05-09 20:32:28
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Fa unes setmanes, a Catux, vem fer algunes proves amb el programari Asterisk. Aquest programa permet fer de centraleta molt avançada, trucar utilitzant veu IP o targes per connectar-se a les línies analògiques tradicionals, RDSIs o primàries. Integrar-se amb scripts, etc.</p><p>A Catux tenim alguns telèfons IP (telèfons normals però que es comuniquen amb el protocol SIP sobre xarxa) i acabarem de fer algunes proves, trucades, dialplans, etc.</p><p>Tothom qui vulgui ajudar a fer proves, aprendre, etc. és benvingut el diumenge a les 18h, al C/ Dr. Tarrés nº24, St. Joan de Vilatorrada.</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">I jo provaré com funciona el client SIP de la meva Nintendo DS :D<p class="comment-author">Escrit al 2008-05-11 17:10:58 per nous softphones</p></li>
    {% endblock %}

    