
    {% extends 'post_template.html' %}

    {% block title %}
        Documentació Ajax
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-05-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ajax &eacute;s un acr&ograve;nim que vol dir Asynchronous Javascript and XML. La seva utilitat principal &eacute;s que permet fer p&agrave;gines Web molt m&eacute;s din&agrave;miques (permet interactuar el client amb el servidor sense recarregar tota la p&agrave;gina). Aix&ograve; permet fer Webs molt din&agrave;miques. La primera gran aplicaci&oacute; crec que ha estat Gmail de Google, tot i que moltes webs ho apliquen en major o menor grau (per exemple, a llocs puntuals per&ograve; interessants, <a href="http://meneame.net/">Meneame</a>)<br /> <br /> Deixo un <a href="http://catux.org/arxius/ajax/ajax_treball.pdf">treball d&#39;Ajax</a>, una <a href="http://catux.org/arxius/ajax/presentacio_ajax.odp">presentaci&oacute; (</a><a href="http://catux.org/arxius/ajax/presentacio_ajax.pdf">tamb&eacute; en PDF</a>) i uns <a href="http://catux.org/arxius/ajax/ajax_codi.tar.gz">exemples de codi</a> (extremadament simple, amb PHP al servidor).</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    