
    {% extends 'post_template.html' %}

    {% block title %}
        DOOM 3 ja ha arribat (als EUA)
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-08-02 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">La tercera versi&oacute; del cl&agrave;ssic joc d&#39;ordinador Doom arriba a les botigues. El conegut &#39;Doom&#39; ja ha arribat a la seva tercera edici&oacute;. El Doom 3 arriba avui als aparadors de les botigues dels EUA (encara que aqu&iacute; no arribar&agrave; fins el dia 20). <br /> Ser&agrave; el joc m&eacute;s jugat a la 2&ordf; Catux/Linux Game party?  <br /> Aquest joc ja es va comentar anteriorment <a href="http://www.catux.org/index.php?num=101">aqu&iacute;</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    