
    {% extends 'post_template.html' %}

    {% block title %}
        DreamWorks i HP continuen utilitzant Linux en Shrek2
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-06-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Al 1995, Pixar va utilitzar Maya sobre Linux per crear &quot;Toy Story&quot;, al 1997 es va utilitzar pels efectes de &quot;Titanic&quot;, al 2002 Light &amp; Magic tamb&eacute; el va utilitzar pels efectes especials d&#39;&quot;Star Wars: Episode II&quot;, etc.<br /> <br /> DreamWorks, per la seva part, ja va comen&ccedil;ar a fer les seves proves al 2001 amb Linux en algunes escenes de &quot;Shrek&quot;. Darrera els bons resultats, sembla que DreamWorks i HP han decidit equipar totes les seves estacions de treball amb Linux per tal de fer shrek2.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    