
    {% extends 'post_template.html' %}

    {% block title %}
        El dia de Nadal
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2005-12-18 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p><span class="noticia">El dia de Nadal (25 de desembre o 11001 del 1100 pels frikis) es celebrar&agrave; la reuni&oacute; setmanal de Catux a les 10:30 am.<br /> <br /> Av. Torrent del canig&oacute; 49<br /> 08250 Sant Joan de Vilatorrada<br /> Barcelona.<br /> <br /> Bon nadal pels que no vinguin!</span><br />&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    