
    {% extends 'post_template.html' %}

    {% block title %}
        El nostre web en php
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-07-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        Hem afegit el projecte de web dins de l&#39;apartat projectes, ja que n&#39;&eacute;s un m&eacute;s.  A partir d&#39;ara tindreu una cosa m&eacute;s a mirar ;)
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    