
    {% extends 'post_template.html' %}

    {% block title %}
        El programari privatiu i els usuaris novells: està preparat?
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-09-11 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Durant el passat Juliol es van fer, com cada any, les <a href="http://catux.org/index.php?num=434">Jornades de Programari Lliure</a>, V edici&oacute;.<br /> <br /> El dissabte hi va haver una taula rodona, amb molt bons ponents. El tema de la taula rodona va ser &quot;El programari lliure est&agrave; preparat per els usuaris novells?&quot; En <a href="http://blog.bitassa.cat/">Benjam&iacute; Villoslada</a> es va &quot;equivocar&quot; i va preparar si l&#39;usuari final est&agrave; preparat pel programari privatiu. Ha escrit al seu blog el text aproximat que va explicar.<br /> <br /> <a href="http://blog.bitassa.cat/arxiu/2006/09/11/565/">Llegir-ho</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: El programari privatiu i e 
Al seu bloc 'equivicar' està posat en cursiva, donant a entendre que ho va fer expressament, oi?
Vull proposar-te que ho posis en cursiva igual.<p class="comment-author">Escrit al 2006-12-29 16:53:15 per mecatxis</p></li><li class="list-group-item comment">Re: El programari privatiu i e Bé, la cursiva no va a la Web :-) ho he deixat entre cometes...

Gràcies,<p class="comment-author">Escrit al 2006-12-29 16:54:02 per cpina</p></li>
    {% endblock %}

    