
    {% extends 'post_template.html' %}

    {% block title %}
        El que faltava per veure...
    {% endblock %}

    {% block author %}
        avalot
    {% endblock %}

    {% block post_date %}
        2004-04-28 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Com a complement a la not&iacute;cia anterior, la definici&oacute; de Linux que donen  al seu glossari:<br /> Linux:   versi&oacute;n Shareware del conocido systema operativo Unix. Es un sistema multit&aacute;rea multiusuario de 32 bits para pc.<br /> Per a qui encara no s&#39;ho cregui: <a href="http://www.sgae.es/listglosario.inm?secc=62&amp;car=L&amp;selectedMenu=343&amp;nom=Glosario#297">veure (o clicar) per creure...</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    