
    {% extends 'post_template.html' %}

    {% block title %}
        Eleccions a Catux
    {% endblock %}

    {% block author %}
        Pachu
    {% endblock %}

    {% block post_date %}
        2005-03-20 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Com a president actual de Catux i complint amb els estatus vigents, convoco eleccions, previstes pel dia 27 de mar&ccedil; de 2005.<br /> <br /> Animo als socis que vulguin a presentar-se a qualsevol dels c&agrave;rrecs establerts:<br /> - President/a<br /> - Vice-President/a<br /> - Tresorer/a<br /> - Secretari/a<br /> <br /> Aix&iacute; tamb&eacute; animo als mateixos socis, a compareixer davant les urnes el dia acordat.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Candidats? Quins candidats es preveuen? :)<p class="comment-author">Escrit al 2006-12-29 00:31:36 per Sachiel</p></li><li class="list-group-item comment">Candidats Doncs de moment sembla que el Pachu es torna a presentar, i no sé res més. Si es presenta algú altre, que posi un comentari aqui, o que ho digui per la llista ;)<p class="comment-author">Escrit al 2006-12-29 00:32:16 per jvprat</p></li>
    {% endblock %}

    