
    {% extends 'post_template.html' %}

    {% block title %}
        Eleccions Catux 2005
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2005-10-01 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Dem&agrave; a Catux tenim una cita important!<br /> <br /> Triarem qui ser&agrave; el nou president, que representar&agrave; l&#39;entitat els propers 365 dies (com a m&iacute;nim) :-)<br /> <br /> &Eacute;s un tema molt important i delicat, ja que no anem sobrats de candidats i hi haur&agrave; for&ccedil;a debat. (mirar&eacute; de portar els post-its per si de cas) :-O<br /> <br /> Aix&iacute; que, per poc que pogueu, passeu-vos per catux a partir de les 6 de la tarda.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    