
    {% extends 'post_template.html' %}

    {% block title %}
        encriptació als ipods
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2007-09-17 17:30:37
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p><a href="http://ipodminusitunes.blogspot.com/2007/09/apple-cuts-us-off.html">Llegeixo</a> que la gent de Apple ha xifrat la base de dades dels fitxers que incorpora l&#39;IPod per les versions m&eacute;s recents. Aix&ograve; implica que nom&eacute;s es podr&agrave; untilitzar l&#39;aparell sobre Itunes, nom&eacute;s disponible per MAC i per WINDOWS. &Eacute;s a dir, que si et compres un aparell nou (o actualitzes el microprogramari, en angl&egrave;s &#39;firmware&#39; , del que ja tens) no el podr&agrave;s fer servir en els programes que hi han per a tal efecte en Linux.</p><p>&nbsp;</p><p>Malgrat tot, sembla que ja s&#39;estan <a href="http://ipodminusitunes.blogspot.com/2007/09/weve-won.html">fent passos</a>  per solucionar el petit entrebanc. Visca el programari lliure! A l&#39;infern amb Apple, tamb&eacute;!<br /> </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    