
    {% extends 'post_template.html' %}

    {% block title %}
        Entrevista amb Martin Michlmayr
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2005-01-05 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia"><a href="http://newsforge.com/">Newsforge</a> publica una <a href="http://os.newsforge.com/article.pl?sid=04/12/23/2023223&amp;from=rss">entrevista </a> amb <a href="http://www.cyrius.com/">Martin Michlmayr</a> (un dels l&iacute;ders del <a href="http://debian.org/">projecte Debian</a>), en qu&egrave; es tracta sobre <a href="http://www.debian.org/releases/testing/">Sarge</a>.<br /> <br /> Algunes coses de les que tracta s&oacute;n: <a href="http://x.org/">X.org</a>/<a href="http://www.xfree86.org/">XFree</a>, <a href="http://www.namesys.com/v4/v4.html">Reiser4</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    