
    {% extends 'post_template.html' %}

    {% block title %}
        Envia una postal de Nadal des de Catux
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-12-24 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Hem activat un &quot;petit servei&quot; que des <a href="http://catux.org/nadal2004">d&#39;aquesta p&agrave;gina Web</a> podeu enviar postals digitals amb un petit Tux a qui vulgueu, sense Flash, correus electr&ograve;nics amb HTML, musiques, etc.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Envia una postal de Nadal Es una idea genial!, felicitats!!<p class="comment-author">Escrit al 2006-12-28 17:19:01 per Anònim</p></li>
    {% endblock %}

    