
    {% extends 'post_template.html' %}

    {% block title %}
        Escoltar mp3 amb el monitor ;P
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-06-21 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia"><a href="http://www.erikyyy.de/tempest/">Tempest for Eliza</a> &eacute;s una aplicaci&oacute; per Linux que mostra com controlar les radiacions electromagn&egrave;tiques que produeixen els monitors dels ordinadors i poden provocar interfer&egrave;ncies als receptors de r&agrave;dio. Amb Tempest for Eliza es pot fer que l&#39;aparell de r&agrave;dio reprodueixi un MP3.<br /> <br /> &Eacute;s, per tant, una mostra de fins a quin punt els equips inform&agrave;tics produeixen radiacions electromagn&egrave;tiques i com aquestes poden ser capturades per observar all&ograve; que est&agrave; fent el PC.<br /> <br /> La qualitat del MP3 reprodu&iuml;t no &eacute;s equivalent a la que estem acostumats per&ograve; l&#39;important &eacute;s el fet que aix&ograve; es pugui realitzar. Aqu&iacute; en teniu una <a href="http://www.erikyyy.de/tempest/tempest.mp3">mostra</a>, per&ograve; no us recomano provar-ho gaire amb el vostre ;)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    