
    {% extends 'post_template.html' %}

    {% block title %}
        Euskal Party
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2007-07-15 14:46:50
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>El cap de setmana seg&uuml;ent uns quants membres de Catux anem a l&#39;<a href="http://euskal.org">Euskal Party</a>. All&agrave; passarem uns quants dies amb els nostres ordinadors, i podrem assistir a for&ccedil;a <a href="http://www.euskal.org/es/actividades/conferencias-talleres/">xerrades sobre programari lliure, </a><a href="http://www.euskal.org/es/actividades/otras/creative.php">activitats sobre Creative Commons</a>, i l&#39;&uacute;ltim el qu&egrave; ser&agrave; segurament <a href="http://www.euskal.org/es/actividades/otras/linuxshow.php">l&#39;&uacute;ltim LinuxShow</a>.</p><p>&nbsp;</p><p>Tamb&eacute; hi ha concursos de Hacking, Real Time Battle i alguna cosa m&eacute;s.&nbsp;</p><p>&nbsp;</p><p>Si aconseguim alguna foto decent la publiquem.&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">ei! Quines ganes d\'anar a l\'Euskal tots plegats!!! :D<p class="comment-author">Escrit al 2007-07-15 15:00:18 per Pinucset</p></li><li class="list-group-item comment">uoooo! Aquest any promet estar molt rebé, espero que ens ho passem molt bé. Una pena que aixó dels LinuxShows s\'acabi, eren molt entretinguts!!!<p class="comment-author">Escrit al 2007-07-15 21:10:59 per franhp</p></li><li class="list-group-item comment">Editat Corregida errata.

Carles, es diu Creative Commons, no Cretive Comments! :P

PD: Segur que ho sabies, però has tingut un lapsus molt graciós X)<p class="comment-author">Escrit al 2007-07-18 18:13:31 per Sachiel</p></li><li class="list-group-item comment">errata Sí Sachiel, ho sabia :-) va ser un lapsus.
Abans ho he vist al RSS i pensava que algú havia canviat de Commons a Comments per fer alguna prova i veig que el despistat era jo :-)

Gràcies!<p class="comment-author">Escrit al 2007-07-18 22:50:06 per cpina</p></li>
    {% endblock %}

    