
    {% extends 'post_template.html' %}

    {% block title %}
        Fedore Core 2
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-06-01 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Llegeixo a <a href="http://www.upseros.org/">upseros</a> una noticia que fa refer&egrave;ncia a aquesta distribuci&oacute;. Sembla ser que a linux.com s&#39;ha publicat una revisio en que &quot;matxaca&quot; a Fedora. Cito textualment: <br /> <br /> &quot;Desafortunadamente, todas las admirables caracter&iacute;sticas de FC2 no la salvan de sus defectos cong&eacute;nitos. Estos van desde drivers de audio rotos hasta esa abominanci&oacute;n conocida como GNOME 2.6... (que) son lo suficientemente serios como para hacer de FC2 no adecuado para ning&uacute;n uso excepto el de animal de laboratorio&quot;<br /> <br /> Que n&#39;opineu els que la utilitzeu?<br /> <br /> <br /> noticia a <a href="http://www.upseros.net/noticias/noticias.php?c=linux&amp;n=281">upseros </a><br /> noticia <a href="http://www.linux.com/article.pl?sid=04/05/26/1441241">original</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Doncs a mi no em falla el audio, es més, en funciona millor que amb FC1, amb control total d'ALSA. Respecte a lo de Gnome dir que em sembla més porqueria l'ultima versió de KDE.<p class="comment-author">Escrit al 2006-12-26 00:08:36 per Anònim</p></li><li class="list-group-item comment">Aclaració Nomes dir que no tinc res en contra de Fedora, eh. Simplement es que la noticia em va semblar curiosa i interessant, i com a més a més tenim algun usuari d'aquesta distribució a l'assossiació =P.<p class="comment-author">Escrit al 2006-12-26 00:09:43 per seoman</p></li><li class="list-group-item comment">Opinió sobre l'article 
Sobre els errors que diu que te FC2 jo només tinc constancia del problema d'arrancada dual amb Windows XP, la solució: Eliminar Windows del disc dur xDDD et treu tots els mal de caps, els virus, els dialers, el bluescreens,.. :P<p class="comment-author">Escrit al 2006-12-26 00:10:30 per Anònim</p></li>
    {% endblock %}

    