
    {% extends 'post_template.html' %}

    {% block title %}
        Feliç aniversari!
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2005-10-10 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Se que &eacute;s una miqueta tard per&ograve; m&#39;agradaria desitjar feli&ccedil; aniversari a Linux que el dia 5 d&#39;octubre va complir 14 anyets<br /> Recordeu quan Linus Torvalds va enviar aquell fam&oacute;s missatge a la llista de comp.os.minix ? Jo no! <br /> <br /> --&gt; Do you pine for the nice days of minix-1.1, when men were men and wrotetheir own device drivers? Are you without a nice project and just dyingto cut your teeth on a OS you can try to modify for your needs? Are youfinding it frustrating when everything works on minix? No more all-nighters to get a nifty program working? Then this post might be justfor you :-) [...]</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Feliç aniversari! Aquest sembla ser un tros del post de quan va posar la segona versió (0.02) al FTP, tot i que ja tenia coses fetes el 25 d'Agost com es pot veure a les pàgines...

Fins aviat!<p class="comment-author">Escrit al 2006-12-29 02:14:23 per cpina</p></li>
    {% endblock %}

    