
    {% extends 'post_template.html' %}

    {% block title %}
        Felicitats, OpenOffice i KDE
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-10-17 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Veig a diversos llocs que KDE ha <a href="http://dot.kde.org/1097866585/">complert</a> fa pocs dies 8 anys!<br /> <br /> Tamb&eacute; veig que OpenOffice, des de l&#39;alliberaci&oacute; de Sun, ha <a href="http://www.openoffice.org/about_us/birthday4.html">fet 4 anys</a>. De fet, OpenOffice originariament t&eacute; m&eacute;s anys, primer era StarOffice d&#39;una empresa d&#39;Alemanya, que va vendre-ho a Sun que &eacute;s qui ho va alliberar passat un temps. <br /> <br /> Doncs grans projectes que ara han fet anys, en binari, l&#39;un 1000 i l&#39;altre 100 :-)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    