
    {% extends 'post_template.html' %}

    {% block title %}
        Festa Firefox 2.0
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-10-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">El proper dissabte es far&agrave; la Festa Firefox 2.0. En podeu trobar m&eacute;s informaci&oacute; a la <a href="http://festa.firefox.cat/">seva p&agrave;gina Web</a>. Es far&agrave; a Barcelona i hi ha inscripci&oacute; gratuita previa.<br /> <br /> Dem&agrave; dimarts &eacute;s el dia que s&#39;allibera el Firefox 2.0. </span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    