
    {% extends 'post_template.html' %}

    {% block title %}
        Festa de les Noves Tecnològies a Ripoll
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2009-11-16 20:06:21
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>El proper 27 i 28 de novembre es farà a Ripoll la 5º Jornada de Programari Lliure.</p>
<p>Podeu veure tota l'activitat (xerrades, tallers, jocs, etc.) a la seva pàgina Web: <a href="http://jornades.televall.com/">http://jornades.televall.com</a>. Segur que tothom hi serà benvingut!</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    