
    {% extends 'post_template.html' %}

    {% block title %}
        Fira Festa
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2008-10-20 20:00:57
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Igual que els últims anys, Catux serà present a la Fira Festa d'aquest proper diumenge.</p><p>Fira Festa és la fira de la tardor a St. Joan de Vilatorrada, i se celebra a Can Gallifa.</p><p>Enguany apart d'ajudar, si podem, amb temes de Programari Lliure a tothom qui es passi per la nostra paradeta, fer petar la xerrada, etc. també organitzem un concurs de ball amb el programari lliure Pydance, traduït al català.</p><p>El cartell del concurs està disponible <a href="http://www.santjoanv.org/documents/829605089.pdf">aquí.</a> </p><p>Qualsevol persona que vulgui col·laborar amb nosaltres dissabte o diumenge pots deixar algun comentari o posar-se en contacte amb nosaltres(per exemple mitjançant <a href="contactar">Contactar</a>). I evidentment tothom és benvingut a passar per saludar-nos i així ens coneixem.</p><p>Fins dissabte o diumenge! </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    