
    {% extends 'post_template.html' %}

    {% block title %}
        Fira Festa Tardor 2005
    {% endblock %}

    {% block author %}
        Sachiel
    {% endblock %}

    {% block post_date %}
        2005-10-28 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aquest cap de setmana, Catux tindr&agrave; una paradeta a la <a href="http://www.santjoanv.org/noticia_ampliar.asp?id=255">Fira Festa Tardor</a> de Sant Joan.<br /> Ens podeu venir a veure en qualsevol moment de tot el cap de setmana.<br /> </span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    