
    {% extends 'post_template.html' %}

    {% block title %}
        Firefox continua guanyant quota de mercat (estudi de XiTi)
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-01-07 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Veient <a href="http://www.xitimonitor.com/etudes/equipement12.asp">aquest estudi</a> sobre la quota de mercat del Firefox, com ha avan&ccedil;at etc. veiem que cada dia estem guanyant m&eacute;s quota de mercat.<br /> <br /> Per&ograve; b&eacute;, aquest estudi &eacute;s de fa dos mesos, si tenim en compte que ara <a href="http://blakeross.com/2005/12/19/firefox-shipping-on-dell-uk/">els ordinadors de Dell venen amb Firefox preinstal&middot;lat</a>, <a href="http://www.ed-diamond.com/feuille_lp33/">que la gendarmeria francesa est&agrave; migrant a Firefox i Thunderbird</a> i que Google d&oacute;na suport a Firefox amb la campanya a trav&egrave;s d&#39;Adsense i amb el nou <a href="http://www.google.com/pack">Google Pack</a> que porta Firefox sembla que cada vegada m&eacute;s empreses estan pujant al carro.<br /> <br /> Seguim aix&iacute;!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Firefox continua guanyant És curiós com Espanya és el penúltim país en quota d'ús del Firefox. Només Ucrania té unes dècimes menys.<p class="comment-author">Escrit al 2006-12-29 15:54:26 per Anònim</p></li><li class="list-group-item comment">Re: Firefox continua guanyant 
Malauradament a mi no hem sembla gens curiòs...<p class="comment-author">Escrit al 2006-12-29 15:55:07 per Anònim</p></li>
    {% endblock %}

    