
    {% extends 'post_template.html' %}

    {% block title %}
        Firefox 1.0 per fi disponible!
    {% endblock %}

    {% block author %}
        Sachiel
    {% endblock %}

    {% block post_date %}
        2004-11-09 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ja s&#39;ha alliberat la versi&oacute; final del navegador <a href="http://www.mozilla.org/products/firefox/">Firefox 1.0</a>. Per mi &eacute;s dels millors navegadors que podeu trobeu actualment. A m&eacute;s de ser multiplataforma, compleix perfectament amb l&#39;est&agrave;ndar HTML, i el podeu <a href="http://www.mozilla.org/products/firefox/all.html">descarregar</a> en diferents idiomes, <a href="http://ftp.mozilla.org/pub/mozilla.org/firefox/releases/1.0/linux-i686/ca-AD/firefox-1.0.installer.tar.gz">catal&agrave;</a> incl&ograve;s.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Firefox 1.0 per fi disponi Si voleu ajudar amb la traducció a català us podeu adreçar a la llista Navegador de Softcatalà on ens organitzem per fer possible la versió en català de tots els projectes de Mozilla. Més: < a href="http://www.softcatala.org/projectes/mozilla/">http://www.softcatala.org/projectes/mozilla/</a><p class="comment-author">Escrit al 2006-12-28 16:15:03 per Anònim</p></li>
    {% endblock %}

    