
    {% extends 'post_template.html' %}

    {% block title %}
        Firefox vs. Internet Explorer
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-04-10 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        Si sou d&#39;aquells que utilizeu Internet Explorer a mort, aqu&iacute; teniu un enlla&ccedil; amb el perqu&egrave; d&#39;utilitzar el nou Firefox. Tots els seus avantatges, el fan l&#39;eina predilecta per a qualsevol navegant d&#39;internet. Teniu l&#39;enlla&ccedil; aqu&iacute;
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    