
    {% extends 'post_template.html' %}

    {% block title %}
        Flash i youtube: descarregar des de línia de comandes
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-11-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">&Uacute;ltimament hi ha for&ccedil;a not&iacute;cies relacionades amb Flash. <a href="http://blogs.adobe.com/penguin.swf/2006/11/beta_ii_the_audio_fix.html">Noves versions</a> <strong>igualment privatives</strong> del plugin de d&#39;Adobe, aix&iacute; com  noves versions lliures i cada vegada millors del <a href="http://www.gnu.org/software/gnash/">plugin lliure Gnash</a>. <br /> <br /> Mentrestant, si alg&uacute; vol veure videos de youtube pot fer servir el <a href="http://www.arrakis.es/%7Erggi3/youtube-dl/">youtube-dl</a>, que tal com explicava <a href="http://barnacity.net/">l&#39;Alejandro Exojo</a> a la llista de Badopi &eacute;s <a href="http://lists.badopi.org/pipermail/comandob/Week-of-Mon-20061113/017797.html">molt f&agrave;cil de fer servir</a> (junt amb mplayer)<br /> A Debian est&agrave; al paquet youtube-dl (apt-get install youtube-dl)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Flash i youtube: descarreg Gràcies per la publicitat. :-)

Només afegiria que hi ha també formes de fer-ho amb Konqueror o Firefox directament (tot i que ja no seria línia de comandes). Amb firefox suposo que amb una extensió, i amb Konqueror només amb un "desktop service", que consisteix en un arxiu ".desktop" que afegeix una opció al menú de Konqueror, i que crida a un petit script en python que fa la descàrrega.

Salut, Alex.<p class="comment-author">Escrit al 2006-12-29 17:00:27 per alex</p></li>
    {% endblock %}

    