
    {% extends 'post_template.html' %}

    {% block title %}
        Fotos de Catux
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-05-23 23:40:01
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        Per a tots aquells que nom&eacute;s ens seguiu virtualment, ara podeu estar m&eacute;s a prop nostre. Hem afegit una nova secci&oacute; al web anomenada fotos on ens podreu veure en plena acci&oacute;. Quan afegim m&eacute;s fotos ja avisarem! ;)
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    