
    {% extends 'post_template.html' %}

    {% block title %}
        Fotos de la Mercè 2004
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-09-30 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Una setmana despr&eacute;s de la Merc&egrave; 2004, i havent ja fet la valoraci&oacute; (positiva), hem posat les fotos (gr&agrave;cies jvprat!) perqu&egrave; podem tenir un record i la gent ens pugui veure.<br /> <br /> <a href="http://catux.org/fotos/merce_2004_1/">Dissabte 25</a><br /> <a href="http://catux.org/fotos/merce_2004_2/">Diumenge 26</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    