
    {% extends 'post_template.html' %}

    {% block title %}
        Fotos de la Jornada de Programari Lliure de Ripoll
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-09-17 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Despr&eacute;s de la Jornada de Programari Lliure de Ripoll a la que hem pogut assistir, la valoraci&oacute; que extraiem de tot plegat &eacute;s molt positiva. Tant per l&#39;assist&egrave;ncia i implicaci&oacute; com pel nivell demostrat pels que s&#39;han interessat per la Jornada i han fet que es desenvolup&eacute;s en un molt bon ambient. <br /> <br /> Es pot veure una mostra de tot plegat a <a href="http://catux.org/fotos/2005-ripoll/">les fotos</a>. S&#39;intentar&agrave; posar els videos corresponents properament.<br /> <br /> Gr&agrave;cies tamb&eacute; a l&#39;organitzaci&oacute; per convidar-nos, i felicitats per l&#39;&egrave;xit.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Fotos de la Jornada de Pro Les fotos estan prou bé però si en voleu més jo vaig fer unes quantes també; sóc de l'equip del televall, el telecentre de Ribes de Freser. La jornada va estar molt bé i tothom que va venir era molt trempat. Llàstima la ausència de dones; hem de fer alguna cosa perquè aquest món de la informàtica no sigui només d'homes. Per cert, amb respecte al comentari que heu posat, he de fer una petita correcció (que segur que se us ha passat): no es diu desenvolupara sino desenvolupés (sense ànim de molestar ningú, per suposat). En definitiva, felicitats a tol l'equip de Catux desde l'equip del Televall.

Fins aviat!!!!!!!!<p class="comment-author">Escrit al 2006-12-29 02:03:01 per Anònim</p></li><li class="list-group-item comment">Re: Fotos de la Jornada de Pro 
Si teniu més fotos perfecte. Si me les envies (carles at pinux.info) les poso a Catux mateix, o si deixes un enllaç ho ampliem a la notícia.

Ara faig la correcció del "desenvolupés", gràcies!<p class="comment-author">Escrit al 2006-12-29 02:03:33 per cpina</p></li>
    {% endblock %}

    