
    {% extends 'post_template.html' %}

    {% block title %}
        Fotos Fira Festa, campionat Pydance
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2008-10-26 22:10:48
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Avui diumenge, a la tarda, Catux ha fet dos campionats més de Pydance. El públic i participants han estat a l'alçada un altre cop! Els premis han estat camisetes de Catux.</p><p>Durant el campionat també hem participat a Ràdio St. Joan, fent una entrevista explicant què fa Catux, què és el Pydance, el Programari Lliure, etc.</p><p>Aquí es poden veure algunes <a href="http://catux.org/fotos/index.php?list=35">fotos de l'event. </a></p><p>La idea no és fer una sala de jocs mòbil, sinó atraure gent per explicar què és el Programari Lliure, què fem a Catux, etc. Hem repartit dos fulletons: un de què és Catux i el Programari Lliure i un fulletó més centrat a Pydance i un exemple pràctic de com aplicar les llibertats del Programari Lliure.Podeu llegir el <a href="arxius/pydance.pdf">fulletó aquí mateix (PDF).</a></p><p>&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    