
    {% extends 'post_template.html' %}

    {% block title %}
        Fotos fira Festa
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2007-10-30 21:00:56
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Tal com ja hav&iacute;em anunciat aqu&iacute;, el passat cap de setmana vam fer una &quot;Install Party&quot; i vam tenir una paradeta a Fira Festa, a St. Joan de Vilatorrada.</p><p>&nbsp;</p><p>Podeu veure <a href="fotos/index.php?list=30">algunes fotos.</a></p><p>&nbsp;</p><p>Avui dimarts hem sortit a Regi&oacute; 7. Podeu veure una <a href="fotos/index.php?id=2547">foto del diari</a>, evidentment la foto que ha sortit tamb&eacute; la teniu a <a href="fotos/index.php?id=2537">mida gran</a>  :-)</p><p>&nbsp;</p><p>Vem tenir l&#39;oportunitat d&#39;instal&middot;lar uns quants Linux (b&eacute;!), explicar qu&egrave; &eacute;s el programari lliure, donar-nos a con&egrave;ixer, con&egrave;ixer gent interessant, tornar a trobar a amics que feia temps que no veiem, etc. un molt bon cap de setmana! </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    