
    {% extends 'post_template.html' %}

    {% block title %}
        Fotos de la UCE
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2007-08-29 12:00:38
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Ja estan disponibles algunes de les fotos que vam fer a la UCE.</p><p>&nbsp;</p><p>Les podeu trobar, com sempre, a&nbsp; <a href="fotos/index.php?list=28" title="catux.org/fotos">http://catux.org/fotos/</a> </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">M\'han agradat molt! reflexen molt bé l\'ambient que s\'hi devia viure :-) quina enveja vist des d\'aquí ara

Fins aviat!<p class="comment-author">Escrit al 2007-08-30 19:35:15 per cpina</p></li>
    {% endblock %}

    