
    {% extends 'post_template.html' %}

    {% block title %}
        Gallery
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2005-11-20 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Hem canviat l&#39;album, el qual no era lliure, per Gallery que ens permet posar fotos, afegir comentaris, canviar el tema, ... <br /> Per accedir-hi presioneu <a href="http://catux.org/fotos/main.php">aqui</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    