
    {% extends 'post_template.html' %}

    {% block title %}
        Gallery al català
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2006-01-22 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ja disposem de Gallery completament traduit al servidor de Catux. Demanem a tots els traductors que provin les traduccions i envi&iuml;n els errors a la llista de traducci&oacute;. <br /> Moltes gr&agrave;cies!<br /> <br /> Podeu descarregar els .po de <a href="http://catux.org/arxius/traduccions/">aqu&iacute;</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Gallery al català Gràcies per la feina ;)

Però sóc força maldestre i no ho acabo de fer funcionar. Ho he posat als mòduls core, comment i exif com a ca_ES.po i he afegit l'entrada al class per a l'idioma. Em surt a la llista i tot, però al triar-lo no fa res de res, alguna idea?<p class="comment-author">Escrit al 2006-12-29 16:04:37 per Anònim</p></li><li class="list-group-item comment">Re: Gallery al català Perdoneu ja he trobat com fer-ho al wiki, gràcies per la vostra feina ;)<p class="comment-author">Escrit al 2006-12-29 16:05:06 per Anònim</p></li>
    {% endblock %}

    