
    {% extends 'post_template.html' %}

    {% block title %}
        GAME-PARTY
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-07-27 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Com que no sabem la acollida que ha tingut la nostra GAME-PARTY, estaria b&eacute; que els que assistiu, envieu un correu per tal de confirmar l&#39;assist&egrave;ncia. Si alg&uacute; no envia el correu no passa r&eacute;s, per&ograve; s&#39;agrairia bastant que ho fessiu ^^.<br /> <br /> Podeu fer-ho a l&#39;adre&ccedil;a: <br /> <br />   seoman_ARROBA_salles.mine.nu <br /> <br /> (El m&eacute;s correcte seria utilitzar l&#39;adre&ccedil;a catux_ARROBA_catux.org, que &eacute;s per aquestes coses, per&ograve; el nostre administrador del correu, Sachiel, el tenim de vacances ;P).</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    