
    {% extends 'post_template.html' %}

    {% block title %}
        Gentoo per a Mac OS X
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-07-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ja ha passat un any des de que es va anunciar el projecte de portar gentoo a Mac OS X i finalment l&#39;espera ha acabat!. Portage ha estat portat (rodol&iacute;!) a aquest sistema operatiu.<br /> <br /> Tal com comenta Pieter van den Abeele, coordinador del projecte, en uns mesos es podr&agrave; tamb&eacute; construir un &quot;Darwin from scratch&quot;.<br /> <br /> Per a m&eacute;s informaci&oacute;, <a href="http://www.gentoo.org/news/en/gwn/20040719-newsletter.xml">aqu&iacute;</a>.<br /> O si te la vols descarregar, <a href="http://www.metadistribution.org/gentoo/gentoo-macos.dmg">aqu&iacute;</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    