
    {% extends 'post_template.html' %}

    {% block title %}
        Gestors de fitxers sota GNU/Linux
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2005-03-04 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">He trobat <a href="http://applications.linux.com/applications/05/02/23/2226202.shtml?tid=13&amp;tid=49">aquest article</a> on mostra els principals gestors de fitxers que hi ha sota GNU/Linux. Realment n&#39;he trobat de moolt interessants, tant mode consola, com mode gr&agrave;fic. <br /> <br /> Personalment l&#39;he trobat molt &uacute;til.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Gestors de fitxers sota GN De fet no són gestors de finestres sinó gestor d'arxius...<p class="comment-author">Escrit al 2006-12-29 00:24:25 per Anònim</p></li><li class="list-group-item comment">Re: Gestors de fitxers sota GN 
He posat gestors de fitxers! XD<p class="comment-author">Escrit al 2006-12-29 00:24:53 per whats_up</p></li>
    {% endblock %}

    