
    {% extends 'post_template.html' %}

    {% block title %}
        Gnomebaker
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2005-06-27 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Per fi he acabat ex&agrave;mens! (no m&#39;he pogut aguantar). Fins fa poc, quan usava kde, usava k3b per grabar els meus cd&#39;s, quan em vaig posar amb gnome, vaig comen&ccedil;ar a usar el cdrecord, ja que no coneixia cap interf&iacute;cie gr&agrave;fica per aquest us, i quan va sortir el nero per linux, vaig estar apunt de pasar-m&#39;hi.<br /> Ara mateix, acabo de descobrir una eina la qual m&#39;ha donat una gran alegria: <a href="http://gnomebaker.sourceforge.net/">gnomebaker</a>.<br /> <br /> Aquest software, &eacute;s semblant al k3b, per&ograve; per gnome :). Podeu veure&#39;n uns <a href="http://gnomebaker.sourceforge.net/index.php?cat=5">screenshots</a> </span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    