
    {% extends 'post_template.html' %}

    {% block title %}
        Gnome 2.8
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-08-03 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Si sou d&#39;aquells usuaris que utilitzeu el sistema de finestres Gnome, potser us interessar&agrave; saber quines s&oacute;n les principals <a href="http://davyd.angrygoats.net/gnome-2-8/">novetats</a> que incorporar&agrave; la seg&uuml;ent versi&oacute; d&#39;aquest amigable entorn de finestres.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    