
    {% extends 'post_template.html' %}

    {% block title %}
        GNU/Hurd liveCD
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2005-03-22 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Primer liveCD del projecte <a href="http://www.gnu.org/software/hurd">GNU/Hurd</a>, no 100% estable, per&ograve; almenys jo ja feia un temps que no en veia cap canvi/novetat. Un senyal de progr&eacute;s? Jo espero que si, el trobo un projecte molt interessant.<br /> <br /> Ara deu fer uns tres mesos em vaig baixar al versi&oacute; per instalar, per&ograve; encara no ho he fet... Ser&agrave; la por? ;)<br /> <br /> La imatge comprimida ocupa molt poc, unes 36MB, i es pot descarregar des d&#39;<a href="http://archive.daniel-baumann.ch/temporary">aqu&iacute;</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: GNU/Hurd liveCD 
no 100% estable

Estaria divertit que certifiquéssin que un software es 100% estable. Si per fer un debian Linux estable necessiten més de 2 anys... xD<p class="comment-author">Escrit al 2006-12-29 00:33:36 per Anònim</p></li>
    {% endblock %}

    