
    {% extends 'post_template.html' %}

    {% block title %}
        Google offline
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2006-12-26 18:39:32
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Segons llegeixo a <a href="http://barrapunto.com/articles/04/07/26/1721236.shtml"> Barrapunto</a> i a un correu d&#39;Hispasec, avui google ha deixat de funciona durant una bona estona.<br /> <br /> Aix&ograve; ha estat provocat per una variant del virus Mydoom, que utilitza els buscadors de Yahoo, Google i Astalavista per tal de cercar noves adreces de correu per infectar. <br /> <br /> Pel que sembla, les primeres cases a detectar aquesta nova variant van ser NOD32 i Norman.<br /> <br /> La veritat &eacute;s que no m&#39;importa eliminar 70 correus de brossa i virus, per&ograve; no em deixeu sense google, si us plau!!!!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Monopoli? Ha arrivat un punt en que el google està agafant tanta força, que podria arrivar a ser dolent i tot.
Justament ahir va ser el dia que va sortir a borsa, coincidència??

Si no fos pq va tant bé... :P<p class="comment-author">Escrit al 2006-12-28 13:09:28 per whats_up</p></li>
    {% endblock %}

    