
    {% extends 'post_template.html' %}

    {% block title %}
        GPL a les gasolineres Franceses (humor)
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-02-13 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">El meu <a href="http://pina.be/">germ&agrave;</a> (Pinucset) em passa <a href="http://catux.org/material/imatges/gpl_premier.jpg">aquesta foto</a>. &Eacute;s d&#39;una gasolinera a Fran&ccedil;a, marca &quot;GPL Premier&quot;!<br /> <br /> Junt amb els <a href="http://www.cs.bris.ac.uk/%7Ehenkm/extinguisher.html">extintors Unix</a> (s&#39;en troben per aqu&iacute;), i el <a href="http://www.richzendy.org/images/Linux_7kg_2.jpg">detergent Linux </a> (alemany) ja tenim un pack prou complert...<br /> <br /> (el t&iacute;tol cont&eacute; humor, no fos cas que alg&uacute; es pens&eacute;s que totes les gasolineres de Fran&ccedil;a van amb programari GPL... i tingu&eacute;s una desil&middot;lusi&oacute;)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: GPL a les gasolineres Fran Soc frances i pensaba que es deia igual en castella catala i frances
pero depres de mirar a la wikipedia, he vist que el GPL frances("Gaz de pétrole liquéfié")es diu GLP ("Gas licuado del petróleo").

Llavors com es diu en catala...es diu com en castella GLP ?

merci<p class="comment-author">Escrit al 2006-12-29 16:06:24 per Anònim</p></li><li class="list-group-item comment">Re: GPL a les gasolineres Fran 
Hola,

GLP no es fa servir (no ho havia sentit mai).

Vaig intentar buscar per Google la Web de GPL i em va semblar això que deies, que és "Gaz de pétrole liquéfié", però vaig buscar més i no ho vaig trobar.

Normalment diem "gasolinera" (de gasolina). De fet són gasolineres, tot i que també hi hagi diesel o gasoil.

Així que GPL vol dir "gasolina"?

Encantat que ens llegeixi també un francès!<p class="comment-author">Escrit al 2006-12-29 16:07:05 per cpina</p></li><li class="list-group-item comment">Re: GPL a les gasolineres Fran 
Hola!

No crec que es la mateixa cosa que la gasolina perque la gasolina es un liquid i que el "GLP" es un gas.
Pots mirar la definició en castella de la wikipedia http://es.wikipedia.org/wiki/GLP

De tota manera mo es molt important, em falta moltes cosas per aprendre en catala :-)

anims per el sitio web!<p class="comment-author">Escrit al 2006-12-29 16:08:00 per Xavier</p></li>
    {% endblock %}

    