
    {% extends 'post_template.html' %}

    {% block title %}
        Habemus president!
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-09-03 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Com tots sab&iacute;eu avui era el dia de reestructurar els c&agrave;rrecs i de debatre sobre el futur de Catux.<br /> <br /> El veter&agrave; Sergi Pons (Sachiel) renova en el seu c&agrave;rrec de president mentre que &Agrave;ngel Momp&oacute; (Mecatxis) agafa el c&agrave;rrec de vicepresident; Mario M. Montero (Mahtar) i Jordi Vilalta (jvprat) agafen els c&agrave;rrecs de secretari i tresorer, respectivament.<br /> <br /> Finalment felicitar als antics encarregats i desitjar el millor als nous!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    