
    {% extends 'post_template.html' %}

    {% block title %}
        Història de Linux
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-12-03 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Acabo de veure <a href="http://www.linuxgazette.com/node/9721">aquest</a> article on explica tota la hist&ograve;ria de Linux, amb fotos i tot!<br /> <br /> Tot i estar for&ccedil;a resumit, &eacute;s un article for&ccedil;a interessant i curi&oacute;s on s&#39;expliquen coses que mai havia sentit :P</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    