
    {% extends 'post_template.html' %}

    {% block title %}
        Hola Hardy
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2008-04-21 08:43:41
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>El dia 24 d'abril de 2008, una nova versió d'Ubuntu, la Hardy Heron, sortirà a la llum. És per això que el dissabte 26 d'abril ho celebrem a Catalunya amb la Festa de Sortida de la Hardy.</p><p> La festa se cel·lebra al tercer pis de la Biblioteca Municipal de Caldes de Montbui:<br /> Carrer Santa Teresa núm. 3-5<br /> 08140 Caldes de Montbui<br /><br /> Més informació i inscripcions a la festa Hola Hardy:<br /> <a href="https://wiki.ubuntu.com/CatalanTeam/HolaHardy" target="_blank">https://wiki.ubuntu.com/CatalanTeam/HolaHardy</a><br /> <font color="#888888"><br /></font> </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    