
    {% extends 'post_template.html' %}

    {% block title %}
        Horari definitiu Jornades PL
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2007-07-02 19:23:17
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Ja hi ha l&#39;horari definitiu de les Jornades de Programari Lliure.</p><p>&nbsp;</p><p><a href="http://jornadespl.org/biblioteca/vi-jornades/papereria/programa-a4.pdf">L&#39; horari. </a></p><p><a href="http://jornadespl.org/biblioteca/vi-jornades/papereria/programa-a4.pdf"></a> <br />La <a href="http://jornadespl.org">web de les Jornades&nbsp;</a> </p><p>&nbsp;</p>Cal <a href="http://jornadespl.org/join_form">registrar-se</a>  a la Web per anar-hi.
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    