
    {% extends 'post_template.html' %}

    {% block title %}
        I ara la Fiberparty
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2007-04-16 12:21:01
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <!-- 		@page { size: 21cm 29.7cm; margin: 2cm } 		P { margin-bottom: 0.21cm } 	--> 	  <p style="margin-bottom: 0cm">Despr&eacute;s de la feli&ccedil; tornada de l&#39;equip de Catux, amb una GP2X a la butxaca d&#39;en jvprat per guanyar el concurs de programaci&oacute;, ja estem a punt per la seg&uuml;ent party:</p> <p style="margin-bottom: 0cm"><br /> </p> <p style="margin-bottom: 0cm"><a href="http://fiberparty.org" title="Fiberparty">FIBERPARTY!!!</a> </p> <p style="margin-bottom: 0cm"><br /> </p> <p style="margin-bottom: 0cm">La party comen&ccedil;a a les 12 del divendres dia 27! M&eacute;s informaci&oacute; a la llista: <a href="mailto:llista@catux.org">llista@catux.org</a></p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Fotos! Fotos!!!Fotos!!!Fotos!!!Fotos!!!Fotos!!!Fotos!!!Fotos!!!Fotos!!!Fotos!!!Fotos!!!Fotos!!! i Fotos!!!<p class="comment-author">Escrit al 2007-04-19 16:52:59 per franhp</p></li>
    {% endblock %}

    