
    {% extends 'post_template.html' %}

    {% block title %}
        IGC
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-04-17 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Els dies 10 a 14 de maig fan a Barcelona l&#39;<a href="http://www.igcweb.net/default.php">Internet Global Congress</a>. <br /> El preu <a href="http://www.igcweb.net/web/php/inscripcions/default.php">&eacute;s elevat</a> per a moltes butxaques.<br /> Hi haur&agrave; algunes confer&egrave;ncies interessants de seguretat inform&agrave;tica, o una curiosa de Programari Lliure vs. Programari Propietari, aix&ograve; s&iacute;, sense cap ponent de programari propietari a la taula (curi&oacute;s si m&eacute;s no).<br /> Paral&middot;lelament al congr&eacute;s es far&agrave; la reuni&oacute; de l&#39;<a href="http://www.isoc.org/">ISOC</a>, que s&oacute;n els pares d&#39;Internet (Vinton Cerf, per exemple).</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    