
    {% extends 'post_template.html' %}

    {% block title %}
        II GameParty
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2006-04-13 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Entre el dia 15 (Dissabte) i el dia 16, es celebrar&aacute; la game party de catux. Disposarem d&#39;un aforament de unes 8 persones i cada cap haur&aacute; de pagar 5 euros.<br /> En aquesta party no nom&eacute;s ens dedicarem a jugar i jugar (amb jocs lliures, es clar), sin&oacute; que tamb&eacute; farem proves de catux-usb i moltes altres coses interessants. En fi, no mereix la pena perdre-se-la.<br /> <br /> Si et vols apuntar, posa el teu nom <a href="http://catux.org/wiki/index.php?title=GameParty&amp;action=edit&amp;section=3">aqu&iacute;</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    