
    {% extends 'post_template.html' %}

    {% block title %}
        II Jornades a Ripoll
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2006-10-21 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui un equip de Catux s&#39;ha despla&ccedil;at a Ripoll per participar a les II Jornades de programari lliure.<br /> <br /> En Mecatxis (jo mateix) ha moderat una debat obert sobre els avantatges d&#39;emprar models de programari lliures i privatius respectivament. El debat ha estat molt animat, perqu&egrave; els partidaris del programari privatiu han plantejat una forta defensa.<br /> <br /> Seguidament, en Pinucset ha fet una xerrada sobre Blender i ha passat la pel&middot;l&iacute;cula &quot;Elephants dream&quot;. Ha fet una demostraci&oacute; de com estava feta la pel&middot;l&iacute;cula. La gent ha mostrat molt inter&egrave;s i el Pinucset ha estat a l&#39;al&ccedil;ada, com sempre!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    