
    {% extends 'post_template.html' %}

    {% block title %}
        II Jornada de Programari Lliure a Navàs
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-03-12 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">El dissabte 25 de Mar&ccedil; es far&agrave; a Nav&agrave;s (a uns 25 Km. de Manresa) les II Jornades de Programari Lliure. Durant el mat&iacute; &eacute;s sobre programari lliure en general, a la tarda est&agrave; m&eacute;s orientat a l&#39;educaci&oacute;.<br /> <br /> Catux hi col&middot;laborar&agrave; amb una xerrada sobre &quot;L&#39;&Uacute;s del Programari Lliure&quot;, on es comentaran els motius no t&egrave;cnics per utilitzar programari lliure i, si hi ha temps, es desmentiran alguns mites d&#39;aquest. <br /> <br /> M&eacute;s informaci&oacute; a la <a href="http://www.noticx.org/">seva Web</a>. Us podeu apuntar en <a href="http://www.noticx.org/?q=node/67/">aquesta plana</a>.<br /> <br /> Hi ha disponible <a href="http://www.noticx.org/Fullet_jornada.pdf">el programa</a> i tamb&eacute; <a href="http://www.noticx.org/acces.pdf">com arribar.</a><br /> <br /> Aix&iacute; doncs, ens veiem el Dissabte 25!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    