
    {% extends 'post_template.html' %}

    {% block title %}
        Inscripció als cursets
    {% endblock %}

    {% block author %}
        Pachu
    {% endblock %}

    {% block post_date %}
        2005-07-27 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">El dilluns dia 1 d&#39;Agost, dia en que comencen els cursets, posarem a disposici&oacute; dels assistents una llista per tal de que puguin formalitzar la seva inscripci&oacute; als cursets que es portar&agrave;n a terme a partir del dimarts dia 2.<br /> <br /> Fins aviat</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Inscripció als cursets Hola Sr. Pau Gangonells:

Bones vacances,

Aprofito per informar-te del nostre interes d'assistir al Linux-Show, si és possible.

Serem 2 persones.

A reveure,

David i Desan<p class="comment-author">Escrit al 2006-12-29 01:45:46 per Anònim</p></li><li class="list-group-item comment">Re: Inscripció als cursets  Hola gent de Catux , estic molt interesat en el sistema operatiu LINUX i en tot el que esteu fent , també m´ agrada molt el llenguatge de programació C++ i el Shell de Linux , es genial !

Bé , esperu coneixer-vos personalment algun dia per xerrar sobre informatica , programació i altres coses .

M´ agrada la vostra web.

El meu nick es : Davidovich i soc de Manresa.

Adeu i fins aviat .<p class="comment-author">Escrit al 2006-12-29 01:46:24 per Anònim</p></li><li class="list-group-item comment">Re: Inscripció als cursets Hola Davidovich,

a la mateixa web expica on i com ens trobem.
Be de totes maneres et faig un resum introductori daixosss.

Ens solem trobar tots els diumenges de 6 a 10 a lescola didiomes FORMAT, al torrent del canigo num 47 (crec).

Espero que ens coneguem tambe i poguem parlar tranquilament.<p class="comment-author">Escrit al 2006-12-29 01:46:56 per pachu</p></li><li class="list-group-item comment">Re: Inscripció als cursets 
quina llàstima, justament del shell de unix vem fer un assaig del tutorial de les jornades... segurament t'hagués agradat o hi haguessis pogut aportar...<p class="comment-author">Escrit al 2006-12-29 01:48:30 per cpina</p></li><li class="list-group-item comment">Re: Inscripció als cursets Per en Davidovich

El pachu t'ha dit que quedem els diumenges de 6 a 10, però cal aclarir que és a les tardes.
No vinguis a les sis del matí, perque encara no hi han els carrers posats... ;D<p class="comment-author">Escrit al 2006-12-29 01:49:02 per mecatxis</p></li>
    {% endblock %}

    