
    {% extends 'post_template.html' %}

    {% block title %}
        Instal·lació de Mandriva a Vic (19, 20, 26 i 27 Agost)
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-08-05 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">En Guillem Vidal, de Perpiny&agrave;, s&#39;ha posat en contacte amb Catux per oferir-se voluntari per instal&middot;lar distribucions Mandrives a Vic els dies 19, 20, 27 i 27 d&#39;Agost.<br /> <br /> Si us volen posar en contacte amb ell, el seu mail &eacute;s gvia66 ARROBA yahoo.fr. Feu c&ograve;rrer la veu als vostres amics interessats en instal&middot;lar-se GNU/Linux, segurament els hi pot donar un cop de m&agrave;. Ara a l&#39;estiu &eacute;s un molt bon moment per introduir-se al m&oacute;n de GNU/Linux!<br /> <br /> <strong>Nota:</strong> Catux no forma part d&#39;aquesta iniciativa, tot i que li dona suport com tot el qu&egrave; sigui promocionar el Programari Lliure.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    