
    {% extends 'post_template.html' %}

    {% block title %}
        Install party a Sant Joan
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2007-10-21 20:40:45
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Dissabte dia 27, dins els actes de <a href="http://www.santjoanv.org/acte.php?nId=338443941&amp;cTitol=FIRA+FESTA+TARDOR+2007&amp;cRef=%2Findex.php%3F">Firafesta 2007</a>  farem una install party juntament amb la <a href="http://www.mintercar.org">Mancomunitat Intermunicipal del Cardener</a> </p><p>&nbsp;</p><p>Estarem de les 9 del mat&iacute; a les 7 de la tarda (pararem una estona per dinar)</p><p>&nbsp;</p><p>Si alg&uacute; s&#39;anima a venir, tmb&eacute; s&#39;ha proposat (extraoficialment) fer una game party amb el <a href="http://openarena.ws/?about">openarena</a></p><p>&nbsp;</p><p>Fins dissabte!&nbsp;</p><p>&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    