
    {% extends 'post_template.html' %}

    {% block title %}
        Intel PRO/Wireless 2200BG 802.11b/g Access Point Project
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2005-12-29 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p><span class="noticia">Intel acava d&#39;obrir un nou projecte de programari lliure, per dotar del mode master als drivers de les targetes de xarxa wifi dels Centrino.<br /> <br /> El projecte ja t&eacute; p&agrave;gina a Sourceforge: <a href="http://sourceforge.net/projects/ipw2200-ap">http://sourceforge.net/projects/ipw2200-ap</a>. Sembla que en poques setmanes ja podrem descarregar-ne codi.<br /> <br /> Que bonic veure que els fabricants de hardware comencen a moure&#39;s per donar suport al programari lliure.</span><br />&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Intel PRO/Wireless 2200BG Entre això, Dell que ven PCS amb Firefox, Fujitsu Siemens amb possibilitat de tenir el portàtil amb Linux (sense pagar llicències...)

MS deu estar cagat xD<p class="comment-author">Escrit al 2006-12-29 15:52:01 per Anònim</p></li><li class="list-group-item comment">Re: Intel PRO/Wireless 2200BG Per cert, crec que no ho fan per altruisme això, sino perquè moltes empreses funcionen amb Linux i no els els comprarien res xD<p class="comment-author">Escrit al 2006-12-29 15:52:58 per Anònim</p></li>
    {% endblock %}

    