
    {% extends 'post_template.html' %}

    {% block title %}
        Ja coneixes Creative Commons?
    {% endblock %}

    {% block author %}
        Sachiel
    {% endblock %}

    {% block post_date %}
        2004-10-16 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <div style="margin-left: 40px"><font face="Verdana, Arial, sans-serif" color="#000000"><strong><span class="titol"> </span></strong></font> </div>     <table border="0" cellspacing="2" cellpadding="2" width="703" height="17" style="text-align: left; margin-left: auto; margin-right: auto"> <tbody> <tr> <td style="vertical-align: top"> <div class="centrat"> <span class="noticia">Alguns de vosaltres haureu sentit parlar de la llicencia Creative Commons, a la qual s&#39;acullen, entre d&#39;altres, tots els articles de Catux.<br /> <br /> Si voleu saber en que consisteix ex&agrave;ctament aquesta llic&egrave;ncia i no teniu ganes de llegir, podeu divertir-vos amb aquesta <a href="http://cyber.law.harvard.edu/blogs/gems/ion/secreativo.swf">animaci&oacute; en flash</a></span> </div><br /></td></tr></tbody></table>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Ja coneixes Creative Commo Fa poc llegia aquest article:

http://www.softcatala.org/articles/article47.htm

Es força entenedor.<p class="comment-author">Escrit al 2006-12-28 15:51:38 per Anònim</p></li>
    {% endblock %}

    