
    {% extends 'post_template.html' %}

    {% block title %}
        Ja hem recuperat els articles antics!
    {% endblock %}

    {% block author %}
        Sachiel
    {% endblock %}

    {% block post_date %}
        2004-04-05 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Com podreu veure a la secci&oacute; articles, ja hem traslladat al nou web la majoria d&#39;ells. Encara no hem arreglat els enlla&ccedil;os que fan refer&egrave;ncia a les imatges, esperem enllestir-ho aviat.<br /> <br /> Gr&agrave;cies per la vostra paci&egrave;ncia.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    