
    {% extends 'post_template.html' %}

    {% block title %}
        Ja podem veure els fitxers de la partició Linux al nostre Windows!!
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2005-01-26 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Per aquelles persones que encara han d&#39;utilitzar la partici&oacute; de Windows i han de crear la t&iacute;pica partici&oacute; en Fat per poder compartir fitxers ha nascut un programa... Explore2fs 1.00 pre 6 . Est&agrave; en una fase beta i tampoc no s&#39;hauria/pot escriure en les particions NTFS (com tots ;D)<br /> <a href="http://uranus.it.swin.edu.au/%7Ejn/linux/explore2fs.htm">Aqu&iacute; l&#39;enlla&ccedil;</a><br /> <br /> PD: Encara no suporta Reiser... oooooooo!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Problemàtic Si mai s'arriba a poder escriure en les particions linux mitjançant el windows tindrem problemes (i grossos) amb els virus i altres "animalons".<p class="comment-author">Escrit al 2006-12-28 23:50:26 per Anònim</p></li><li class="list-group-item comment">Re: Ja podem veure els fitxers Un parell de comentaris :-)

(Semblo un pere-punyetes, ho sento)

L'aplicació fa temps que existeix, si mirem la pàgina seva de freshmeat veiem que té 5 anys (i potser va ser anterior i no va estar donada d'alta a Freshmeat, però ocupa 1 MB i ara estic amb mòdem :-) )

I per ReiserFS, a la pàgina del explore2fs hi ha 2 enllaços amb dos projectes, virtualfstool i RFSTool que són per llegir de Reiser, però jo ni idea de si van bé o no (no els he provat).

No sembla que hagin de funcionar amb ReiserFS v4.0 però vaja, tampoc és molt comú de moment :-)

Fins aviat!<p class="comment-author">Escrit al 2006-12-28 23:53:41 per cpina</p></li><li class="list-group-item comment">Re: Ja podem veure els fitxers 
Sí, exacte, ja fa molt de temps que n'hi han de programes d'aquests, el que passa és que els què he probat, que són els que comenteu aquí, deixen bastant a desitjar.

Tant en reiser (3) com en ext, el què fa és llegir, però el què m'he trobat jo, que tinc 10 particions al disc, només me'n troba dues, quan totes menys dues són o reiser o ext.

A part d'això, no ho fan gens bé. Per veure els fitxers, primer els has de copiar a la partició de Windows, un a un, i no agafa carpetes... Bé, una bassura.

No és per criticar, però la notícia ha sigut una mica pífia ;)<p class="comment-author">Escrit al 2006-12-28 23:54:43 per Anònim</p></li><li class="list-group-item comment">Re: Ja podem veure els fitxers 1. No suporta Reiser per si sola, hi han altres aplicacions que segons l'autor no son de fiar gaire (gracies pels apunts pinux ;D)

2. Ni pot ni s'ha d'escriure, aixó volida dir, doncs NTFS no esta completament suportat.

3. Si el nom del programa es "1 pre 6" és de suposar que ja hi han hagut més versions! no som tontos, no?

4. Al anònim, aixo es problema teu si tens tantes particions. Són programes beta, no pots esperar miracles.
La idea d'aquest problema és solucionar els petits problemes, si vols un suport especial per a tu ja saps el que has de fer, fes-t'ho tu mateix.
No és per criticar, però "el teu post" ha sigut una mica pífia ;)

Gràcies per llegir-me<p class="comment-author">Escrit al 2006-12-28 23:56:07 per grap</p></li><li class="list-group-item comment">Re: Ja podem veure els fitxers 
A l'anònim de les 21:36... pregunto (sense tenir-ne ni idea, no n'he fet servir mai cap): és possible que només et trobi les particions que són primàries i no les exteses?

Això d'haver de copiar fitxers és ben curiós, jo pensava que almenys amb ext2 estava tot ben suportat.

GraP: comentava això que ja tenen uns anys perquè el primer cop que he llegit la notícia semblava una novetat que hi hagués el programa.

Fins aviat a tots!!<p class="comment-author">Escrit al 2006-12-28 23:56:54 per cpina</p></li>
    {% endblock %}

    