
    {% extends 'post_template.html' %}

    {% block title %}
        Ja tenim aquí la Knoppix v3.4
    {% endblock %}

    {% block author %}
        antroh
    {% endblock %}

    {% block post_date %}
        2004-05-04 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        Els usuaris d&#39;aquesta magn&iacute;fica distribuci&oacute; estem d&#39;enhorabona. Ja ha sortit a la llum la &uacute;ltima versi&oacute; de la distribuci&oacute; Knoppix, concretament la v3.4. Com a caracter&iacute;stiques m&eacute;s importants cal destacar la incorporaci&oacute; de la versi&oacute; del nucli de Linux 2.6.5, el KDE 3.2.2 i la versi&oacute; 2.0 del GIMP. Ja es pot baixar dels servidors amb r&egrave;plica (mirrors) oficials, i ben aviat, de tots els altres servidors habituals. No cal recordar que Knoppix es pot arrencar des de CD (live CD), i que aix&ograve; la converteix en una distribuci&oacute; ideal per a demostracions, eina de recuperaci&oacute; del sistema i com a manera molt f&agrave;cil de disposar d&#39;una distribuci&oacute; DEBIAN al nostre PC.
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">I en català quan estarà?<p class="comment-author">Escrit al 2006-12-25 23:18:54 per Anònim</p></li><li class="list-group-item comment">RE: Ja tenim aquí la Knoppix v 
Personalment la prefereixo en anglès, ja que malauradament en les traduccions que fan a softcatalà, se la solen carregar bastant.
Prefereixo catalanitzar-la jo mateix :)<p class="comment-author">Escrit al 2006-12-25 23:19:39 per whats_up</p></li><li class="list-group-item comment">Si, pot ser tens rao, pero quan estas ensenyant a algu com es això d linux, doncs t'agrada que estiga en el teu idioma o com a mínim en castellà. :)
A no ser clar, que el que tu faces siga refer la metadistro, clar q com que esteu de metadistros igual és facil per vosaltres xD<p class="comment-author">Escrit al 2006-12-25 23:20:15 per Anònim</p></li>
    {% endblock %}

    