
    {% extends 'post_template.html' %}

    {% block title %}
        Ja tenim MediaWiki!
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2005-10-31 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Des de les 19.00 hores del dia 31 d&#39;octubre, Catux ha migrat completament el wiki cap a MediaWiki.<br /> Despr&eacute;s de 2 dies de dur treball, tot el contingut ha sigut migrat amb &egrave;xit i a m&eacute;s a m&eacute;s s&#39;hi han afegit uns m&ograve;duls de seguretat contra el Spam que no em deixava viure tranquil. <br /> La p&agrave;gina d&#39;inici (Portada) ha sigut bloquejada i nom&eacute;s el administrador la pot modificar (es pot canviar), la resta s&oacute;n p&uacute;bliques. <br /> Tamb&eacute; m&#39;agradaria demanar que es realitz&eacute;s un logotip per al wiki (ha de ser de 135x135).<br /> <a href="http://www.catux.org/wiki/index.php/Portada">http://www.catux.org/wiki/index.php/Portada</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Ja tenim MediaWiki! Eps, pues a mi el logo que hi ha ja m''està bé. Felicitats Fran!!<p class="comment-author">Escrit al 2006-12-29 02:26:28 per oriol</p></li><li class="list-group-item comment">Re: Ja tenim MediaWiki! A mi ja m'agradava, però el d'ara m'agrada encara més :-) (no sé qui l'ha fet)<p class="comment-author">Escrit al 2006-12-29 02:27:46 per cpina</p></li><li class="list-group-item comment">Re: Ja tenim MediaWiki! 
el logo actual és del jvprat.<p class="comment-author">Escrit al 2006-12-29 02:28:23 per grap</p></li>
    {% endblock %}

    