
    {% extends 'post_template.html' %}

    {% block title %}
        Jornades de Programari Lliure: Crida a la participació
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2009-03-11 19:13:57
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Ja ha sortit (ara fa uns dies) la Crida a la Participació de les VIII Jornades de Programari Lliure.</p><p>Enguany es fan de l'1 al 4 de Juliol, a l'Universitat de Barcelona, a la facultat de Plaça Universitat (al costat de Plaça Catalunya).</p><p>La <a href="http://jornadespl.org/">Web de les Jornades de Programari</a> lliure i podeu llegir la <a href="http://www.jornadespl.org/news/crida-a-participar-a-les-viii-jpl">Crida a la Participació. </a></p><p>L'assistència és grauita però cal apuntar-se via Web. Es poden presentar tutorials, tallers, xerrades curtes, xerrades llampec, etc. </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    