
    {% extends 'post_template.html' %}

    {% block title %}
        Jornada de treball programari lliure i La Farga
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-09-30 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">El dia 8 d&#39;Octubre, &eacute;s a dir, Dimecres vinent, es far&agrave; una <a href="http://www.lafarga.org/node/view/23">Jornada de Treball sobre l&#39;Impuls del Programari Lliure</a>, a l&#39;UPC de Barcelona.<br /> <br /> Aquesta sessi&oacute; servir&agrave; per debatre sobre el Programari Lliure, les seves caracter&iacute;stiques, patents, etc. i serveix a la vegada per presentar el projecte <a href="http://www.lafarga.org/">la Farga</a>, el qual intenta agrupar programari lliure, organitzacions, etc. de l&#39;&agrave;mbit catal&agrave;.<br /> <br /> Evidentment qui vulgui hi pot assistir, segurament es trobar&agrave; amb algun de nosaltres.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Consells 
Sembla que sou uns dels que més implicats esteu com a .org així que us proposaria si podeu fer retransmissió per Internet de les xerrades, així també podrem ser-hi els que s'hom ben lluny físicament.<p class="comment-author">Escrit al 2006-12-28 15:35:30 per Anònim</p></li><li class="list-group-item comment">Re: Jornada de treball program Bé, com a dit en sachi :), no ens es possible aquest tipus de coses. Som una mica humils encara... El que si que farem, com es habitual, es comentar les coses que s'han fet i els temes que hem tractat allà, aixi com coses interesants i novetats. Per tant el que pots fer es donar-te d'alta a la llista de correu de catux.

Aixi convido a tothom a fer el mateix ;I<p class="comment-author">Escrit al 2006-12-28 15:37:34 per pachu</p></li><li class="list-group-item comment">Re: Jornada de treball program no crec que siga molt complex fer les gravacions dels audios(o els videos) i penjar-les a internet ajudant-se dels p2p, com ja fan a Bulma... ;))<p class="comment-author">Escrit al 2006-12-28 15:38:31 per laura</p></li><li class="list-group-item comment">Re: Jornada de treball program 
Tambe tens rao laura... :P<p class="comment-author">Escrit al 2006-12-28 15:39:49 per pachu</p></li>
    {% endblock %}

    