
    {% extends 'post_template.html' %}

    {% block title %}
        Jornades de programari lliure a Ripoll
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2007-10-06 20:43:19
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Dissabte dia 20, dins les <a href="http://www.televall.org/images/stories/pdf/jornades_web.pdf">III Jornades de Programari Llire del Ripoll&egrave;s</a> , a Ripoll, Catux participa en tres activitats:</p><p>&nbsp;</p><p>De 12:30 fins a 14:00, un taller-tutorial de Bash. Despr&eacute;s de dinar, a les 4 de la tarda, una xerrada sobre els avantatges i els mites al voltant del programari lliure i a 2/4 de 5 un debat sobre qu&egrave; &eacute;s el que ens agrada (i ens desagrada) dels programes.</p><p>&nbsp;</p><p>Us hi esperem!</p><p>&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">gràcies! ep mestres (fran, carles, jordi i companyia)
us escric des del sofà, i sense \'cable\',

moltes gràcies i felicitats per la vostra tasca! us anirem seguint des del ripollès...

salut!

per cert, el meu bloc és http://arnauurgell.wordpress.com és un bloc seriós i de feina, però prometo fer un post sobre la jornada d\'avui..<p class="comment-author">Escrit al 2007-10-20 21:26:13 per arnau</p></li>
    {% endblock %}

    