
    {% extends 'post_template.html' %}

    {% block title %}
        Jornades Programari Lliure 2007
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2007-05-12 13:47:35
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Queda nom&eacute;s un mes i mig per les VI Jornades de Programari Lliure i ja hi ha la <a href="http://www.jornadespl.org/biblioteca/vi-jornades/papereria/call-for-papers">crida de participaci&oacute;</a>.  </p><p>Les Jornades es celebraran entre el 4 i el 7 de Juliol a Girona i&nbsp; tenen un nou format que est&agrave; especificat a la <a href="http://www.jornadespl.org/Members/admin/nova-organitzacio-jpl/">p&agrave;gina explicativa. </a> </p><p>M&eacute;s informaci&oacute;: <a href="http://www.jornadespl.org">http://www.jornadespl.org</a> (on us podeu mantenir informats puntualment, informaci&oacute; d&#39;edicions anteriors, etc.) </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    