
    {% extends 'post_template.html' %}

    {% block title %}
        Jornada de Programari Lliure a Ripoll
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-09-11 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">El Dissabte vinent, dia 17 de Setembre, s&#39;organitza a Ripoll una <a href="http://www.xarxa-omnia.org/ripoll/mambo/">Jornada de Programari Lliure</a>. Cont&eacute; debats, tallers, taules rodones, etc.<br /> <br /> Qui estigui interessat a con&egrave;ixer el m&oacute;n de Linux i programari lliure, amb temes introductoris o m&eacute;s avan&ccedil;ats, pot assistir-hi que segur que en treur&agrave; alguna cosa de profit.<br /> <br /> Tamb&eacute;, si alg&uacute; t&eacute; un amic o amiga interessat en aquest m&oacute;n: envia-li la plana Web, hi pot estar interessat i no saber-ho!<br /> <br /> En algunes activitats Catux hi participar&agrave;, aix&iacute; que tamb&eacute; podeu veure&#39;ns.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Jornada de treball program La veritat és que la idea és interessant, però crec que no disposem de prou ample de banda com per montar un servei d'streaming com aquest, amb audio i video simultanis. Tingues en compte que estem utilitzant una ADLS compartida, que ens cedeix l'academia FORMA'T de manera gratuita, no disposem de conexió propia a gran velocitat ni res d'aixó.

EL que si que podriem fer potser és, amb una webcam, mostrar algunes estones de les quedades dels diumenges en temps real (sense so), més que res com a curiositat, com fan en algunes webs que ensenyen les oficines mentres treballen.<p class="comment-author">Escrit al 2006-12-28 15:36:33 per Sachiel</p></li>
    {% endblock %}

    