
    {% extends 'post_template.html' %}

    {% block title %}
        Kde-es2006
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-02-10 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Els dies 3, 4 i 5 de Mar&ccedil; a Barcelona es far&agrave; la Kde-es2006. Aix&ograve; &eacute;s, la trobada aKademy-es, trobada amb altres usuaris, desenvolupadors, traductors, etc. de KDE.<br /> <br /> Entre altres coses hi haur&agrave; debats de traducci&oacute;, KDE per usuaris, KDE per desenvolupadors, etc. etc.<br /> <br /> M&eacute;s informaci&oacute; a la <a href="http://wiki.badopi.org/index.php/Kde-es2006">p&agrave;gina Web.</a> Organitza <a href="http://badopi.org/">Badopi.</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    