
    {% extends 'post_template.html' %}

    {% block title %}
        KDE 3.3
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-08-24 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Doncs el 19 d&#39;Agost es va anunciar la versi&oacute; 3.3 d&#39;aquest fant&agrave;stic gestor de finestres. Aix&ograve; passa nom&eacute;s deu dies despr&eacute;s de la segona &quot;Release Candidate&quot; i un dia abans de que comenc&eacute;s l&#39;<a href="http://barrapunto.com/eventos/04/08/22/1732202.shtml">edici&oacute; 2004 del congr&eacute;s de desenvolupadors i usuaris de KDE, anomenada aquest any, aKademy</a>.<br /> <br /> Entre els canvis que aporta, trobem cinc noves aplicacions, com per exemple la substituci&oacute; del Kpaint per el Kolourpaint. A m&eacute;s, s&#39;ha millorat la integraci&oacute; amb els components. Tamb&eacute; destacar que s&#39;han afegit o modificat 60.000 l&iacute;nies de codi.<br /> <br /> Alg&uacute; ja l&#39;ha provat??</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">jo l'he provat si tens un ordinador amb prou rapidesa i memòria val la pena ;-)
l'he provat i sembla una mica més optimitzat
no m'havia fixat en el kolourpaing :-P<p class="comment-author">Escrit al 2006-12-28 14:39:47 per mark</p></li><li class="list-group-item comment">kopete 
El que de veritat ha millorat ha estat el kopete.
Ara suporta l'avatar, i l'enviament de fitxers ^^
I no se si hi ha més millores pk no l'havia usat practicament.
Però ara m'he canviat de aMSN a kopete (el tk és molt lent i lleig).<p class="comment-author">Escrit al 2006-12-28 14:40:30 per Anònim</p></li>
    {% endblock %}

    