
    {% extends 'post_template.html' %}

    {% block title %}
        Kernel 2.6.8
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-08-14 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ja ha sortit la versi&oacute; 2.6.8 del nucli Linux, ha estat aquest mat&iacute; a les 06:10. Ja podeu baixar-vos el <a href="http://www.kernel.org/pub/linux/kernel/v2.6/patch-2.6.8.bz2">pegat</a> i la versi&oacute; <a href="http://www.kernel.org/pub/linux/kernel/v2.6/linux-2.6.8.tar.bz2">completa</a>. Tamb&eacute; podeu consultar els <a href="http://www.kernel.org/pub/linux/kernel/v2.6/ChangeLog-2.6.8">canvis</a> fets. (-A Catux ja l&#39;estem utilitzant ;)-)<br /> A gaudir-lo!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    