
    {% extends 'post_template.html' %}

    {% block title %}
        Kernel 2.6.11 estable disponible
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2005-03-02 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ja est&agrave; disponible aquesta versi&oacute; del nucli de Linux des d&#39;aquest mat&iacute;, i es pot baixar sencer directament <a href="http://www.kernel.org/pub/linux/kernel/v2.6/linux-2.6.11.tar.bz2">aqu&iacute;</a>, o anar a aquesta <a href="http://www.kernel.org/pub/linux/kernel/v2.6/">p&agrave;gina</a>.<br /> <br /> Sembla que aquesta versi&oacute; ha costat una mica de sortir, ja que ja fa m&eacute;s de dos mesos que va sortir el 2.6.10 estable, i des de que va sortir el 2.6 ara deu fa un any, les versions anaven sortint cada dos per tres (aix&ograve; no &eacute;s una cr&iacute;tica, &eacute;s una observaci&oacute;).<br /> <br /> B&eacute;, jo ja me&#39;l estic baixant (sempre em baixo el &quot;full&quot;, mai m&#39;han agradat els &quot;patch&quot; :P ).</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Kernel 2.6.11 estable disp Seria millor que posessis l'enllaç a la pàgina de mirrors que no pas directament a l'arxiu a kernel.org. Salut.<p class="comment-author">Escrit al 2006-12-29 00:19:53 per Anònim</p></li><li class="list-group-item comment">Re: Kernel 2.6.11 estable disp Ok =)<p class="comment-author">Escrit al 2006-12-29 00:21:40 per Elizir</p></li>
    {% endblock %}

    