
    {% extends 'post_template.html' %}

    {% block title %}
        Kernel 2.4.28 ja disponible
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-11-19 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ahir va sortir la nova versi&oacute; de la branca 2.4.x que intenta solventar alguns problemes amb l&#39;acpi aix&iacute; com afegir support per els xipsets prism54, i algunes millores per el sistema de fitxers XFS.<br /> <br /> Podeu descarregar-vos <a href="ftp://www.kernel.org/pub/linux/kernel/v2.4/linux-2.4.28.tar.bz2">aquesta versi&oacute;</a> de la <a href="http://www.kernel.org/">p&agrave;gina del kernel</a> i/o mirar els <a href="http://www.kernel.org/pub/linux/kernel/v2.4/ChangeLog-2.4.28">changelog</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    