
    {% extends 'post_template.html' %}

    {% block title %}
        Kopete: El missatger instantani de KDE
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-03-27 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Kopete &eacute;s l&#39; aplicaci&oacute; de missatgeria instantania de KDE que suporta varis protocols (entre ells AIM, JABBER, MSN Messenger, YAHOO) i molts d&#39;altres.<br /> <br /> Actualment en la versi&oacute; 0.11.1 suporta videoconfer&egrave;ncia en els protocols MSN Messenger i YAHOO) i en la pr&ograve;xima versi&oacute; 0.12; ja en BETA2, suportar&agrave; experimentalment la veu-ip a Jabber mitjan&ccedil;ant l&#39;especificaci&oacute; JINGLE, alliberada per Google.<br /> <br /> <a href="http://kopete.kde.org/">La web de Kopete</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    