
    {% extends 'post_template.html' %}

    {% block title %}
        Krank: un puzle de pilotes
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2010-02-07 13:32:19
    {% endblock %}

    {% block categories %}
        Articles, Jocs
    {% endblock %}

    {% block post %}
        <p>He descobert un joc que m'ha captivat:<a href="http://krank.sourceforge.net/"> Krank</a>. Al joc ets el cuc format per les tres bombolles desplaces el cuc arrossegant el ratolí i has d'anar agrupant les boletes i els quadradets de diferents maneres. Hi estic ben enganxat! Ah! i està disponible als repositoris d'Ubuntu!</p>
<p style="text-align: center;"><img src="images/stories/Krank_1.png" border="0" width="401" height="312" /></p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    