
    {% extends 'post_template.html' %}

    {% block title %}
        La Biblioteca regala CDs amb programari lliure
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-02-04 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Des de fa uns dies, a la Biblioteca de Manresa (el Casino) regalen un CD amb una recopilaci&oacute; de programari lliure i altres coses molt interessants:<br /> OpenOffice.org 1.1<br /> AbiWord 2.05<br /> Mozilla 1.5<br /> GIMP 1.0<br /> Salt 2.0<br /> WinRar 2.90<br /> Leechftp<br /> Opera 7.32<br /> Firefox 0.8<br /> Webcopier 2.1<br /> Guia d&#39;estil de traducci&oacute; i un recull de termes.<br /> <br /> Malgrat tot, aix&ograve; nom&eacute;s &eacute;s per a windows, per&ograve; la gr&agrave;cia del CD no acaba aqu&iacute;. Cont&eacute; els seg&uuml;ents programes per a Linux: Mozilla, OpenOffice.org, Firefox i Ispell.<br /> <br /> Tot gr&agrave;cies a <a href="http://www.softcatala.org/">SoftCatal&agrave;</a>.<br /> <br /> PD: Tamb&eacute; t&eacute; uns paquets per a Palm i l&#39;OpenOffice.org per a plataformes Solaris.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: La Biblioteca regala CDs a Ostres quina bona noticia!

El què no m'agrada és que barregin programari lliure i programari no lliure (Salt crec que no és lliure, WinRAR segur que no, leechftp crec que no, opera segur que tampoc, etc.) però ho trobo una fantàstic iniciativa!<p class="comment-author">Escrit al 2006-12-29 00:05:29 per cpina</p></li><li class="list-group-item comment">Alguns programes antics Que poden donar una mala impressió, per exemple el Gimp 1.0, quan ara corre el gimp 2.2 (molt millor).<p class="comment-author">Escrit al 2006-12-29 00:06:12 per Anònim</p></li><li class="list-group-item comment">Re: La Biblioteca regala CDs a 
Sí cert, i Firefox 0.8 i hi ha el 1.0 :-s<p class="comment-author">Escrit al 2006-12-29 00:07:27 per cpina</p></li><li class="list-group-item comment">Re: La Biblioteca regala CDs a 
Trobo que no és el fet de distribuir software retrassat, sinó software lliure i totalment en català.

PD: lliure sempre entre cometes com ha comentat en pinux<p class="comment-author">Escrit al 2006-12-29 00:08:08 per grap</p></li><li class="list-group-item comment">Re: La Biblioteca regala CDs a 
Tens raó en la importància que sigui progamari lliure i en català però el fet de que sigui antic no és bo, i més si tenim en compte que a softcatalà hi ha la versió gimp 2.05, firefox 1.0, mozilla 1.7.5 ... totalment en català.

Sembla que regalin uns CD "que els hi han sobrat" i no saben que fer-ne.
I aquesta no és la manera de promocionar el programari lliure.

Per exemple, a un usuari de photoshop li puc dir que amb el gimp 2.2 podrà fer, més o menys, les mateixes coses, amb el gimp 1.0 no.

El firefox 1.0 és genial (el meu navegador per defecte) , el 0.8 no em va acabar d'agradar i vaig continuar amb el mozilla classic.

Si hem de convencer als usuaris de windows haurà de ser amb programari millor o com a minim igual de bo que al que estan acostumats.<p class="comment-author">Escrit al 2006-12-29 00:08:39 per Anònim</p></li><li class="list-group-item comment">Re: La Biblioteca regala CDs a Molt ben dit, completament d'acord<p class="comment-author">Escrit al 2006-12-29 00:09:18 per grap</p></li>
    {% endblock %}

    