
    {% extends 'post_template.html' %}

    {% block title %}
        La CMT permet a Telefónica duplicar la velocitat ADSL si garantitza competència
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-07-26 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Els internautes estem d&#39;enhorabona. La Comissi&oacute; del Mercat de Telecomunicacions (CMT) ha aprovat, amb condicions, la iniciativa comercial de Telef&oacute;nica de Espa&ntilde;a de duplicar la velocitat de totes les linies ADSL per acc&eacute;s a Internet sense variar el seu preu. No obstant, Telef&oacute;nica haur&agrave; de garantir a les companyies competidores unes condicions comercials per a que puguin oferir les mateixes ofertes als seus clients.<br /> <br /> Not&iacute;cia treta d&#39;<a href="http://www.internautas.org/article.php?sid=1818&amp;mode=thread&amp;order=0">aqu&iacute;</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    