
    {% extends 'post_template.html' %}

    {% block title %}
        La tecnologia en els processadors
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-10-18 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">A la trobada habitual de cada diumenge, va sortir el tema de la difer&egrave;ncia dels processadors mobile, els portatils centrino, etc. Vaig comentar les difer&egrave;ncies com vaig poder, i em va picar una mica la curiositat :P.<br /> <br /> He trobat dos articles que intenten <a href="http://www.theinquirer.net/?article=19105">explicar</a> una mica les <a href="http://www.theinquirer.net/?article=19110">difer&egrave;ncies</a>, problemes, avantatges, etc de tot el qu&egrave; envolta aquest tema.<br /> <br /> Realment molt interessant!<br /> <br /> PD: No ser&agrave; que la pcmcia t&eacute; un pin &quot;xungo&quot; i per aix&ograve; arrodoneix l&#39;identificador del fabricant i queda un valor parell? O_o</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: La tecnologia en els proce Er... no associo el comentari de la pcmcia amb la resta de la noticia. :\<p class="comment-author">Escrit al 2006-12-28 15:53:47 per Sachiel</p></li><li class="list-group-item comment">Re: La tecnologia en els proce jo tampoc xD<p class="comment-author">Escrit al 2006-12-28 15:54:27 per Anònim</p></li><li class="list-group-item comment">Re: La tecnologia en els proce Perdoneu, sempre m'en vaig per les branques... , resulta q m'havia passat tot el cap de setmana intentant configurar la pcmcia dl meu nou portatil sense exit i amb molta desesperació per l'estrany problema q donava, i ahir a catux, el pinux va dir una possible teoria del q passava.

Un resum ràpid dl q va dir seria q podria ser q si una pota d la pcmcia no anava, llavors tots els identificadors d hardware de les pcmcia q poses al portatil si eren imparells, podria ser q es mostresin malament (s'arrodonisin a un num. parell a causa d la pota xunga), semblava una anada d'olla brutal, ho miro, i resulta q hi havia una pota torta!!!!

El tiu es va quedar amb tothom :P

Jo a la nit i per l'emoció, no em vaig poder estar d comentar-ho ;)

Sort!<p class="comment-author">Escrit al 2006-12-28 15:55:06 per whats_up</p></li><li class="list-group-item comment">La teoria del pin 
a la secció humor en teniu el relat en versió extensa, segons el meu punt de vista i segons el que recordo avui dia, si m'he equivocat en alguna cosa el modifiqueu XDDD<p class="comment-author">Escrit al 2006-12-28 15:55:49 per franhp</p></li>
    {% endblock %}

    