
    {% extends 'post_template.html' %}

    {% block title %}
        La veritat és revelada...
    {% endblock %}

    {% block author %}
        admin
    {% endblock %}

    {% block post_date %}
        2004-04-28 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">&Eacute;s nom&eacute;s una curiositat, per&ograve; a mi m&#39;ha fet molta gr&agrave;cia. Posant la paraula &quot;ladrones&quot; al Google, podem veure la gran intel&middot;lig&egrave;ncia d&#39;aquest buscador, al mostrar-nos el primer resultat. ;) Podeu provar-ho directament: <a href="http://www.google.com/search?q=ladrones"><br /> http://www.google.com/search?q=ladrones</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    