
    {% extends 'post_template.html' %}

    {% block title %}
        Linux a les impressores
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-09-13 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui a la uni he apr&egrave;s una cosa que no tenia ni idea de que fora aix&iacute;. Resulta que les impressores HP que incorporen un sistema operatiu a la seva ROM, solen ser uns linux modificats (no recordo el nom :P) els que s&#39;encarreguen de manejar-les!<br /> <br /> 1 point per HP! :)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">pot ser .... Podria ser que s'anomenés HP-UX o alguna cosa així XDD
De totes maneres HP és una de les empreses que va començar a utilitzar Linux i van crear com una Distro/Unix/Minix/Digali energia XD que es deia HP-UX<p class="comment-author">Escrit al 2006-12-28 15:11:38 per grap</p></li><li class="list-group-item comment">RE: pot ser... La veritat és q ha estat més un problema de no sentir el nom, q no pas no recordar-lo. Si haguès dit HP-UX crec q l'haguès entès..... :S<p class="comment-author">Escrit al 2006-12-28 15:12:23 per whats_up</p></li>
    {% endblock %}

    