
    {% extends 'post_template.html' %}

    {% block title %}
        Linux Game Party
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-07-31 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Des de les 21:00 que estem al local del Format jugant, de moment la game party est&agrave; essent molt divertida per tothom. Els jocs que han triomfat m&eacute;s s&oacute;n: el quake3, l&#39;enemy-territory, i el warcraft.<br /> <br /> Ja portem una bona estona jugant i aviat comen&ccedil;arem a muntar les tendes d&#39;acampada dins l&#39;acad&egrave;mia per a poder dormir l&#39;imprescindible :P<br /> <br /> Tot i ser una game party, ha vingut gent per aprofitar i instal&middot;lar-se algun linux al seu pc. Visca Catux! ;)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">fotos! vull dir, fotos per a qui no hi sigui ho pogui veure una mica :-)<p class="comment-author">Escrit al 2006-12-28 13:53:53 per cpina</p></li><li class="list-group-item comment">RE: Fotos Aviam si dma en pengem alguna, la veritat és q en tenim forces i de força bones :P<p class="comment-author">Escrit al 2006-12-28 13:55:01 per whats_up</p></li>
    {% endblock %}

    