
    {% extends 'post_template.html' %}

    {% block title %}
        LinUV Party 2005
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-02-28 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">La setmana vinent, del Dimecres 9 al Diumenge 13 fan a Val&egrave;ncia un <a href="http://linuv.uv.es/2005/">congr&eacute;s i Party</a>, i Catux hi ser&agrave; present.<br /> <br /> El Dimecres 9 fan tallers (LaTeX, Java i Bash), Dijous i Divendres fan confer&egrave;ncies amb pres&egrave;ncia de Ricardo Galli i Ismael Fanl&oacute; entres molts altres. <br /> <br /> I el divendres, a les 17h hi haur&agrave; una explicaci&oacute; de Catux-USB, on es veur&agrave; la versi&oacute; actual i per primer cop es veuran les <u>novetats</u> de la versi&oacute; que estem treballant, com l&#39;estem organitzant, etc.<br /> <br /> Dissabte i Diumenge fan una party en el sentit tradicional de la paraula: 200 ordinadors, connexi&oacute; a Internet, etc. etc.<br /> <br /> Us podeu apuntar a la festa des de la seua web, encara que per assistir a les confer&egrave;ncies no cal registrar-se.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    