
    {% extends 'post_template.html' %}

    {% block title %}
        Linux 2.6.9
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-10-19 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ja ha sortit la nova versi&oacute; del nucli. Entre les millores que incorpora, he detectat que hi ha for&ccedil;a canvis en els dispositius USB i for&ccedil;a canvis referents a UML (Umbrello).<br /> <br /> Descarrega&#39;t el kernel linux complet comprimit b&eacute; en un: <a href="ftp://www.kernel.org/pub/linux/kernel/v2.6/linux-2.6.9.tar.bz2">bzip2</a>, b&eacute; en <a href="ftp://www.kernel.org/pub/linux/kernel/v2.6/linux-2.6.9.tar.gz">gzip</a>.<br /> <br /> Podeu consultar el <a href="ftp://www.kernel.org/pub/linux/kernel/v2.6/ChangeLog-2.6.9">Changelog</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Umbrello? Atenció, quan parlem de UML dins el kernel, ens referim a User Mode Linux (execució del kernel en mode usuari), i no a Unified Modelling Language. Per tant, Umbrello aquí no pinta res.<p class="comment-author">Escrit al 2006-12-28 15:57:43 per Anònim</p></li>
    {% endblock %}

    