
    {% extends 'post_template.html' %}

    {% block title %}
        Linux kernel 2.6.10
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-12-25 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Acaba de sortir la nova versi&oacute; 2.6.10 del nucli Linux. Us la podeu <a href="ftp://ftp.kernel.org/pub/linux/kernel/v2.6/linux-2.6.10.tar.bz2">descarregar</a>, aix&iacute; com el <a href="ftp://ftp.kernel.org/pub/linux/kernel/v2.6/patch-2.6.10.bz2">pegat</a> per passar de la 2.6.9 a la 2.6.10.<br /> <br /> Entre les novetats destaquen les millores amb tota la tecnologia wireless, els m&ograve;duls ara porten un sistema per comprovar la seva integritat, i la gran quantitat de bugs arreglats. Per a m&eacute;s informaci&oacute; podeu consultar el <a href="http://kernel.org/pub/linux/kernel/v2.6/ChangeLog-2.6.10">Changelog</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    