
    {% extends 'post_template.html' %}

    {% block title %}
        Llicència de la web
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-08-16 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">A partir d&#39;avui tot el contingut de la web est&agrave; subjecte sota <a href="http://creativecommons.org/licenses/by-sa/2.0/">la nova versi&oacute;</a> de la llic&egrave;ncia de <a href="http://creativecommons.org/">Creative Commons</a>.<br /> <br /> La llic&egrave;ncia us d&oacute;na llibertat per:<br /> <br />     * Copiar, distribuir, visualitzar i utilitzar el contingut.<br />     * Realitzar feines derivades d&#39;aquest contingut.<br />     * Fer un &uacute;s comercial d&#39;aquest contingut<br /> <br /> Ara b&eacute;, heu de respectar aquestes dues condicions d&#39;&uacute;s:<br /> <br />     * Cal atribuir-nos l&#39;autoria del contingut.<br /> * Si altereu, transformeu o genereu material a partir d&#39;aquest contingut, podeu distribur el resultat sempre i quan feu servir una llic&egrave;ncia d&#39;&uacute;s id&egrave;ntica.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    