
    {% extends 'post_template.html' %}

    {% block title %}
        Llistat de LUGs
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-07-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">En <a href="http://catux.org/index.php?contingut=articles&amp;num=43">aquest petit recull</a> hi ha un llistat dels LUGS que tenim controlats ara als Pa&iuml;sos Catalans.<br /> <br /> Som molts usuaris de GNU/Linux, associats en diversos LUGS i a vegades no sabem ni quins ve&iuml;ns tenim.<br /> <br /> Altres vegades, alg&uacute; que es vol introduir a Linux demana ajuda i no sap quin &eacute;s el seu LUG m&eacute;s proper.<br /> <br /> A veure si amb aquest primer pas almenys sabem qui som.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    