
    {% extends 'post_template.html' %}

    {% block title %}
        MacOSX x86 Implicacions per GNU/Linux
    {% endblock %}

    {% block author %}
        eduardp
    {% endblock %}

    {% block post_date %}
        2005-06-08 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">An&agrave;lisi del canvi de processador d&#39;Apple i les possibles implicacions per GNU/Linux.<br /> <br /> <a href="http://www.bredax.com/art_MacOSX+x86+Aposta+al+Doble+o+Res.htm"> MacOSX x86 Aposta al Doble o Res</a> </span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    