
    {% extends 'post_template.html' %}

    {% block title %}
        Més ample de banda per Catux!
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-10-18 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <div style="margin-left: 40px"><font face="Verdana, Arial, sans-serif" color="#000000"><strong><span class="titol"> </span></strong></font> </div>     <table border="0" cellspacing="2" cellpadding="2" width="703" height="22" style="text-align: left; margin-left: auto; margin-right: auto"> <tbody> <tr> <td style="vertical-align: top"> <div class="centrat"> <span class="noticia">Avui, al local on ens alberguem (<a href="http://www.c-format.com/">FORMA&#39;T</a>), ja ens han doblat l&#39;ample de banda, hem passat a disposar de 1mbs/333kbs a compartir amb l&#39;acad&egrave;mia :P.<br /> <br /> Esperem aix&iacute;, poder oferir la p&agrave;gina m&eacute;s r&agrave;pidament i per tant donar un millor servei a tots els nostres visitants :)</span> </div></td></tr></tbody></table>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    