
    {% extends 'post_template.html' %}

    {% block title %}
        Manifest a favor del programari lliure i formats oberts als municipis
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2007-05-22 22:34:59
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Diverses persones han preparat un manifest de cara a que els nostres pol&iacute;tics vegin la necessitat d&#39;utilitzar programari lliure a l&#39;administraci&oacute;.</p><p>&nbsp;</p><p>Podeu trobar el manifest en aquest enlla&ccedil;:</p><p><a href="http://lliure.eu/manifest_2007/">http://lliure.eu/manifest_2007/</a></p><p>&nbsp;</p><p>Costa poc adherir-s&#39;hi, i com m&eacute;s gent hi hagi millor. A veure si pogu&eacute;ssim ser molts!</p><p>&nbsp;</p><p>A m&eacute;s ens hi podem apuntar com a persones individuals o b&eacute; com a col&middot;lectius. Si formeu part d&#39;algun col&middot;lectiu, endavant tamb&eacute;!</p><p>&nbsp;</p><p>Si podeu, feu-ne ress&oacute; tamb&eacute;. </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    