
    {% extends 'post_template.html' %}

    {% block title %}
        Mapa Conceptual del Programari Lliure
    {% endblock %}

    {% block author %}
        H__
    {% endblock %}

    {% block post_date %}
        2006-01-14 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Volia passar-vos la not&iacute;cia de que he posat a Bulma aquest <a href="http://bulma.net/body.phtml?nIdNoticia=2267">Mapa Conceptual del Programari Lliure</a> per si pot ser &uacute;til a qualc&uacute;.<br /> <br /> Com dic a Bulma, un mapa conceptual &eacute;s una eina molt visual que permet, d&#39;un cop d&#39;ull, fer-se una idea general, veure els conceptes claus i les seves principals interrelacions. Sol ser &uacute;til per a professors i per a gent que vulgui explicar-ho en p&uacute;blic.<br /> <br /> Esper que vos pugui servir.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Mapes del món de projectes 
Ha sortit una notícia a Linuca que dona informació de com fer aquests gràfics :-)

http://linuca.org/body.phtml?nIdNoticia=324<p class="comment-author">Escrit al 2006-12-29 00:42:23 per cpina</p></li>
    {% endblock %}

    