
    {% extends 'post_template.html' %}

    {% block title %}
        Mapes del món de projectes importants
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-03-26 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">He trobat a <a href="http://www.kdehispano.org/mapaKDE">Kdehispano</a> un enlla&ccedil; a un <a href="http://worldwide.kde.org/">mapa del m&oacute;n</a> amb els desenvolupadors de KDE. <br /> <br /> Interessant veure d&#39;on &eacute;s la gent que programa KDE, molts Europeus tal com era d&#39;esperar (KDE va n&egrave;ixer a Alemania i Suse hi va ajudar molt tamb&eacute;. Qt &eacute;s de Noruega, etc.)<br /> <br /> Fent una similitud podem veure els programadors de Gnome <a href="http://live.gnome.org/GnomeWorldWide">com estan distribu&iuml;ts</a> pel m&oacute;n. <br /> <br /> I per &uacute;ltim, un mapa semblant del <a href="http://www.debian.org/devel/developers.loc">projecte Debian</a>.<br /> <br /> Desconec fins a quin punt s&oacute;n fiables, en el sentit de gent que hi col&middot;labora i no hi estigui apuntada, etc. per&ograve; en tot cas resulta interessant com a curiositat.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    