
    {% extends 'post_template.html' %}

    {% block title %}
        Maquinari compatible amb Linux
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-03-28 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Quan volem comprar maquinari compatible amb Linux a vegades tenim alguns problemes per saber quin &eacute;s compatible i quin no.<br /> <br /> Hi ha cops que el fabricant ofereix drivers (normalment privatius, codi font tancat, per algun Kernel), i hi ha cops que el mateixa Kernel ens ofereix suport per aquest dispositiu, etc.<br /> <br /> Hi ha una Web, <a href="http://compatiblelinux.org/">Compatible Linux</a> que intenta recopilar molt de maquinari i classificar-lo si &eacute;s compatible o no amb Linux, i donar una m&iacute;nima informaci&oacute; (si ve de s&egrave;rie amb el Kernel, quin m&ograve;dul, etc.)<br /> <br /> Segurament els pr&ograve;xims cops que hagi de comprar maquinari hi far&eacute; una ullada (junt amb algun buscador per contrastar informaci&oacute;, etc.)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Maquinari compatible amb L La base de dades és una mica limitada no? :P
No sé, jo normalment no em fio de les webs que tenen més banners que contingut :(.<p class="comment-author">Escrit al 2006-12-29 00:45:03 per Anònim</p></li><li class="list-group-item comment">Re: Maquinari compatible amb L Home, no els defenso ni els deixo de defensar (total, m'és com força igual)

De totes maneres, és una Web nova i tenen força maquinari ja "classificat" (1000 impresores, 1600 tarjes gràfiques, ...) i a més et diu el mòdul i pots anar a buscar més informació sabent això de manera fàcil.

Els banners que hi veig almenys no estan associats a fabricants de hardware (no surt un banner d'HP, de Nvidia, etc.) sinó de Lambaux (distribució-empresa), gnuLinex, unes associacions "rares" (no les coneixia) i d'ells mateixos; tampoc veig una proporció tant alta banners/contingut.

Contra gustos :-) Webs!<p class="comment-author">Escrit al 2006-12-29 00:46:18 per cpina</p></li><li class="list-group-item comment">Re: Maquinari compatible amb L Bé, la cosa estaria en que no es tractés tant de els productes amb el certificat aquest lambda i que poséssin les que realment valen.

No sé com funciona, la veritat, però he vist BD de hw per linux millors... :)

Contra gustos... més gustos xD<p class="comment-author">Escrit al 2006-12-29 00:46:57 per Anònim</p></li><li class="list-group-item comment">Re: Maquinari compatible amb L Doncs podries passar la URL d'aquestes que dius q són millorts?? Si realment existeix una de millor, diga'm l'enllaç please!

Sort!<p class="comment-author">Escrit al 2006-12-29 00:47:50 per whats_up</p></li><li class="list-group-item comment">Re: Maquinari compatible amb L Ídem que en whats_up :-) Si en conegués de millors no hagués posat els pitjors :-)

També s'ha de dir que no he buscat gaire ni entenc molt sobre el tema, recordo linuxprinting (crec) que hi ha les impressores, però no en conec cap de genèric (després faré un cop de google :-) )<p class="comment-author">Escrit al 2006-12-29 00:53:22 per cpina</p></li>
    {% endblock %}

    