
    {% extends 'post_template.html' %}

    {% block title %}
        Matrix XP
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-11-20 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui visitant una de les p&agrave;gines que acostumo a freq&uuml;entar he trobat <a href="http://www.uni-duesseldorf.de/%7Ericke/matrix_xp/mxp_engl_l.zip">un video</a> que se m&#39;ha fet molt familiar.<br /> <br /> Tots els que hagueu vist l&#39;espectacle <a href="http://www.xdeblas.com/linuxshow/index_cat.html">Linux Show</a> (molt recomanable de veure) us sonar&agrave; molt aquest video on es veu reflectit qu&egrave; passaria en cas que matrix s&#39;hagu&egrave;s fet sobre windows.<br /> <br /> Un gran video rodat amb pocs recursos i amb angl&egrave;s per&ograve; que s&#39;enten perfectament el missatge que vol donar <a href="http://www.matrix-xp.com/">la p&agrave;gina</a>.<br /> <br /> A disfrutar-lo!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Matrix XP 
necesitemmmm ... Gofres!! molts gofres XDDDD<p class="comment-author">Escrit al 2006-12-28 16:20:26 per grap</p></li>
    {% endblock %}

    