
    {% extends 'post_template.html' %}

    {% block title %}
        Món Catux
    {% endblock %}

    {% block author %}
        jvprat
    {% endblock %}

    {% block post_date %}
        2006-08-10 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ens plau anunciar la creaci&oacute; del <a href="http://mon.catux.org/">M&oacute;n Catux</a>, un agregador dels weblogs d&#39;alguns dels membres de Catux. Si us pica la curiositat de saber qu&egrave; ens passa pel cap o qu&egrave; fem, ara ho podeu saber tot donant un cop d&#39;ull a mon.catux.org<br /> <br /> Si sou membres o simpatitzants de Catux i no veieu el vostre blog al &quot;m&oacute;n&quot; per&ograve; creieu que pot ser d&#39;interes per a la comunitat de l&#39;entorn de Catux, feu-nos-ho saber i ens plantejarem d&#39;afegir-lo.<br /> <br /> Tot aix&ograve; ha sigut possible gr&agrave;cies al <a href="http://www.planetplanet.org/">Planet</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    