
    {% extends 'post_template.html' %}

    {% block title %}
        Microsoft i Novell
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2006-11-05 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Sembla que finalment Microsoft es comen&ccedil;a a interessar pel programari lliure.<br /> Segons <a href="http://www.unionradio.com.ve/Noticias/Noticia.aspx?noticiaid=185682">UNIONRADIO</a> , aquesta multinacional del programari privatiu ha realitzat amb la tamb&eacute; multinacional Novell, precursora del programari lliure un pacte de col&middot;laboraci&oacute; que permetr&agrave;, entre d&#39;altres coses, una millora en la interacci&oacute; entre les aplicacions ofim&agrave;tiques Microsoft Office i OpenOffice.<br /> <br /> Estarem expectants al desenvolupament de tot plegat, que pot suposar canvis importants en el m&oacute;n del programari.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Microsoft i Novell (no vull ser negatiu, eh?)

Jo em temo que no s'interessen pel programari lliure (farien altres coses, com documentar les seves implementacions, fer servir OpenDocument, ajudar a wine, donar etc. etc. etc.) sinó que s'interessen per Linux com a sistema operatiu de la seva possible competència (Novell, IBM, etc.).

És més, per mi que "no s'interessen per Linux" sinó que "comencen a tenir por de Linux" :-)<p class="comment-author">Escrit al 2006-12-29 16:57:54 per cpina</p></li>
    {% endblock %}

    