
    {% extends 'post_template.html' %}

    {% block title %}
        Molt bon any a tothom!!!!
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2007-01-01 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        Aquesta noticia, sent la primera de l&#39;any i no la &uacute;ltima tansols pret&eacute;n desitjar-vos el millor a tots vosaltres: els Catuxers! :D<br />&nbsp;<br />&nbsp;Passeu una molt bona nit i que Stallman us il&middot;lumini!
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    