
    {% extends 'post_template.html' %}

    {% block title %}
        Mozilla 2
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2005-01-13 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">La gent de <a href="http://www.mozilla.org/">Mozilla</a> saben fer la feina ben feta, i aix&iacute; ens ho han demostrat amb el gran &egrave;xit de tot el seu software, ja sigui el <a href="http://www.mozilla.org/products/firefox/">Firefox</a>, el <a href="http://www.mozilla.org/products/thunderbird/">Thunderbird</a>, o la <a href="http://www.mozilla.org/products/mozilla1.x/">suite sencera.</a><br /> <br /> Ara ja est&agrave;n pensant en la seg&uuml;ent saga dels seus productes per tal de no deixar de sorprendre&#39;ns :). Si voleu veure les noves tecnologies que ens esperen en el futur, podeu visitar <a href="http://wiki.mozilla.org/index.php/Mozilla2:Home_Page">el seu wiki</a>. <br /> Un cop d&#39;ull cap al futur! :P</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    