
    {% extends 'post_template.html' %}

    {% block title %}
        NASA - supercomputador - GNU/Linux
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-07-29 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">La NASA ha demanat a SGI i a Intel que desenvolupin un supercomputador per a realitzar simulacions espacials. Estar&agrave; format per vint m&agrave;quines SGI Altix amb 512 processadors Intel Itanium 2 cadascun (O_O).<br /> <br /> Aix&ograve; doblar&agrave; l&#39;actual r&egrave;cord de <a href="http://www.top500.org/lists/2004/06/1/">top500.org</a> que es diu &quot;hearth simulator&quot; i com a especificacions t&egrave;cniques t&eacute;:<br /> <br />     * 5,120 (640 8-way nodes) 500 MHz NEC CPUs<br />     * 8 GFLOPS per CPU (41 TFLOPS total)<br />     * 2 GB (4 * 512 MB m&ograve;duls de FPLRAM ) per CPU (10 TB total)<br />     * Mem&ograve;ria compartida dins del node<br />     * 16 GB/s d&#39;amplada de banda entre nodes<br />     * 20 kVA de consum el&egrave;ctric per node <br /> <br /> Creieu que el Quake 3 anir&agrave; b&eacute; en aquesta m&agrave;quina? ;P</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    