
    {% extends 'post_template.html' %}

    {% block title %}
        Netreg (dhcp registration system)
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-11-02 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Via <a href="http://www.caballe.com/">Xavi Caball&eacute;</a> he descobert una aplicaci&oacute; molt &uacute;til pel qu&egrave; fa l&#39;autenticaci&oacute; en una xarxa.<br /> <br /> Es tracta de <a href="http://www.netreg.org/">Netreg</a>, un programa que serveix perqu&egrave; un client de dhcp s&#39;hagi d&#39;autenticar abans de poder tenir acc&eacute;s a la xarxa. <br /> <br /> Realment &eacute;s molt &uacute;til!<br /> </span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Netreg (dhcp registration NoCat hace lo mismo además extiende funciones al uso en redes inalámbricas.

http://nocat.net<p class="comment-author">Escrit al 2006-12-28 16:11:11 per Anònim</p></li><li class="list-group-item comment">Re: Netreg (dhcp registration Ja conec el nocat, presisament l'avantatge que trobo en el netreg, és la seva simplicitat en la seva funció :)<p class="comment-author">Escrit al 2006-12-28 16:13:06 per whats_up</p></li>
    {% endblock %}

    