
    {% extends 'post_template.html' %}

    {% block title %}
        Nou projecte: iptables-p2p
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-06-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Uoo!, avui he descobert un altre projecte que m&#39;ha alegrat el dia :P. <a href="http://sourceforge.net/projects/iptables-p2p/">Iptables-p2p</a> &eacute;s un m&ograve;dul pel kernel que ens permet la detecci&oacute; i geti&oacute; dels paquets que provenen dels programes p2p! Per fi una manera molt comode i efectiva per a gestionar-los. <br /> El m&ograve;dul pot detectar paquets d&#39;aquests protocls:<br /> # Fastrack (KaZaa, Grokster...)<br /> # eDonkey (eDonkey, eMule...)<br /> # Direct Connect<br /> # Gnutella<br /> # BitTorrent<br /> # OpenFT (giFT)<br /> A provar-ho! :)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    