
    {% extends 'post_template.html' %}

    {% block title %}
        Nou equip directiu
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2005-10-02 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui dia 2 d&#39;octubre s&#39;ha escollit un nou equip directiu. Els c&agrave;rrecs seran ocupats per les seg&uuml;ents persones:<br /> <br /> President: Sergi Pons (Sachiel)<br /> Vicepresident: Dani Rodriguez (Pachu)<br /> Tresorer: Pau Gangonells (Barretinux)<br /> Secretari: Fran Hermoso (Grap)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Nou equip directiu pachu president!<p class="comment-author">Escrit al 2006-12-29 02:08:31 per Anònim</p></li>
    {% endblock %}

    