
    {% extends 'post_template.html' %}

    {% block title %}
        Nova web
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2008-03-23 19:57:54
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Ja tenim activa la nova web.</p><p>&nbsp;</p><p> Encara hi ha algunes coses que hem de retocar, però us volem donar la possibilitat de donar-nos la vostra opinió el més aviat possible. Digeu-nos què us sembla, què trobeu a faltar i què creieu que hauríem de canviar</p><p>&nbsp;</p><p> L'adreça del RSS ha canviat! actualitzeu-la!</p><p>&nbsp;</p><p> Moltes gràcies al <a href="http://franhp.wordpress.com/">Grap</a> per la operació de trasplantament i a la <a href="http://alufis35.uv.es/~laura/spip/">Laura</a> per la cirurgia estètica </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    