
    {% extends 'post_template.html' %}

    {% block title %}
        Nova secció: Humor
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-09-06 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">A Catux tamb&eacute; ens agrada riure i passar-nos ho b&eacute;. Aix&iacute; que tenim aquesta nova secci&oacute; on penjarem aquells textos graciosos o aquells acudits que tant ens fan riure.<br /> <br /> Podreu accedir a aquesta secci&oacute; a partir de dem&agrave; (ja veureu l&#39;enlla&ccedil; corresponent al men&uacute; lateral), per&ograve; de moment ja teniu un <a href="http://www.catux.org/index.php?contingut=articles&amp;num=63">exemple</a> de quin tipus de contiguts hi trobareu.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">i tothom en pot afegir Tan sols recordar que qualsevol usuari registrat (i si no ho està és fàcil fer-ho, l'esquerra, a "Nou usauri") pot enviar "articles" o en aquest cas "textos" per afegir a la secció :-)

Fins aviat!<p class="comment-author">Escrit al 2006-12-28 14:52:11 per cpina</p></li><li class="list-group-item comment">Proposta Es pot crear una subsecció per als xernugags??? XD

O millor encara, publicar-los a la pàgina principal i anar-ne canviant cada dos o tres dies ^^<p class="comment-author">Escrit al 2006-12-28 14:53:01 per EliziR</p></li><li class="list-group-item comment">xernugags? Com a xernugag vols dir frases curtes que diem tontes?

Podriem posar-ho aleatori al peu de pàgina, si vols dir això (taula mysql amb els gags...)<p class="comment-author">Escrit al 2006-12-28 14:53:52 per cpina</p></li>
    {% endblock %}

    