
    {% extends 'post_template.html' %}

    {% block title %}
        Novetats al projecte Debian
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-03-14 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Es llegeix a la Web de Bulma un <a href="http://bulma.net/body.phtml?nIdNoticia=2164">article</a> que Debian tindr&agrave; canvis properament.<br /> <br /> Quan hagi sortit Sarge, segurament hi haur&agrave; un temps entre versions molt menor (principalment perqu&egrave; hi haur&agrave; menys arquitectures que es faran versions estables a la vegada).<br /> <br /> <a href="http://lists.debian.org/debian-devel-announce/2005/03/msg00012.html">Aqui</a> es veu l&#39;explicaci&oacute; donada directament de Debian.<br /> <br /> Sembla una soluci&oacute; prou equilibrada entre els compromisos d&#39;arquitectures i de temps entre versions.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Novetats al projecte Debia De fet no els hi costarà gaire reduir el temps entre versions.

:-)<p class="comment-author">Escrit al 2006-12-29 00:28:28 per Anònim</p></li>
    {% endblock %}

    