
    {% extends 'post_template.html' %}

    {% block title %}
        Nucli 2.6.12
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2005-06-18 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ja est&agrave; disponible la versi&oacute; estable del nucli de Linux 2.6.12.<br /> <br /> Us podeu baixar directament el codi sencer <a href="http://www.kernel.org/pub/linux/kernel/v2.6/linux-2.6.12.tar.bz2">aqu&iacute;</a> (36,6MB), o tamb&eacute; anar a la <a href="http://www.kernel.org/">p&agrave;gina oficial</a>.<br /> <br /> Jo ja feia molts dies (setmanes, mesos) que estava ansi&oacute;s  ;)<br /> <br /> [<strong>Afegit 23-06-2005 16:49:32:</strong> Ja hi ha la versi&oacute; 2.6.12.1, amb aquest <a href="http://www.kernel.org/pub/linux/kernel/v2.6/ChangeLog-2.6.12.1">changelog</a>]</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Nucli 2.6.12 Ansiós per? Té alguna novetat molt important?<p class="comment-author">Escrit al 2006-12-29 01:29:06 per Sachiel</p></li><li class="list-group-item comment">Re: Nucli 2.6.12 I ara ? Novetat ?

Si la gent del kernel s'aburreix molt i es dedica a treure nuclis per passar l'estona :-)

Pq volem el 2.6.12 ? si amb el 2.0 ja anavem tirant

(suposo que captareu el to ironic).<p class="comment-author">Escrit al 2006-12-29 01:30:54 per Anònim</p></li><li class="list-group-item comment">Re: Nucli 2.6.12 Bé, quan hi han changelogs tan llargs no mels llegeixo gaire... Però principalment aquest cop per algun tema de seguretat i pel tema del touchpad del meu portàtil, que s'han de fer algunes coses "marranes" perquè tingui scrolling (que encara les hauré de seguir fent pel què he vist de moment).

També deu ser que em van mal acostumar ara farà un any en treure versions estables cada mes o de vegades menys hi tot, i ara amb els canvis, tarden bastant més (cosa que no critico). Em sento com un nen petit :P<p class="comment-author">Escrit al 2006-12-29 01:31:39 per Elizir</p></li><li class="list-group-item comment">Re: Nucli 2.6.12 En resposta a l'anònim, tot i afegir al final lo del to irònic, trobo que és un comentari una mica fora de lloc i posat per "omplir". Obviament que hi haurà canvis, però demanava si n'hi havia algun de MOLT important, ja que a la noticia l'Elizir comentava que l'esperava de feia temps.<p class="comment-author">Escrit al 2006-12-29 01:32:06 per Sachiel</p></li>
    {% endblock %}

    