
    {% extends 'post_template.html' %}

    {% block title %}
        Nucli 2.6.6
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2004-05-11 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Sembla que hi ha pressa per treure nuclis nous &uacute;ltimament :) Despr&eacute;s d&#39;uns quants dies d&#39;expectaci&oacute; amb el 2.6.5-rc3, ahir (dilluns dia 10) al migdia ja va sortir, aix&iacute; que si no l&#39;has baixat, afanya&#39;t que s&#39;acaben!!!!! :D</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    