
    {% extends 'post_template.html' %}

    {% block title %}
        NVIDIA Drivers
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-08-11 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Nova versi&oacute; dels controladors de la companyia NVIDIA.<br /> <br /> S&#39;han dedicat a arreglar diversos errors. Alguns, com poder configurar si vols que et demani confirmaci&oacute; al sortir del nvidia-settings i d&#39;altres, com un problema amb la sortida de televisi&oacute; a determinades resolucions.<br /> <br /> El podem baixar d&#39; <a href="http://download.nvidia.com/XFree86/Linux-x86/1.0-6111/NVIDIA-Linux-x86-1.0-6111-pkg1.run">aqu&iacute;</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    