
    {% extends 'post_template.html' %}

    {% block title %}
        openMosix 2.6
    {% endblock %}

    {% block author %}
        jvprat
    {% endblock %}

    {% block post_date %}
        2005-04-15 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Ha costat, per&ograve; finalment el projecte <a href="http://www.openmosix.org/">openMosix</a> acaba d&#39;anunciar la disponibilitat de la versi&oacute; 2.6.<br /> <br /> En el proc&eacute;s de reescriptura han mogut gran part del codi a l&#39;espai d&#39;usuari, cosa que segons ells els ha perm&egrave;s incrementar el rendiment i simplificar el proc&eacute;s d&#39;adaptaci&oacute; a noves versions del kernel. Per comen&ccedil;ar ja han fet el port per a Opteron, i estan treballant en altres arquitectures, com ara PowerPC.<br /> <br /> Us deixo l&#39;enlla&ccedil; a l&#39;<a href="http://sourceforge.net/forum/forum.php?forum_id=460497">anunci original</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    