
    {% extends 'post_template.html' %}

    {% block title %}
        Optimitzacions, Debian i Gentoo
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2005-01-11 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Per tota aquella gent que es frepa tant amb gentoo, i que els agrada tant compilar... (jo aviat ho tastar&eacute; a fons.... ;P), aqu&iacute; teniu un article de com podeu fer el mateix i d&#39;una manera ben f&agrave;cil, amb la vostra Debian.<br /> No diuen que sempre que &eacute;s millor poder triar??, vols paquets binaris?, cap problema!, que vols paquets compilats...., cap problema! ;) Teniu l&#39;article a: <a href="http://julien.danjou.info/article-apt-build.html">http://julien.danjou.info/article-apt-build.html</a><br /> <br /> PD: S&#39;ha de reconeixer que f&agrave;cilment no tens tantes possibilitats per a les depend&egrave;ncies com a Gentoo, per&ograve; qui sap si hi ha alguna altra cosa feta.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Optimitzacions, Debian i G "No diuen que sempre que és millor poder triar??,"

Efectivament en això es basa la filosofia de gentoo que com molt bé saps, treballa també amb paquets compilats previament en cas de que així es vulgui<p class="comment-author">Escrit al 2006-12-28 23:38:31 per Anònim</p></li><li class="list-group-item comment">Re: Optimitzacions, Debian i G Sembla que el apt-build no és massa fiable o això és el que diuen molts comentaris, per exemple :

http://barrapunto.com/article.pl?sid=05/01/28/1616254&mode=thread&threshold=-1<p class="comment-author">Escrit al 2006-12-28 23:39:06 per Anònim</p></li>
    {% endblock %}

    