
    {% extends 'post_template.html' %}

    {% block title %}
        Parada per manteniment, RAID al servidor
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-11-06 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">El Diumenge dia 6 de Novembre posarem (si no hi ha cap greu problema) RAID 1 Mirroring al servidor de Catux, via programari i sense reinstal&middot;lar el sistema operatiu.<br /> <br /> Aix&ograve; vol dir que haurem de parar el servidor aproximadament durant dues hores, per tant tots els serveis que depenen d&#39;aquest servidor quedaran aturats durant aquest interval de temps.<br />  <br /> Tamb&eacute; comentar que qui vulgui venir a donar un cop de m&agrave;/un cop d&#39;ull ho pot fer, al <a href="http://www.catux.org/index.php?contingut=articles&amp;num=73">lloc de sempre.</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Paradeta de Catux a la Fir 
Ue!!,
de moment molt bon rotllo amb l'ajuntament de Sant Joan!, ens han dit q disposavem d tot el q necessitesim, i q volien fer una reunió per intentar mantenir un vincle entra Sant Joan i Catux.

La paradeta de catux disposem de 2mb de conecció a internet!!, us imagineu el nostre sever sota 2mb? molaria eh! ;)

Aviam si diumenge a la nit pengem les fotos!<p class="comment-author">Escrit al 2006-12-28 16:07:21 per whats_up</p></li><li class="list-group-item comment">Re: Patent del sistema de fitx Es pot canviar el sistema de fitxers a un USB?<p class="comment-author">Escrit al 2006-12-29 15:57:51 per Anònim</p></li>
    {% endblock %}

    