
    {% extends 'post_template.html' %}

    {% block title %}
        Patents estúpides
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2005-03-09 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">A la p&agrave;gina de <a href="http://www.patentlysilly.com/">patentlysilly.com</a>, hi ha un recopilatori de les patents m&eacute;s absurdes que s&#39;han trobat. No s&oacute;n precisament relacionades amb el m&oacute;n inform&agrave;tic, per&ograve; la &quot;intenci&oacute;&quot; ve a ser la mateixa.<br /> <br /> B&eacute;, n&#39;hi ha algunes que fan riure i tot, en canvi n&#39;he trobat alguna com ara un <a href="http://www.patentlysilly.com/patent.php?patID=6847846">ratol&iacute; que fa una esp&egrave;cie de massatges</a> que no &eacute;s tan absurda :)<br /> <br /> [Font: <a href="http://www.hispamp3.com/noticias/noticia.php?noticia=20050308072341">hispamp3.com</a>]</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Patents estúpides 
Bé, el problema de fons no són les patents "tontes" sinó les patents de programari (o d'idees!)

I una mala notícia de fa poc la podem llegir a <a href="http://caliu.info/index.php?p=314">Avui la Presidència del Consell Europeu, ha adoptat ilegítimament la directiva de patents de programari.</a><p class="comment-author">Escrit al 2006-12-29 00:26:20 per cpina</p></li><li class="list-group-item comment">Re: Patents estúpides Home, no m'he referit en cap moment en què les patents siguin un problema o no... Ja de pas dic que penso que si. Només deia que "la intenció ve a ser la mateixa" perquè simplement ho trobo igual de ridícul (suposo que més aviat et referies a això).

Les patents d'aquest web no són de programari, però si que ho són de idees =)<p class="comment-author">Escrit al 2006-12-29 00:27:31 per Elizir</p></li>
    {% endblock %}

    