
    {% extends 'post_template.html' %}

    {% block title %}
        Piratas de Silicon Valley
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-09-12 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui diumenge, tenim preparada una activitat mai vista a catux: veure una pel&middot;licula. Concretament veurem Piratas de silicon valley, que for&ccedil;a gent ens l&#39;ha recomanat. Ho farem en el primer interval de temps de la quedada, i sembla que si disposarem d&#39;un monitor de moltes polzades per a poder-la reprodu&iuml;r.<br /> <br /> Si tens ganes de venir a &quot;Cinemes Catux&quot;, ja saps! ;-)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">recomendable Pues si, yo vi esa película y es muy recomendable... y aclara muchas mentiras y medias verdades que se están diciendo en el mundo de la informática.<p class="comment-author">Escrit al 2006-12-28 15:07:52 per Anònim</p></li><li class="list-group-item comment">Pero... Pero que hi ha de cert i que de fals?

Per internet corren moltes histories sobre el naixement i evoluciño de les grans empreses informàtiques, i al final no saps quina font és verídica i quina ficció.<p class="comment-author">Escrit al 2006-12-28 15:08:49 per Anònim</p></li><li class="list-group-item comment">Enllaços La perlícul·la va agradar molt en general, però ens vam quedar amb el mateix dubte: què era cert i què era falç.

Aviam si algú es documenta i ens ho explica o ens penja uns links.. :P<p class="comment-author">Escrit al 2006-12-28 15:09:23 per whats_up</p></li>
    {% endblock %}

    