
    {% extends 'post_template.html' %}

    {% block title %}
        Pla del Diumenge
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-09-30 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aquest Diumenge tornarem a estar a St. Joan com &eacute;s habitual.<br /> <br /> Si no hi ha novetats ni problemes, un de nosaltres ajudar&agrave; a dos companys a instal&middot;lar una distribuci&oacute; de Linux als seus ordinadors.<br /> <br /> Un altre seguir&agrave; fent un curs de PHP per gent que no en sap o que n&#39;est&agrave; aprenent, el nivell de moment &eacute;s baix i si alg&uacute; s&#39;hi vol afegir ser&agrave; benvingut!<br /> <br /> Ja sabeu on &eacute;s <a href="http://catux.org/cgi-bin/mailman/listinfo/llista">la llista</a> i tamb&eacute; on ens <a href="http://catux.org/index.php?contingut=nosaltres&amp;menu=informat">trobem</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    