
    {% extends 'post_template.html' %}

    {% block title %}
        Ponència per a les jornades wireless feta!
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-05-30 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        Ahir dia 29, vam fer la pon&egrave;ncia per a les jornades wireless a Manresa. Pensem que tot i la poca preparaci&oacute; que hi vam poder dedicar per presentar com hav&iacute;em fet el punt d&#39;acc&egrave;s, va estar prou b&eacute;. Podeu disposar de les transpar&egrave;ncies que es van utilitzar a la pon&egrave;ncia ja modificades i ampliades aqu&iacute; i d&#39;alguns arxius de configuraci&oacute; aqu&iacute;
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Fotos de la xerrada 
Podeu trobar les fotos de la jornada <a href="http://www.lasequia.org/wireless/fotos.php">aquí</a> i la de la nostre xerrada <a href="http://www.lasequia.org/wireless/fotos/linux/IMG_1291.JPG">aquí</a><p class="comment-author">Escrit al 2006-12-25 23:50:13 per whats_up</p></li><li class="list-group-item comment">Fotos de la xerrada Doncs em breu penjaran mes fotografies de la nostra xerrada =)

Si algu va assistir (o no) a la xerrada i vol comentar quelcom amb els membres de Catux, pot apuntarse a les llistes de distribució ;P<p class="comment-author">Escrit al 2006-12-25 23:51:26 per seoman</p></li>
    {% endblock %}

    