
    {% extends 'post_template.html' %}

    {% block title %}
        Portàtils HP Compaq amb GNU/Linux
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-08-04 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Segons llegeixo a <a href="http://www.elmundo.es/navegante/2004/08/04/softlibre/1091610239.html">El Mundo</a> i  a <a href="http://barrapunto.com/articles/04/08/04/101251.shtml">Barrapunto</a>, Hewlett-Packard comen&ccedil;ar&agrave; a vendre port&agrave;tils amb GNU/Linux instal&middot;lat. <br /> <br /> La distribuci&oacute; ser&agrave; una Suse i l&#39;estalvi ser&agrave; d&#39;uns 60$. Esperem que no  quedi tot en paraules =P</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">M'en compraré un! Dons el què està clar és que no tardaré molt a comprar-me un portatil, i mel compraré sense sistema operatiu o amb un GNU/Linux! :)<p class="comment-author">Escrit al 2006-12-28 13:58:33 per whats_up</p></li><li class="list-group-item comment">=) Ostres! Just aquests dies me'n estic mirant. El que passa és que de moment tots els que he m'han interessat una mica (Acer i Toshiba) van amb WinXP (alguns amb la versió Home...).
En els dos enllaços no he vist quina pot ser la data de sortida (almenys a Europa, ja que parlen dels EEUU), ja que tenia pensat comprar-lo ara a l'agost o al setembre com a molt (encara que si van amb Linux poder m'espero... :P Ni que vagi amb Suse!!!! Jjejejeje...).<p class="comment-author">Escrit al 2006-12-28 13:59:11 per Elizir</p></li><li class="list-group-item comment">Mission Imposible Pel que he llegit, i per experiència pròpia, us puc dir que és molt difícil aconseguir un portàtil que no porti el WinXP instalat. Sort que ara les companyies s'animen a posar-hi GNU/Linux, però el més normal avui en dia és comprar-lo i la primera cosa a fer carregar-se la partició NTFS :P<p class="comment-author">Escrit al 2006-12-28 14:00:13 per Sachiel</p></li><li class="list-group-item comment">portatils sense xp A la Pc-Actual que he fullejat hi ha portatils per menys de 1200 Euros (no són cap cosa) i alguns venen "sense" sistema operatiu, segons posa a la taula comparativa...

Ja em fixare quines marques...<p class="comment-author">Escrit al 2006-12-28 14:01:07 per cpina</p></li>
    {% endblock %}

    