
    {% extends 'post_template.html' %}

    {% block title %}
        Postals de Nadal
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-12-20 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">D&#39;aqu&iacute; pocs dies &eacute;s Nadal i nou any. Si voleu desitjar als amics, companys, coneguts, familiars el bon any amb una postal electr&ograve;nic ho podeu fer mitjan&ccedil;ant el servei <a href="http://catux.org/nadal2006/">&quot;Postal Nadal 2006&quot;</a> de Catux :-)<br /> <br /> No utilitza Flash, no utilitza m&uacute;siques, etc. No valida amb W3C per&ograve; potser per Nadal ho far&agrave;<br /> <br /> Enlla&ccedil; a <a href="http://catux.org/nadal2006/">Nadal 2006</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Bon nadal Aixo es una prova<p class="comment-author">Escrit al 2007-12-19 21:46:59 per edu</p></li>
    {% endblock %}

    