
    {% extends 'post_template.html' %}

    {% block title %}
        Problemes del servidor: "Hackejat"!
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-04-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui el nostre servidor ha patit un sabotatge involuntari per part de les professores de l&#39;acad&egrave;mia on s&#39;hostatja. <br /> <br /> Despr&eacute;s de poc m&eacute;s de 3h sense connexi&oacute; a Internet, hem aconseguit arranjar el greu problema treient els llibres que havien col&middot;locat sobre el teclat, deixant aix&iacute; que s&#39;inici&eacute;s amb normalitat.<br /> <br /> Esperem que no ens tornin a &quot;hackejar&quot; d&#39;aquesta manera fins d&#39;aqu&iacute; for&ccedil;a temps! :)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Jajajajajaj Si tots els problemes informàtics se solucionessin d'aquesta manera...

Sort que no ha estat res!<p class="comment-author">Escrit al 2006-12-25 23:00:27 per Anònim</p></li>
    {% endblock %}

    