
    {% extends 'post_template.html' %}

    {% block title %}
        Programari lliure i partits polítics
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-10-07 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">S&#39;acosten les eleccions a la generalitat de catalunya, i en Jordi Mas va recollir al seu blog fa uns dies la informaci&oacute; que hi ha disponible respecte al programari lliure i els partits pol&iacute;tics.<br /> <br /> El programari lliure hauria de ser una de les coses que cal saber quan es vota en unes eleccions. Si m&eacute;s no pels que estem m&eacute;s implicats en el tema inform&agrave;tic/noves tecnologies.<br /> <br /> L&#39;enlla&ccedil; a la <a href="http://www.softcatala.org/%7Ejmas/bloc/pivot/entry.php?id=211">not&iacute;cia.</a><br /> <br /> Actualitzaci&oacute;: es pot trobar m&eacute;s informaci&oacute; en el blog <a href="http://www.elnyu.com/2006/10/19/cultura-lliure-i-la-politica-catalana/">El Nyu</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    