
    {% extends 'post_template.html' %}

    {% block title %}
        qdacco versió 0.5
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-10-16 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Fa uns dies que ja s&#39;ha pujat a <a href="http://prdownloads.sourceforge.net/dacco/qdacco-0.5c.tar.gz?download">Sourceforge</a> i <a href="http://www.catalandictionary.org/catala/?q=node/38">anunciat</a> la nova versi&oacute; de qdacco. Aquesta nova versi&oacute; inclou principalment tres canvis: migraci&oacute; a Qt 4 (garanteix el futur de l&#39;aplicaci&oacute;), mostra molta m&eacute;s informaci&oacute; de les paraules (notes d&#39;&uacute;s, exemples) i quan estan disponibles enlla&ccedil;os a fotos per entendre millor les paraules.<br /> <br /> Podeu llegir m&eacute;s sobre aquesta versi&oacute; a la Web de Dacco, o al <a href="http://www.catalandictionary.org/catala/?q=node/32">manual de qdacco</a>. Ja hi ha disponible a Debian Unstable el <a href="http://packages.debian.org/unstable/text/qdacco">paquet.</a> apt-get install qdacco ho instal&middot;lar&agrave;.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    