
    {% extends 'post_template.html' %}

    {% block title %}
        qphotosort 0.1 (beta?)
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-12-02 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Fa una estona he deixat la primera versi&oacute; p&uacute;blica del qphotosort. Es pot llegir sobre el programa (en angl&egrave;s) i descarregar-lo en <a href="http://pintant.cat/qphotosort/">aquesta p&agrave;gina Web</a>.<br /> <br /> qphotosort &eacute;s un programa en mode gr&agrave;fic (Python+Qt) o text (Python). L&#39;objectiu principal &eacute;s tenir varis directoris amb fotos, permet seleccionar els directoris i copiar totes les fotos a un sol directori dest&iacute;, per&ograve; cada foto tindr&agrave; de nom la data Exif de la foto original. D&#39;aquesta manera, si fem un viatge amb varies persones es poden ajuntar les fotos amb ordre cronol&ograve;gic. <br /> <br /> T&eacute; opcions per afegir offset a l&#39;hora de les fotos, un suffix, una ajuda per calcular l&#39;offset; i tamb&eacute; per canviar de mida, de nom o rotar les fotos.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    