
    {% extends 'post_template.html' %}

    {% block title %}
        Quin procés escriu al disc?
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-03-04 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">A vegades se sent el disc... i no se sap quin programa hi voldriem saber quin programa est&agrave; escrivint?<br /> <br /> Amb Linux hi ha una manera molt f&agrave;cil:<br /> <br /> echo 1 &gt; /proc/sys/vm/block_dump<br /> Dins els logs del sistema hi apareixer&agrave; el PID i el nom de proc&eacute;s. Dep&egrave;n de la configuraci&oacute; per veure-ho:<br /> <br /> tail -f /var/log/messages<br /> tail -f /var/log/kern.log<br /> dmesg<br /> <br /> Nota: originariament ho vaig saber a la <a href="http://llistes.bulma.net/pipermail/bulmailing/Week-of-Mon-20060213/075721.html">llista de Bulma.</a>. Ho fa servir tothom qui busca dimonis que escriuen a disc i eviten que aquest pugui suspendre (per port&agrave;tils, b&agrave;sicament).</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Quin procés escriu al disc 
Hola:
Puestos a mencionar fuentes, yo tengo que decir que mi fuente fue Kiko Piris, en un hilo de Bulma también. http://llistes.bulma.net/pipermail/bulmailing_bulma.net/Week-of-Mon-20050606/067998.html

Que yo sepa le podemos agradecer esto y sus colaboraciones en el laptop-mode.

Por otro lado me alegro de que esta respuesta haya sido útil.<p class="comment-author">Escrit al 2006-12-29 16:09:04 per Raúl</p></li>
    {% endblock %}

    