
    {% extends 'post_template.html' %}

    {% block title %}
        Recopilació sobre la Jornada de Ripoll
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2007-10-21 20:32:41
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Catux ja va tornar de la III Jornada de Programari Lliure de Ripoll.</p><p>&nbsp;</p><p>Deixem penjades les transpar&egrave;ncies utilitzades durant el <a href="material/presentacions/bash-ripoll-2007.odp">tutorial de Bash</a> .</p><p>&nbsp;</p><p>Tamb&eacute; deixem <a href="fotos/index.php?list=29">algunes fotos</a>  fetes (sobretot dels nostres components).</p><p>&nbsp;</p><p>Les Jornades van anar molt b&eacute;, vem poder contactar amb gent i projectes interessants del Ripoll&eacute;s i tamb&eacute; donem les gr&agrave;cies a l&#39;organitzaci&oacute; per convidar-nos per tercer any consecutiu.</p><p>&nbsp;</p><p>Actualitzaci&oacute;: En Rafael Mart&iacute;n ens envia un enlla&ccedil; amb un <a href="http://www.torroellaestartit.com/noticia.php?id_noticia=99&amp;desc=inatica.com_representa_a_Torroella_de_Montgr%ED_en_la_III_Jornada_de_programari_lliure_de_Ripoll">petit resum i encara m&eacute;s fotos.&nbsp;</a> Gr&agrave;cies! </p><p>&nbsp;</p><p>&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">galeries de fotos ep,
grans fotos, per cert, com feu una galeria de fotos? és algun extra de joomla?

ah, si voleu afegir una gran anècdota, jo em pensava que els repositoris eren supositoris, el pobre fran encara riu

salut!<p class="comment-author">Escrit al 2007-10-22 11:10:13 per arnau</p></li>
    {% endblock %}

    