
    {% extends 'post_template.html' %}

    {% block title %}
        Red Hat 7.2 i 8.0 sense suport
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-08-10 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Segons s&#39;anuncia al web de <a href="http://www.fedoralegacy.org/">fedora legacy</a> se susp&egrave;n el suport a les versions 7.2 i 8.0 de Red Hat Linux.<br /> <br /> El motiu, segons diuen, &eacute;s per la falta de participaci&oacute; de la comunitat. <br /> Es recomana actualitzar de la 7.2 a la 7.3 i de la 8.0 a la 9.0.<br /> <br /> Not&iacute;cia extreta de <a href="http://www.upseros.net/noticias/noticias.php?c=linux&amp;n=294">upseros</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    