
    {% extends 'post_template.html' %}

    {% block title %}
        ReiserFS per FreeBSD
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2005-05-18 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Per fi hi ha <a href="http://www.dumbbell.fr/projects/reiserfs/index.en.html">suport</a> sobre FreeBSD per accedir  a una partici&oacute; en <a href="http://www.namesys.com/">ReiserFS</a>. De moment el suport &eacute;s de nom&eacute;s lectura, per&ograve; val m&eacute;s aix&ograve; que res :).</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    