
    {% extends 'post_template.html' %}

    {% block title %}
        Reiserfs sota FreeBSD 5.x
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-10-27 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Per fi apareix support per reiserfs sota FreeBSD!<br /> <br /> Tot i que de moment nom&eacute;s est&agrave; soportada la lectura, ja &eacute;s un gran pas per a poder usar aquest sistema de fitxers en FreeBSD. <br /> <br /> Podeu trobar l&#39;informaci&oacute; a la p&agrave;gina del <a href="http://dumbbell.nerim.net/index2.html"> projecte</a>.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    