
    {% extends 'post_template.html' %}

    {% block title %}
        Reiser4 al kernel Linux
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-12-02 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui anava a preparar la partici&oacute; per instal&middot;lar gentoo amb el reiser4 quan buscant el patch per a donar suport al kernel per aquest sistema de fitxers he vist que ja han deixat de fer patchs ja que el reiser 4 ha passat a formar part de les releases de l&#39;Andrew Morton.<br /> <br /> Concretament a partir d&#39;ara podeu trobar el suport per aquest sistema de fitxers a <a href="http://kernel.org/">http://kernel.org</a> en el patch <strong>-mm</strong>. <br /> Podeu podeu descarregar-vos el <a href="http://www.kernel.org/pub/linux/kernel/people/akpm/patches/2.6/2.6.10-rc2/2.6.10-rc2-mm3/2.6.10-rc2-mm3.bz2">patch actual</a> per aquesta versi&oacute; del kernel.<br /> <br /> Aviam si molt aviat podem gaudir d&#39;aquest innovador sistema de fitxers en les versions estables!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    