
    {% extends 'post_template.html' %}

    {% block title %}
        Reproducció del DVD
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-05-11 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aquest diumenge a Catux es reproduir&agrave; el DVD &quot;Elephants Dream&quot;, junt amb el documental de la seva creaci&oacute;.<br /> <br /> Aquest curt ha sortit del projecte <a href="http://orange.blender.org/">Orange</a>, el qual va ser iniciat l&#39;estiu passat despr&eacute;s de realitzar una recol&middot;lecta de fons per cobrir les despeses: han estat 6 mesos durant els quals han treballat els m&eacute;s grans experts en Blender, incloent-hi el seu creador Ton Rossendal, en un apartament d&#39;Amsterdam.<br /> <br /> El curt dura 11 minuts i el makeoff i extres 30 min. Es projectar&agrave; amb un projector de gran qualitat.<br /> <br /> Podeu llegir on es troba la seu de Catux a <a href="http://www.catux.org/index.php?contingut=articles&amp;num=73">aquesta p&agrave;gina.</a><br /> <br /> Us hi esperem!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Reproducció del DVD Vem veure ahir a la nit el curt i val la pena veure-ho. Els making offs estan molt bé també!
(ja tinc ganes de veure-ho al projector-catux :-) )<p class="comment-author">Escrit al 2006-12-29 16:20:20 per cpina</p></li>
    {% endblock %}

    