
    {% extends 'post_template.html' %}

    {% block title %}
        Resum del dia 27/11/2006
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2006-11-27 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aqu&iacute; teniu un petit resum del que vam fer ahir.<br /> <br /> * Va venir el Massana i li vam acabar de revisar la instal&middot;laci&oacute; del PC de la Cori. Anava tot prou correcte. Nom&eacute;s donava un error al fer un shutdown. Li hem dit que si venia un altre dia li actualitzar&iacute;em a la nova versi&oacute;, a veure si solucionem el problema.<br /> <br /> * El Pinucset ha portat una Ubuntu de &#39;rabiosa&#39; actualitat. Hem provat de fer una instal&middot;laci&oacute; en un dels PC&#39;s del Format i ha detectat correctament la tarja de xarxa. Per tant, ja no cal pensar en controladors propietaris ni res.<br /> <br /> I aix&ograve; &eacute;s tot! Falta instal&middot;lar tota la resta de PC&#39;s del Format encara.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    