
    {% extends 'post_template.html' %}

    {% block title %}
        Reunió Catux diumenge
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2007-06-09 22:13:22
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Dem&agrave; hi ha trobada de Catuxers, al <a href="informaci-general/informaci-general.html">lloc de sempre</a>  (St. Joan de Vilatorrada) a les 17h (ull! una hora abans i fins i tot serem puntuals).</p><p>&nbsp;</p><p>Idea de dem&agrave;: mirar sistemes de virtualitzaci&oacute;. Alguns de nosaltres coneixem una mica (per&ograve; poc) Xen, vservers, qemu, KVM. Mirarem tamb&eacute; OpenVZ i potser algun altre. </p><p>&nbsp;</p><p>La idea &eacute;s, poc a poc, posar els serveis del servidor de Catux en m&agrave;quines virtuals (una o m&eacute;s). Ho anirem fent els diumenges. Aix&ograve; ens donar&agrave; m&eacute;s flexibilitat, veurem com fer-ho, etc.</p><p>&nbsp;</p><p>Aix&iacute; que qui vulgui venir a montar/aprendre m&agrave;quines virtuals, hi &eacute;s benvingut!&nbsp;</p><p>&nbsp;</p><p>PD: anirem &quot;documentant&quot; i al final en farem un resum.&nbsp;</p><p>&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">uh VirtualBox és una molt bona eina  ;D<p class="comment-author">Escrit al 2007-06-29 23:29:44 per ah</p></li>
    {% endblock %}

    