
    {% extends 'post_template.html' %}

    {% block title %}
        Segona Catux/Linux Game Party
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-08-16 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Molt aviat tindrem la segona Catux/Linux game party. Concretament ser&agrave; el proper 20, 21 i 22 d&#39;agost. Interessats ja us podeu <a href="http://www.catux.org/wiki/index.php/InscritsSegonaGameParty">apuntar</a> gratu&iuml;tament (per fer previsions).<br /> Per a m&eacute;s informaci&oacute; podeu anar a <a href="http://www.catux.org/wiki/index.php/SegonaGameParty">l&#39;apartat</a> del wiki. <br /> <br /> Si voleu, podeu veure les <a href="http://www.catux.org/fotos/game-party-1/">fotos</a> de la primera party. Afanyeu-vos que encara no han passat la censura ;)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    