
    {% extends 'post_template.html' %}

    {% block title %}
        Seminari wireless
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-05-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        Els propers dies 28 i 29 de maig tindr&agrave; lloc a Manresa un seminari sobre tecnologies wireless. Aquest t&eacute; com a objectiu promoure l&#39;&uacute;s d&#39;aquesta tecnologia.  Des de Catux, realitzarem una pon&egrave;ncia el dia 29 de 4:30 a 6:30 que consistir&agrave; en l&#39;explicaci&oacute; de com muntar un Access Point a partir d&#39;un PC amb GNU/Linux.  Si voleu veure imatges de les proves que hem realitzat les teniu <a href="http://catux.org/fotos/index.php?list=17">aqu&iacute;</a>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    