
    {% extends 'post_template.html' %}

    {% block title %}
        Servidor espatllat
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-07-11 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui Dissabte entre les 9:30 i les 11:00 aproximadament s&#39;ha espatllat el disc dur principal del servidor de Catux.<br /> <br /> Hem recuperat el backup de la nit anterior de la Web nom&eacute;s (sense Wiki, ni llistes, etc.).<br /> <br /> Esperem poder-ho solucionar el Diumenge a la tarda i tornar a tenir-ho tot operatiu.<br /> <br /> Disculpeu les mol&egrave;sties, just un dia com avui (presentaci&oacute; de Catux-USB)<br /> <br /> Gr&agrave;cies!</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    