
    {% extends 'post_template.html' %}

    {% block title %}
        Solaris 10 pensat per chernobil?
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-10-06 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Acabo de llegir a la web d&#39;en <a href="http://www.caballe.com/2004/10/06.html#a3684">Xavier Caball&eacute;</a> que Solaris 10 incorporar&agrave; una protecci&oacute; per a que no es pugui esborrar tot el disc dur.<br /> <br /> Estic conven&ccedil;ut que el chernobil hi ha de tenir alguna cosa a veure, o potser &eacute;s que coneixen al pachu? :P<br /> <br /> Sigui com sigui, &eacute;s una funcionalitat curiosa. </span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Solaris 10 pensat per cher 
Per qui no entengui res (lògic), chernobil és membre de Catux, no té res a veure amb res nuclear ni demés.

I el Pachu li va eliminar el disc dur amb un rm -rf / :-)

És que aquestes bromes no es fan :-D

PD: la protecció que no es pot esborrar tot el disc dur, vol dir que en deixarà un tros? ja ho miraré :-)<p class="comment-author">Escrit al 2006-12-28 15:47:04 per cpina</p></li><li class="list-group-item comment">Re: Solaris 10 pensat per cher 
Hola lectors, jo soc el que va fer la broma. I crec chernu q et niria be posarte solaris10 i tot i aixi no deixaria un termminal de root a prop de gent "amable" que nomes et volen ajudar, fente entendre que shan de fer copies de seguretat (primer comprarse una grabadora).

Es una mica broma chernu, ja saps q et tinc un (a)presi especial<p class="comment-author">Escrit al 2006-12-28 15:47:49 per pachu</p></li>
    {% endblock %}

    