
    {% extends 'post_template.html' %}

    {% block title %}
        Sortim a la Solo Linux!
    {% endblock %}

    {% block author %}
        Sachiel
    {% endblock %}

    {% block post_date %}
        2004-09-26 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aquesta not&iacute;cia potser arriba una mica tard, per&ograve; fent-nos autopropaganda hem d&#39;anunciar que sortim a la revista &quot;Solo Linux&quot; d&#39;aquest mes (setembre). <br /> <br /> Podeu trobar un article explicant que &eacute;s Catux i la Catux-USB, un altre article explicant de forma detallada la seva instal&middot;laci&oacute;, i una refer&egrave;ncia a la nostra web. <br /> <br /> Visca Catux, que ja surt a la premsa nacional! :D </span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    