
    {% extends 'post_template.html' %}

    {% block title %}
        Sun, parla de la seva relació amb GNU/Linux
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2004-11-14 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>&nbsp;<span class="noticia">Molta gent es pregunta quina &eacute;s l&#39;estrat&egrave;gia de <a href="http://www.sun.com/">Sun</a> per poder fer negocis convivint entre GNU/Linux i <a href="http://wwws.sun.com/software/solaris/">Solaris</a> (que sembla que &eacute;s a prop de la sortida de la <a href="http://wwws.sun.com/software/solaris/10/contest/challenge.html">nova versi&oacute;</a>).<br /> <br /> <a href="http://www.sun.com/">Sun</a>, a m&eacute;s de vendre el seu maquinari amb <a href="http://www.redhat.com/">RedHat</a> i <a href="http://www.suse.com/us/">Suse</a> (si no estic equivocat...),  desenvolupa el seu propi sistema per escriptori basat en Linux JDS.<br /> <br /> Moltes d&#39;aquestes preguntes s&oacute;n contestades per Bill Claybrook, en una entrevista a <a href="http://www.linuxworld.com/story/46888.htm?DE=1">LinuxWorld</a>.</span> </p><p>&nbsp;</p><p>&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    