
    {% extends 'post_template.html' %}

    {% block title %}
        Suport per escriure amb NTFS
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-05-18 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui per casualitat m&#39;he topat amb un driver per poder tenir el 100% de suport amb NTFS sota GNU/Linux. Es tracta d&#39;un projecte anomenat &quot;Captive&quot;, que agafa el driver del mateix Window$ per aconseguir el suport. <br /> Per si hi ha alg&uacute; interessat: <a href="http://www.jankratochvil.net/project/captive/">http://www.jankratochvil.net/project/captive/</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    