
    {% extends 'post_template.html' %}

    {% block title %}
        Suport RAID-6
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-08-06 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Aquesta not&iacute;cia no t&eacute; un or&iacute;gen t&egrave;cnic ni una nova funcionalitat ni un nou driver. Simplement tracta sobre l&#39;ajuda d&#39;aquest driver al kernel de Linux.<br /> <br /> Per tal d&#39;accedir-hi (jo ho he comprovat amb el kernel 2.6.7) heu d&#39;anar a Device Drivers &gt; Multi-device support (RAID and LVM), activar l&#39;opci&oacute; Multiple devices driver support (RAID and LVM) i la RAID support. Llavors nom&eacute;s heu de mirar l&#39;ajuda de RAID-6 mode (EXPERIMENTAL).<br /> <br /> <br /> Aix&ograve; ho ha trobat el jvprat a http://topico.o2bubble.com/1236357<br /> <br /> http://topico.o2bubble.com &eacute;s un bot que recerca p&agrave;gines webs als t&ograve;pics dels canals de diverses xarxes d&#39;irc.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">no ho entenia fins que... No entenia res de la notícia fins que he mirat la direcció que poses... XDDD

(i jo pensant, però si el raid 6 no existeix :-) )<p class="comment-author">Escrit al 2006-12-28 14:04:04 per cpina</p></li>
    {% endblock %}

    