
    {% extends 'post_template.html' %}

    {% block title %}
        Tallers TIC
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2006-03-15 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">L&#39;ajuntament de Manresa organitza, com cada any, uns cursets d&#39;inform&agrave;tica dirigits a tots els ciutadans. Entre ells existeix un curset dedicat a l&#39;iniciaci&oacute; en el m&oacute;n de GNU/Linux que jo personalment imparteixo. <br /> El curset consisteix a fer una petita introducci&oacute; a l&#39;utilitzaci&oacute; dels diversos escriptoris, d&#39;una shell, del processador de textos i v&agrave;ries coses m&eacute;s.<br /> El curset dura 12 hores i costa 12 euros.<br /> Us podeu apuntar trucant al 010 o b&eacute; a <a href="http://www.ajmanresa.org/">www.ajmanresa.org</a></span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Tallers TIC 
Ei! Molt bé!

Es pot saber, però, quins dies i a quines hores imparteixes el curset?<p class="comment-author">Escrit al 2006-12-29 16:10:50 per mecatxis</p></li>
    {% endblock %}

    