
    {% extends 'post_template.html' %}

    {% block title %}
        Tercera setmana Digital E-Week
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2006-11-04 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Dilluns vinent comen&ccedil;a la tercera setmana digital E-Week, a Vic.<br /> <br /> La setmana digital toca varis temes: des d&#39;algunes confer&egrave;ncies de programari lliure, a paquets ERP, una sessi&oacute; de Manga nocturn, etc.<br /> <br /> Consulteu la seva Web <a href="http://www.e-weekvic.cat/2006/activitats.php?dia=0">plana Web</a> per tenir m&eacute;s informaci&oacute;, inscripcions, etc. La majoria d&#39;actes tenen entrada gratu&iuml;ta.<br /> <br /> Aqu&iacute; teniu el <a href="http://www.e-weekvic.cat/2006/activitats.php?dia=0">programa per dies</a>, cada dia es toca una tem&agrave;tica diferent.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    