
    {% extends 'post_template.html' %}

    {% block title %}
        Tinc una idea!!!!!
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2004-07-23 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Encara que s&oacute;c nou aqu&iacute;, m&#39;agradaria aportar una idea (no de gaires llumetes i molt avan&ccedil;ada). Resulta que l&#39;any que v&eacute; tamb&eacute; hi haur&agrave; campus-party a Val&egrave;ncia (com tots els anys), on si malament no recordo hi deu haver una secci&oacute; Linux.<br /> Podr&iacute;em fer el viatge tots plegats!!!<br /> Per poc mes de 30 &euro; (o menys amb el carnet jove) es pot agafar un Talgo a Val&egrave;ncia i des d&#39;all&agrave; anar directament a la campus-party (si hi ha places).<br /> Aquesta &eacute;s la web, si la proposta agrada, ja us podeu registrar!!<br /> <a href="http://www.campus-party.org/">http://www.campus-party.org</a><br /> <br /> PD: No podr&eacute; comen&ccedil;ar a venir a les reunions fins al setembre ja que marxo el mes que v&eacute; a San Francisco, USA (a prop de la casa d&#39;en Linus!!!)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Doncs jo ja anava a anar-hi aquest any, però al final no vaig poder. És molt bona idea, a veure si ens animem uns quants ^^<p class="comment-author">Escrit al 2006-12-28 12:39:51 per Anònim</p></li><li class="list-group-item comment">Passa un dia per Catux!! No se si estàs molt lluny de Sant Joan de Vilatorrada, però aviam si et pases algun dia!, i el mateix dic a la resta de la gent!!

Sort, us hi esperem!<p class="comment-author">Escrit al 2006-12-28 12:40:41 per whats_up</p></li><li class="list-group-item comment">Doncs jo... 
Jo demà passat ja hi vaig :-)

Si algú hi va que avisi :-)<p class="comment-author">Escrit al 2006-12-28 12:41:22 per cpina</p></li><li class="list-group-item comment">... 
en aquest moments visc a Monistrol de Montserrat, soc jove i no tinc cap tipus de carnet de conducció, per tant arribar encara es dificl.
l'any k ve potser vaig a viure a manresa, per tant estare mes a prop, agafare l'autobus o algo semblant i podre anar. Calentare al meu pare sino XDD
Igualment el mes d'agost i la mini-party son impossible a causa de un viatge per aprendre angles als USA (san francisco) probare d'anar a silicon valley, si mi porta la family :p
a més a més encara he d'instalarme linux. no puc sobrevivir amb el knoppix sense internet XDDD. tinc els cdds de fedora core, crec kels probare i deixare el mandrake!!! XDD dessitjeume sort!
dw fins la proxima<p class="comment-author">Escrit al 2006-12-28 12:41:50 per grap</p></li><li class="list-group-item comment">per cert 
mu he deixat a l'anterior post, estic fent el treball de recerca i adivineu el titol!!

LiNuX vs. WiNDoWs -- La competició per dominar el món!

(la segona part es opcional!!)

oi k m'ajudareu?! gracies, fins al setembre gracies a toots


PD: Oi k no pasa res, k faci el batx. humanístic?<p class="comment-author">Escrit al 2006-12-28 12:42:20 per grap</p></li><li class="list-group-item comment">Ningu és perfecte... Humanístic?? :S

Suposo que tothom comet errors en aquest món... ;)

Sort!<p class="comment-author">Escrit al 2006-12-28 12:42:57 per whats_up</p></li>
    {% endblock %}

    