
    {% extends 'post_template.html' %}

    {% block title %}
        Torneig de videojocs
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2008-07-23 17:50:50
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Des de la comitiva que s'ha enviat avui a l'euksal enkounter de Bilbao, s'ha decidit organitzar una mini competició interna que inclou els següents jocs:<br /><br />Crack-attack: Eliminatòries entre tots els presents <br />Teeworlds: Tots contra tots a la mateixa pantalla<br />Armagetron: Eliminatòries per parelles<br />Pydance: Eliminatòries entre tots els presents<br />Openarena: Tots contra tots a la mateixa pantalla<br /><br />Bases del concurs: A decidir sobre la marxa<br /><br />Premis: A decidir sobre la marxa</p><p>Podeu seguir el transcurs del torneig a través de la pàgina del wiki: <a href="http://www.catux.org/wiki/index.php/TorneigEuskal2008">http://www.catux.org/wiki/index.php/TorneigEuskal2008</a> </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    