
    {% extends 'post_template.html' %}

    {% block title %}
        Tornada de la iPartyX
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2008-03-31 12:31:46
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Bé, ja hem tornat de la <a href="http://ipartyx.aditel.org" target="_blank">iPartyX</a>, celebrada a la <a href="http://www.uji.es/">UJI</a> de Castelló i hem tornat tots molt alegres!</p><p>A les nostres mans hi han varis premis, entre els quals hi figuren la primera posició en el concurs de seguretat d'en Whats (el qual va guanyar un iPod Touch) i la menció especial de la gimcana d'en grap (el qual va guanyar una bossa de llaminadures) en la que vam haver de fer una muntanya de llaunes, un logo de gnome, trobar un ratolí de bola amb connexió PS2, ... També es va participar en el concurs d'Stepmania (en el que es va quedar en una "fictícia segona posició"  i ens ho vam passar molt bé, que això sempre és bo. </p><p>Les fotos de la nostra estància les podeu trobar a <a href="fotos/index.php?list=32" target="_blank">aquí </a></p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    