
    {% extends 'post_template.html' %}

    {% block title %}
        Traducció del nucli Linux
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-12-14 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Acabo de descobrir un projecte molt nou i molt interessant. Es tracta de <a href="http://tlktp.sourceforge.net/index.php">The linux kernel translation project</a>, que com el seu nom indica &eacute;s un projecte que est&agrave; traduint tot el qu&egrave; apareix al nucli, ja siguin els propis missatges, o la mateixa documentaci&oacute; que inclou cada opci&oacute;.<br /> <br /> Sembla un projecte for&ccedil;a actiu, que sense dubte ajudar&agrave; a molta gent a perdre la por a compilar-se el kernel, al entendre cadasquna de les opcions incloses.<br /> <br /> Una bona caracter&iacute;stica del projecte &eacute;s que una vegada aplicat el patch, ell sol autodetectar&agrave; l&#39;idioma usat al sistema, i ser&agrave; usat a partir de llavors per el nucli.<br /> <br /> Una molt bona feina :)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Traducció del nucli Linux MMMmmm... la gent que té por a compilar el Kernel esperem que no l'hagi de compilar... les "flower distros" (tal com deien a Bulma, no sé si algun lloc més) normalment no s'hauria de compilar aquest.

Vull dir que no hi ha massa motiu en una distro "fàcil d'usar" normalment per compilar el Kernel...

Però sí, sempre s'agraeix :-)<p class="comment-author">Escrit al 2006-12-28 16:40:40 per Anònim</p></li><li class="list-group-item comment">Re: Traducció del nucli Linux Coi, jo utilitzo Mandrake i em recompilo el nucli i altres paquets.
Clar que si vull no em cal recompilar res, ja estan compilats per a 586 i es nota la millora respecte als compilats per a 386.

Respecte al tema de traduir el nucli dons penso que es una perdua de temps, si un no és capaç d'entendre el que diu en anglès que es dediqui a una altra cosa (hi ha diccionaris).<p class="comment-author">Escrit al 2006-12-28 16:41:16 per Anònim</p></li><li class="list-group-item comment">L'ajuda i alguns fitxers ja ho Està <a href="http://www.terra.es/personal7/bella5/traduccions.htm">aquí</a>: Ara em posaré en contacte amb els que fan lo del català a veure si els interesa. Gràcies per la notícia.<p class="comment-author">Escrit al 2006-12-28 16:42:03 per Anònim</p></li>
    {% endblock %}

    