
    {% extends 'post_template.html' %}

    {% block title %}
        Traducció de Catux per Gqview/Geeqie
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2008-07-25 16:13:23
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Fa força temps (2 anys?) que Catux va traduir el <a href="http://gqview.sourceforge.net/">Gqview</a> (versió 2.1.x).</p><p>&nbsp;</p><p>El Gqview està sent desenvolupat molt lentament: fa uns dos anys que no surt cap versió nova (ni de la branca de desenvolupament). Això sí, la última versió de desenvolupament és la 2.1.5 del desembre 2006 que ja inclou la traducció de Catux.</p><p>&nbsp;</p><p>Ara fa uns mesos que va aparèixer el <a href="http://geeqie.sourceforge.net/">Geeqie</a>. Aquest és un fork del Gqview perquè no era possible contactar amb el desenvolupador del Gqview. Ahir vaig tenir una estona per provar-lo amb l'agradable sorpresa que inclou la traducció que Catux havia fet per Gqview.</p><p>&nbsp;</p><p>Així que si ara feu un apt-get install geeqie a una Debian testing o unstable podreu «gaudir» de la traducció. Ull! degut als canvis entre gqview i Geeqie hi ha força part que no està traduïda. Hi seguim treballant! </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    