
    {% extends 'post_template.html' %}

    {% block title %}
        Tutorial de Bash a Catux
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2005-06-24 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Com alguns ja saben, Catux a les <a href="http://jornadespl.upc.es/">Jornades de Programari Lliure</a> far&agrave; un taller (de MySQL) i un tutorial (de Bash).<br /> <br /> El Diumenge dia 26 de Juny a les 18h, al Format (Av. Torrent del Canig&oacute; 54, St. Joan de Vilatorrada) es far&agrave; un assaig del tutorial de Bash. Podeu anar al de Vilanova que ser&agrave; el definitiu o a la versi&oacute; preliminar que, seguint el &quot;Release early, release often&quot;, farem al lloc habitual (per ajustar temps, veure defici&egrave;ncies del temari, etc.)<br /> <br /> El tutorial &eacute;s interessant per tothom per&ograve; sobretot a tot aquell que m&eacute;s o menys ja utilitza la shell Bash i hi vol aprofundir una mica m&eacute;s (coneixer-la m&eacute;s a fons, comen&ccedil;ar a fer scripts, etc.).</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    