
    {% extends 'post_template.html' %}

    {% block title %}
        Ubuntus a Catux
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2005-12-08 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Fa setmanes a Catux vam demanar <a href="http://ubuntulinux.org/">Ubuntus</a>. Ja les tenim aqu&iacute;, aix&iacute; que si alg&uacute; en vol es pot passar el diumenge a partir de les 18h per la nostra seu (Av. Torrent del Canig&oacute; 49, St. Joan de Vilatorrada -hi ha un <a href="http://www.santjoanv.org/">mapa al Web</a>-, al costat de Manresa).<br /> <br /> Si alg&uacute; en vol moltes o no li va b&eacute; venir, se&#39;n <a href="https://shipit.ubuntu.com/">poden demanar</a> perqu&egrave; us les envi&iuml;n a casa. Aix&ograve; s&iacute;, solen tardar for&ccedil;a setmanes (i millor demanar-les de forma conjunta perqu&egrave; els &eacute;s m&eacute;s econ&ograve;mic)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    