
    {% extends 'post_template.html' %}

    {% block title %}
        Ubuntu i Mark Shuttleworth
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-09-20 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Avui estava comentant a la gent de Catux que havia comen&ccedil;at a fer servir una nova distribuci&oacute; la qual m&#39;havia sorpr&egrave;s for&ccedil;a, s&#39;anomena Ubuntu.<br /> <br /> La sorpresa ha estat m&eacute;s gran quan fa 5 minuts he <a href="http://www.hispamp3.com/noticias/noticia.php?noticia=20040916094100">llegit</a> que el multimilionari Mark Shuttleworth havia decidit invertir part de la seva fortuna en el desenvolupament de GNU/Linux. Segons diu la not&iacute;cia, es va decidir a donar suport per a desenvolupar per 4 bandes:<br /> <br /> 1. Ubuntu. Un sistema operatiu (basat en Debian)<br /> <br /> 2. Soyuz. Una plataforma que faciliti la tasca d&#39;afegir paquets de programari lliure, i una cosa semblant al gforge.<br /> <br /> 3. Malone. Un complex sistema de rastreig d&#39;errors.<br /> <br /> 4. Rosetta. Una eina per aconseguir una millor assist&egrave;ncia a l&#39;hora de traduir aplicacions.<br /> <br /> Fascinant :)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Jo també l'he vist Hola,

Abans que arribessis ho he comentat als que hi erem.

Ara fa unes hores que ja l'he baixat, a veure si tinc temps i demà al matí o a la nit la provo i dic què tal és.

Fa bona pinta, sembla una Debian de base amb els paquets actualitzats i amb una versió cada 6 mesos, pot ser la solució per recomanar una Debian als que s'inicien.

Demà més :-)<p class="comment-author">Escrit al 2006-12-28 15:14:05 per cpina</p></li><li class="list-group-item comment">RE: Jo també l'he vist Una d les coses q em dona més bon rotllo és q aquest tiu ha agafat 32 dels millors programadors dl panorama dl software lliure per a desenvolupar-la.

Al treballar sobre debian, van enviant als mantnidors de paquets tot de patchs solucionant bugs, per tant ara debian en teoria tb serà força millor :)<p class="comment-author">Escrit al 2006-12-28 15:15:49 per whats_up</p></li>
    {% endblock %}

    