
    {% extends 'post_template.html' %}

    {% block title %}
        Un any de BugDays
    {% endblock %}

    {% block author %}
        jvprat
    {% endblock %}

    {% block post_date %}
        2004-08-07 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">La comunitat que envolta Gentoo Linux celebra un any del primer BugDay, que es va organitzar el dia 2 d&#39;agost del 2003. Des d&#39;aleshores, el primer dissabte de cada mes es converteix improvitzadament en un BugDay.<br /> <br /> Els BugDays s&oacute;n unes jornades destinades a tancar tants bugs de la base de dades com sigui possible. Per aix&ograve; es reuneixen usuaris i desenvolupadors en una trobada virtual a l&#39;IRC, concretament al canal #gentoo-bugs d&#39;irc.freenode.net, per tal d&#39;unir esfor&ccedil;os en contra d&#39;aquests elements malignes.<br /> <br /> Per seguir amb la tradici&oacute;, avui torna a ser un BugDay. Esteu tots convidats a participar-hi. Aconseguirem batre el r&egrave;cord de l&#39;1 de maig amb 233 bugs tancats? ;)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    