
    {% extends 'post_template.html' %}

    {% block title %}
        Una cosa més de SELinux
    {% endblock %}

    {% block author %}
        whats_up
    {% endblock %}

    {% block post_date %}
        2004-12-12 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Per tots aquells que ultimament esteu sentint a parlar de tot el tema que porta desenvolupant Redhat del SELinux, podeu llegir <a href="http://www.livejournal.com/users/james_morris/2153.html">aquest article</a> on explica a un nivell for&ccedil;a baix en que es basa tota aquesta &quot;tecnologia&quot;.<br /> <br /> Per el que sembla, molt aviat (per a la 2.6.10) s&#39;inclour&agrave; a la versi&oacute; -mm del kernel. Tots aquells que us agrada anar a la ultima ja sabeu que us toca, un 7% de rendiment no &eacute;s poc... ;P</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    