
    {% extends 'post_template.html' %}

    {% block title %}
        Variat de Mozilla
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2004-09-03 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Fa ja uns dies que han canviat la Web de Mozilla. T&eacute; un nou disseny, que es pot veure <a href="http://www.mozilla.org/">aqu&iacute;.</a> Potser agrada veure-ho...<br /> <br /> Tamb&eacute; he vist que les <a href="http://www.mozilla.org/webalizer">estad&iacute;stiques</a> de la Web de Mozilla han fet un salt important. Des del Juny, han passat de 200.000 visitants diaris a 1.500.000 o quasi 2.000.000. <br /> <br /> Per &uacute;ltim, i tot i ser for&ccedil;a vell, es veu com CERT recomana <a href="http://www.theregister.co.uk/2004/06/28/cert_ditch_explorer/">no fer servir</a> el navegador normalment m&eacute;s emprat, potser aix&ograve; ha influenciat a que les visites de la web de Mozilla augmentessin.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">i el cap de seguretat de micro Com a comentari últim, segons  <a href="http://www.wired.com/wired/archive/12.09/view.html?pg=3">aquí</a> el cap de seguretat de Microsoft fa servir Firefox i Opera mentres no arreglaven un problema de Explorer :-)<p class="comment-author">Escrit al 2006-12-28 14:47:58 per cpina</p></li>
    {% endblock %}

    