
    {% extends 'post_template.html' %}

    {% block title %}
        Veus pel pydance
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2008-06-01 19:28:33
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Com ja sabieu, hem estat treballant en les veus de pydance i al final hem aconseguit resultats <img src="plugins/editors/tinymce/jscripts/tiny_mce/plugins/emotions/images/smiley-laughing.gif" border="0" alt="Laughing" title="Laughing" /></p><p>Aquest arxiu d'<a href="arxius/announcer/frases.tar.gz">aquí</a> conté tots els arxius d'àudio i els de configuració necessaris per a que pugueu utilitzar-lo, només l'heu de descomprimir a la carpeta themes/dj/ de la vostra instal·lació.</p><p>Posteriorment haureu de sel·leccionar el discjòquei "catux" des de les opcions del vostre menú de pydance.</p><p>Gaudiu-ne! </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    