
    {% extends 'post_template.html' %}

    {% block title %}
        VII Jornades de PL: en preparació
    {% endblock %}

    {% block author %}
        cpina
    {% endblock %}

    {% block post_date %}
        2008-03-29 21:38:19
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Des de fa unes setmanes que ja es va fer públic la crida a la partició i la informació primera de les VII Jornades de Programari Lliure.</p><p>&nbsp;</p><p>Podeu llegir-ne informació des de la seva pàgina Web: <a href="http://jornadespl.org">http://jornadespl.org</a></p><p>&nbsp;</p><p>Breu resum: del 2 al 5 de Juliol, a Barcelona, a la Universitat Pompeu Fabra (aprop del Parc de la Ciutadella). Tema: multimèdia (però amb cabuda tots els temes, igual que sempre).</p><p>&nbsp;</p><p>Es poden enviar articles fins el 28 d'Abril. </p><p>&nbsp;</p><p>Esperem veure-us per allà a uns quants!</p><p>&nbsp;</p><p>Seguirem informant una mica aquí quan quedi menys, però si esteu interessats apunteu-vos a la llista de les Jornades que tenen poc tràfic i estareu més al dia. </p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    