
    {% extends 'post_template.html' %}

    {% block title %}
        Vistes de Gnome 2.10
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2005-01-19 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Per als qui us agrada el <a href="http://www.gnome.org/">Gnome</a> (que aqu&iacute; a <a href="http://catux.org//">Catux</a> n&#39;hi ha alguns...), potser us interessa donar un cop d&#39;ull al <a href="http://www.gnome.org/%7Edavyd/gnome-2-10">futur Gnome 2.10</a>. A part d&#39;imatges, tamb&eacute; hi ha algunes informacions.<br /> <br /> Veig que han pensat amb el <a href="http://www.hitentertainment.com/pingu/uk/main.asp">Pingu</a> ^^ Espero que el <a href="http://www.catux.org/index.php?contingut=nosaltres&amp;menu=membres&amp;num=12">Pani</a> estigui content.<br /> <br /> Suposo que es veuen una mica les prefer&egrave;ncies d&#39;escriptori en aquesta not&iacute;cia :P (a mi m&#39;agrada m&eacute;s el <a href="http://kde.org/">KDE</a> o l&#39;<a href="http://xfce.org/">XFCE4</a>...)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    