
    {% extends 'post_template.html' %}

    {% block title %}
        Vulnerabilitat al protocol TCP
    {% endblock %}

    {% block author %}
        Crade
    {% endblock %}

    {% block post_date %}
        2004-04-21 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        S&#39;ha trobat una vulnerabilitat al protocol TCP (Transmission Control Protocol) que permetria a un atacant tallar les comunicacions entre servidors i encaminadors (routers). Aix&ograve; podria fer que les comunicacions a Internet se n&#39;anessin a norris, ja que podria afectar als ISP.  M&eacute;s detallat aqu&iacute;
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    