
    {% extends 'post_template.html' %}

    {% block title %}
        Web en proves disponible
    {% endblock %}

    {% block author %}
        Mecatxis
    {% endblock %}

    {% block post_date %}
        2008-03-21 16:46:23
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <p>Ja teniu disponible la nova versió de la nostra web. </p><p>A més de migrar a joomla 1.5.1 li hem fet una bona cirurgia estètica i hem afegit noves funcionalitats, com ara  l'agenda, on podreu consultar les nostres properes activitat. </p><p> De moment està en beta a catux.org/joomla</p><p>&nbsp;</p>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">A mi m'encanta!!!<p class="comment-author">Escrit al 2008-03-21 19:32:33 per franhp</p></li><li class="list-group-item comment">I a mi també m'encanta!!!<p class="comment-author">Escrit al 2008-03-21 21:44:29 per admin</p></li><li class="list-group-item comment">val autovotar-se?  :zzz<p class="comment-author">Escrit al 2008-03-22 00:42:14 per laura</p></li>
    {% endblock %}

    