
    {% extends 'post_template.html' %}

    {% block title %}
        Windows perd el monopoli a Manresa
    {% endblock %}

    {% block author %}
        franhp
    {% endblock %}

    {% block post_date %}
        2005-10-04 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Fa temps, vam comentar a Catux que no hi havia cap botiga que vengu&eacute;s un ordinador amb Linux pre-instal&middot;lat, excepte una anomenada UPI situada al carrer Barcelona.<br /> Doncs b&eacute;, avui he descobert una altra botiga que ven tots els seus ordinadors amb programari lliure pre-instal&middot;lat, per&ograve; no es tracta de cap Linux, sin&oacute; de FreeDOS. Els ordinadors que es venen s&oacute;n de la marca Beep i Benq en general.<br /> La botiga en q&uuml;esti&oacute; esta situada al Passeig on hi havia l&#39;antic Born12 i ja pinta b&eacute; (encara est&agrave; en construcci&oacute;)<br /> <br /> Espero que poc a poc les altres botigues tamb&eacute; ofereixin el mateix servei.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Windows perd el monopoli a Vagi per davant que prefereixo que posin FreeDOS que Windows, però això és una mica punyetero. Crec que volen posar un sistema operatiu perqué n'han de posar un, però FreeDOS en general és poc útil per l'usuari i acabaran posant un Windows.

Si posèssin Ubuntu's segurament seria més útil per l'usuari, etc....

És la meva opinió, estaria bé que posessin Ubuntu's i no FreeDOS

Fins aviat,<p class="comment-author">Escrit al 2006-12-29 02:09:03 per cpina</p></li><li class="list-group-item comment">Re: Windows perd el monopoli a Jo estic amb tu Pinux, pero ara vas i li dius a la gran Beep i a la gran Benq que ho facin XDDD
A mi també m'agradaria veure més botigues amb ordinadors que ja portéssin Linux de fàbrica, però gota a gota s'omple la pica<p class="comment-author">Escrit al 2006-12-29 02:10:06 per grap</p></li><li class="list-group-item comment">Re: Windows perd el monopoli a Ara grap que comentes sobre Beep i Benq, aprofito per aportar més informació.

A PC Box són força amics de Linux, almenys el que hi ha a Sagrada família a Barcelona _crec_ que et posen Linux si vols a la màquina sense cost.

Hi havia una marca de portàtils "mig clònics" que ídem.

Dic Linux, no FreeDOS :-) que segueixo pensant que és una "artimanya" per no posar Windows i posar un sistema operatiu, no per ajudar als usuaris... i segueixo pensant que millor que posin FreeDos que no Windows!

Fins aviat!<p class="comment-author">Escrit al 2006-12-29 02:10:40 per cpina</p></li><li class="list-group-item comment">Re: Windows perd el monopoli a 
Hola a tothom,

Teniu més informació sobre aquesta botiga que ven ordinadors sense Windows?

Adreça, Tel, Fax, Email, Lloc Web

L'afegiria a la llista de botigues de iglubox per si algún igualadí (o visitant de iglu-cat.net) hi està interessat :-)

Gràcies per endavant,

Albert.<p class="comment-author">Escrit al 2006-12-29 02:11:15 per albert</p></li><li class="list-group-item comment">Re: Windows perd el monopoli a Bé, sempre són bones aquestes noticies :D

Mmm... l'antic Bornt 12?

No estava a aquell carrer del Born? :S

Si algú té el número en concret o hem pot dir més o menys a on està m'aniria bé saber-ho :)<p class="comment-author">Escrit al 2006-12-29 02:12:00 per Anònim</p></li><li class="list-group-item comment">Re: Windows perd el monopoli a Si XDD per antic em volia referir a que abans hi havia un Born 12 i ara no XDD Aquesta tenda està entre la tenda de matalassos i un edifici en construcció, una miqueta més enlla hi ha un fotoprix i un supermercat.

Pel que fa al numero i tal, ho tinc que anar a mirar doncs he perdut el catàleg que vaig agafar.<p class="comment-author">Escrit al 2006-12-29 02:12:27 per grap</p></li>
    {% endblock %}

    