
    {% extends 'post_template.html' %}

    {% block title %}
        Windows pretén treure nou estàndard USB...
    {% endblock %}

    {% block author %}
        EliziR
    {% endblock %}

    {% block post_date %}
        2004-10-05 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Com que Microsoft controla part del negoci del maquinari pel que fa a la creaci&oacute; de nous est&agrave;ndards, ara pret&eacute;n treure al mercat uns nous dispositius USB, entre d&#39;altres motius, per intentar excloure a Linux.<br /> <br /> L&#39;excusa que hi posen &eacute;s la seguretat! &not;&not;&#39;<br /> <br /> Es preveu que s&#39;implanti definitivament al 2006, amb el nou sistema operatiu de Microsoft: <a href="http://msdn.microsoft.com/longhorn/">Longhorn</a>.<br /> <br /> Una altra de les raons, ser&agrave; que la compatibilitat dels actuals dispositius USB ser&agrave; limitada, cosa que fa que les empreses de maquinari es freguin les mans en veure la renovaci&oacute; que voldr&agrave; fer la gent amb els seus aparells.<br /> <br /> Microsoft l&#39;est&agrave; dissenyant juntament amb Intel. Ja veurem qu&egrave; passa (si es fa definitivament), per&ograve; segurament hi haur&agrave; complicacions per Linux.</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Windows pretén treure nou Es curios, mentres els usuaris de Gnu/linux intentam compatibilitzar, la Hasecorp fa tot lo contrari, si aixo es comoditat per l'usuari jo no estaria molt content.<p class="comment-author">Escrit al 2006-12-28 15:43:46 per Anònim</p></li><li class="list-group-item comment">Re: Windows pretén treure nou Suposo q et referies a microsoft.... :P.

Jo crec q si realment volen q sigui un standard, linux no en quedarà al marge, i no veig pas malament si volen millorar el dispositiu USB (m'entres no la caguin com la primera versió d'USB..) Tot i que està complint molt bé els objectius per els quals van ser dissenyats.

L'unica pega q hi veig és q a la uni m'estan ensenyant a programar microcontroladors per a hardware q controlin dispositius usb, i si fan el canvi, m'hauré de reciclar... :S

Sort!<p class="comment-author">Escrit al 2006-12-28 15:44:27 per whats_up</p></li>
    {% endblock %}

    