
    {% extends 'post_template.html' %}

    {% block title %}
        Wireless
    {% endblock %}

    {% block author %}
        seoman
    {% endblock %}

    {% block post_date %}
        2004-06-14 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Hola gent. Volia comentar que s&#39;ha creat una nova llista de distribuci&oacute;. Aquesta servir&agrave; per comunicar tota la gent que estigui interessada en promoure el creixement de la xarxa Wireless a Manresa. <br /> <br /> Tamb&eacute; dir que s&#39;ha creat un wiki que el podreu trobar a www.catux.org/wirelessmanresa l&#39;objectiu del qual &eacute;s semblant al de la llista de distribuci&oacute;. <br /> <br /> Us hi esperem ^^ </span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item">Sense comentaris</li>
    {% endblock %}

    