
    {% extends 'post_template.html' %}

    {% block title %}
        xorg 6.8
    {% endblock %}

    {% block author %}
        mark
    {% endblock %}

    {% block post_date %}
        2004-08-26 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Han sortit captures de pantalla de la versi&oacute; beta de xorg 6.8: <a href="http://www.kde-look.org/content/show.php?content=15431" target="_blank">www.kde-look.org</a><br /> <br /> Entre altres coses ofereix una novetat: qualsevol aplicaci&oacute; (des de konqueror fins a un joc) pot ser transparent :-)</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Ensurt 
Quan he vist el títol de la notícia m'ha caigut tot a terra, pensava que ja havia sortit la versió final (ahir vaig passar-me el vespre compilant l'xorg 6.7 ;)<p class="comment-author">Escrit al 2006-12-28 14:41:58 per jvprat</p></li><li class="list-group-item comment">versió final pel que sé encara no té data de sortida<p class="comment-author">Escrit al 2006-12-28 14:42:41 per mark</p></li><li class="list-group-item comment">Tope xulo!! Una paraula: Impresionant<p class="comment-author">Escrit al 2006-12-28 14:43:13 per whats_up</p></li>
    {% endblock %}

    