
    {% extends 'post_template.html' %}

    {% block title %}
        Yakuake: O un terminal amb certes peculiaritats
    {% endblock %}

    {% block author %}
        Pinucset
    {% endblock %}

    {% block post_date %}
        2006-05-14 00:00:00
    {% endblock %}

    {% block categories %}
        Notícies, Últimes notícies
    {% endblock %}

    {% block post %}
        <span class="noticia">Yakuake &eacute;s una aplicaci&oacute; que l&#39;Albert ens ha descobert avui a Catux i ens ha semblat molt interessant.<br /> <br /> Yakuake consisteix en un terminal una mica peculiar, est&agrave; inspirat amb el del Quake: prement F12 surt un terminal de dalt de la pantalla fent una petita animaci&oacute; de sortida.<br /> <br /> Aix&ograve; &eacute;s molt &uacute;til ja que permet tenir pestanyes i per tant tenir tots els terminals a agrupats enlloc de a la barra d&#39;aplicacions. A m&eacute;s a m&eacute;s, com que ja estan carregats en mem&ograve;ria, &eacute;s molt r&agrave;pid.<br /> <br /> Forma part del projecte KDE (extragear) i el teniu disponible a Debian mitjan&ccedil;ant aptitude (apt-get).</span>
    {% endblock %}

    {% block comments %}
        <li class="list-group-item comment">Re: Yakuake: O un terminal amb La web del Yakuake és http://yakuake.uv.ro/, tot i que no m'agrada massa la captura de pantalla: hi ha molt blau i costa de distingir el Yakuake del fons :-)

Per cert, que jo l'he posat amb el Icewm i va molt bé també (no com al Fran a Catux, que li baixava a "trompicones"...)<p class="comment-author">Escrit al 2006-12-29 16:22:05 per cpina</p></li><li class="list-group-item comment">Re: Yakuake: O un terminal amb 
ehem! el portatil era meu, em sembla que l'hem descobert entre tots dos XDD<p class="comment-author">Escrit al 2006-12-29 16:22:30 per grap</p></li><li class="list-group-item comment">Re: Yakuake: O un terminal amb Ja fa temps que el faig servir i em va molt bé.

Jo sóc KDE, però si som més de Gnome o semblant, poder us interessaria o us aniria millor el Tilda.<p class="comment-author">Escrit al 2006-12-29 16:22:53 per Elizir</p></li>
    {% endblock %}

    